# Tunnel Options

local {{ wan_ipv4|ipaddr('address') }}
remote 88.202.183.100 1195   # gb-lon-004
remote 185.16.85.54 1195     # gb3
remote 185.16.85.148 1195    # gb-lon-001
remote 185.16.85.151 1195    # gb-lon-002
remote 185.16.85.154 1195    # gb-lon-003
remote 185.16.85.170 1195    # gb2
remote 185.212.168.244 1195  # gb7
remote 185.200.118.105 1195  # gb6
remote-random
proto udp
#ipchange
nobind
dev tun
#iproute
#ifconfig
#ifconfig-noexec
#route-up
#route-pre-down
#route-noexec
#route-nopull
redirect-gateway def1
#sndbuf 524288
#rcvbuf 524288
ping 10
ping-restart 60
persist-tun
persist-key
#up /etc/openvpn/update-resolv-conf
#down /etc/openvpn/update-resolv-conf
script-security 2
#writepid
fast-io
verb 3
compress lzo  # TODO: lz4

# Client Mode

client
auth-user-pass {{ openvpn_client_auth_user_pass_file }}
auth-retry nointeract

# Data Channel Encryption

cipher AES-256-CBC

# TLS Mode Options

<ca>
-----BEGIN CERTIFICATE-----
MIIEQjCCAyqgAwIBAgIBAzANBgkqhkiG9w0BAQUFADBzMQswCQYDVQQGEwJOQTEN
MAsGA1UECBMETm9uZTENMAsGA1UEBxMETm9uZTEQMA4GA1UEChMHTXVsbHZhZDET
MBEGA1UEAxMKTXVsbHZhZCBDQTEfMB0GCSqGSIb3DQEJARYQaW5mb0BtdWxsdmFk
Lm5ldDAeFw0wOTAzMjQxNjE5NDhaFw0xOTAzMjIxNjE5NDhaMHsxCzAJBgNVBAYT
Ak5BMQ0wCwYDVQQIEwROb25lMQ0wCwYDVQQHEwROb25lMRAwDgYDVQQKEwdNdWxs
dmFkMRswGQYDVQQDExJtYXN0ZXIubXVsbHZhZC5uZXQxHzAdBgkqhkiG9w0BCQEW
EGluZm9AbXVsbHZhZC5uZXQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDFADld/psMt/92pJO/JhvWyErlPM4cLBaAomGm6WNLcKGAbw4Mu6m20b31oHiC
CU2UIqp3fAk2Qs2lppBzJ0IAMeTUi0k2ZaMlgrgm19H1tam+V5OdfNYc35qHgVML
F4HRDcrcTRkT+hHm2mjrgQU54x46P/ziZDyYPImpQrMwcFdWofUIsnUSoDaTnWnp
fhFx2RzofewDIRF6CnoDNbq4sgw6b1eIYkU9DGwY/yFJN65AeG1FUimsIa1KAWFn
CwHErLCIl1L/yzoh8BQrwXmNeTUU/Jw/bMli/IzHqFE0dRwj1du5RAgcDBcsISq0
KdsVWeepHNYZGe/ka+p4bXaNAgMBAAGjgdgwgdUwHQYDVR0OBBYEFHWKFJIN8263
Nk+LTxVsPxgVkGTeMIGlBgNVHSMEgZ0wgZqAFOFjtD5Vo9I3X946kUhRSyAa8pvF
oXekdTBzMQswCQYDVQQGEwJOQTENMAsGA1UECBMETm9uZTENMAsGA1UEBxMETm9u
ZTEQMA4GA1UEChMHTXVsbHZhZDETMBEGA1UEAxMKTXVsbHZhZCBDQTEfMB0GCSqG
SIb3DQEJARYQaW5mb0BtdWxsdmFkLm5ldIIJAIRoLqBRKrvUMAwGA1UdEwQFMAMB
Af8wDQYJKoZIhvcNAQEFBQADggEBAKS0Yj3LflezvSpB4DuU0EwIaYqxcxUTIMnX
sLZdZUpNHSfMyhEOhvplYSY5wlSO2ut4ITcOx6TSF4pLrReEJV4kDpqB/9EbDjKb
9IHgB+mPncFDf0AwAQd8AsfEnAVITL9BaVfB07ujWgEXlrDJACJXL4TaRTNubCsT
xa91p7JrcW4TLJcO2ZPabdk0xgZ9DuK40ngTeQ+srKhoqXJzetirewqwVLXzzikN
R4IMtNkgZP/vF0aS3mXoZ846kt7kPplzn3p8AHIHOXh3N2KJotsk/WAq4IJX9lWU
9nlHGckTO123a2YU1H08dnXpo1W6tJIwO61mcgw5S8yVqbwG7ys=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIEQjCCAyqgAwIBAgIJAIRoLqBRKrvUMA0GCSqGSIb3DQEBBQUAMHMxCzAJBgNV
BAYTAk5BMQ0wCwYDVQQIEwROb25lMQ0wCwYDVQQHEwROb25lMRAwDgYDVQQKEwdN
dWxsdmFkMRMwEQYDVQQDEwpNdWxsdmFkIENBMR8wHQYJKoZIhvcNAQkBFhBpbmZv
QG11bGx2YWQubmV0MB4XDTA5MDMyNDA2NDcyNVoXDTE5MDMyMjA2NDcyNVowczEL
MAkGA1UEBhMCTkExDTALBgNVBAgTBE5vbmUxDTALBgNVBAcTBE5vbmUxEDAOBgNV
BAoTB011bGx2YWQxEzARBgNVBAMTCk11bGx2YWQgQ0ExHzAdBgkqhkiG9w0BCQEW
EGluZm9AbXVsbHZhZC5uZXQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDNNzZOrq+gMaA6wfyWdNFmxlM2OB1czwFgtPiDd9f6F8m6CGYBQog3Q2Wx3yAv
hxt/uchFBCKtYz6Yh59BCxXKfNAQT2uaMC6KAvKFgz0wppi4S8YbWg2KDelNO/Zv
Rb1QT4CBWMbtYzCQZvlJpHr2ZwuXG2OiT477oMyX5Hmf+iT0drmqi+wylRr7CRBs
LBu+fxLZ2LFD5g6MATuL3ql5JLIoVjlSqIgbld74pD4WUnM61HRwFsKoCEjq409Y
QNP1xO7BeaJu3uQvg/HJhXnGZxTatXhqvdCuAPQRppQ4UnkUzxdSTrfgM3hqMony
vX1vy0dX1S8iTQCIeyzAYNObAgMBAAGjgdgwgdUwHQYDVR0OBBYEFOFjtD5Vo9I3
X946kUhRSyAa8pvFMIGlBgNVHSMEgZ0wgZqAFOFjtD5Vo9I3X946kUhRSyAa8pvF
oXekdTBzMQswCQYDVQQGEwJOQTENMAsGA1UECBMETm9uZTENMAsGA1UEBxMETm9u
ZTEQMA4GA1UEChMHTXVsbHZhZDETMBEGA1UEAxMKTXVsbHZhZCBDQTEfMB0GCSqG
SIb3DQEJARYQaW5mb0BtdWxsdmFkLm5ldIIJAIRoLqBRKrvUMAwGA1UdEwQFMAMB
Af8wDQYJKoZIhvcNAQEFBQADggEBAMjMAFPDeFOrQsvMXD/x+CuARwegS2PDZuB5
f1Svw3YDF6cB1jlc0F12nh9SZxaYRwKIlpYoolLCOLoUCLwQJ0gsokxLV7G4gVb8
dzETnNq4HG/QOPwPisjoOCaEmcd0tx1EkyNY0KLqFZTS0VdmDHCn89dDFA/6yuYI
5u04uJs7c/K4qaW7X6ajOOdneqjbtPeVOvx9DWXHxA0xz4Y+/w4laX/OTRD7jySq
K9fLfRliE5zsxzpUr5EWxAnqiABoWL71SiItk5fG8k3MJJ9SVr+YnTHmE7S4KNqu
4wTksvkb0Tmjae1lRSlMd6u2AulAxVcVKAod2QVffhj+hdkYM94=
-----END CERTIFICATE-----
</ca>

#tls-version-min 1.2
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA
remote-cert-tls server

<crl-verify>
-----BEGIN X509 CRL-----
MIIGczCCBVswDQYJKoZIhvcNAQELBQAwezELMAkGA1UEBhMCTkExDTALBgNVBAgT
BE5vbmUxDTALBgNVBAcTBE5vbmUxEDAOBgNVBAoTB011bGx2YWQxGzAZBgNVBAMT
Em1hc3Rlci5tdWxsdmFkLm5ldDEfMB0GCSqGSIb3DQEJARYQaW5mb0BtdWxsdmFk
Lm5ldBcNMTgwMjA3MTI0OTU3WhcNMjgwMjA1MTI0OTU3WjCCBK0wEgIBARcNMTgw
MjA3MTI0OTU3WjASAgEDFw0xODAyMDcxMjQ5NTdaMBICASkXDTE4MDIwNzEyNDk1
N1owEwICDasXDTE4MDIwNzEyNDk1N1owEwICDawXDTE4MDIwNzEyNDk1N1owEwIC
Da0XDTE4MDIwNzEyNDk1N1owEwICDx4XDTE4MDIwNzEyNDk1N1owEwICGxsXDTE4
MDIwNzEyNDk1N1owEwICPf4XDTE4MDIwNzEyNDk1N1owEwICSrUXDTE4MDIwNzEy
NDk1N1owFAIDAbbXFw0xODAyMDcxMjQ5NTdaMBQCAwaeUBcNMTgwMjA3MTI0OTU3
WjAUAgMGnlUXDTE4MDIwNzEyNDk1N1owFAIDCheTFw0xODAyMDcxMjQ5NTdaMBQC
AwpvDBcNMTgwMjA3MTI0OTU3WjAUAgML2jcXDTE4MDIwNzEyNDk1N1owFAIDDCfI
Fw0xODAyMDcxMjQ5NTdaMBQCAwwrKhcNMTgwMjA3MTI0OTU3WjAUAgMMNWEXDTE4
MDIwNzEyNDk1N1owFAIDDDViFw0xODAyMDcxMjQ5NTdaMBQCAwyXhRcNMTgwMjA3
MTI0OTU3WjAUAgMM99UXDTE4MDIwNzEyNDk1N1owFAIDDPfWFw0xODAyMDcxMjQ5
NTdaMBQCAwz31xcNMTgwMjA3MTI0OTU3WjAUAgMM9+MXDTE4MDIwNzEyNDk1N1ow
FAIDDPfkFw0xODAyMDcxMjQ5NTdaMBQCAwz35RcNMTgwMjA3MTI0OTU3WjAUAgMN
FHEXDTE4MDIwNzEyNDk1N1owFAIDDRSLFw0xODAyMDcxMjQ5NTdaMBQCAw1FfBcN
MTgwMjA3MTI0OTU3WjAUAgMNUWcXDTE4MDIwNzEyNDk1N1owFAIDDVFoFw0xODAy
MDcxMjQ5NTdaMBQCAw1RbBcNMTgwMjA3MTI0OTU3WjAUAgMN2AoXDTE4MDIwNzEy
NDk1N1owFAIDDdgLFw0xODAyMDcxMjQ5NTdaMBQCAw6G3xcNMTgwMjA3MTI0OTU3
WjAUAgMOkpwXDTE4MDIwNzEyNDk1N1owFAIDDpKdFw0xODAyMDcxMjQ5NTdaMBQC
Aw7DWhcNMTgwMjA3MTI0OTU3WjAUAgMPFEEXDTE4MDIwNzEyNDk1N1owFAIDDyaP
Fw0xODAyMDcxMjQ5NTdaMBQCAw9D1xcNMTgwMjA3MTI0OTU3WjAUAgMPzJQXDTE4
MDIwNzEyNDk1N1owFAIDE3pTFw0xODAyMDcxMjQ5NTdaMBQCAxN6VBcNMTgwMjA3
MTI0OTU3WjAUAgMTjroXDTE4MDIwNzEyNDk1N1owFAIDFIUDFw0xODAyMDcxMjQ5
NTdaMBQCAx7XBxcNMTgwMjA3MTI0OTU3WjAUAgMgFScXDTE4MDIwNzEyNDk1N1ow
FAIDImufFw0xODAyMDcxMjQ5NTdaMBQCAyPpNRcNMTgwMjA3MTI0OTU3WjAUAgMk
AaAXDTE4MDIwNzEyNDk1N1owFAIDJCkZFw0xODAyMDcxMjQ5NTdaMBQCAyR4SBcN
MTgwMjA3MTI0OTU3WjAUAgMkeHwXDTE4MDIwNzEyNDk1N1owDQYJKoZIhvcNAQEL
BQADggEBAF1l6/ulepXnNkgTK41AsX/QJD/z3pQhEyK/nrKQzGWOKtoloyEXL0SQ
MbWoHzbpDw6gqF1UVTs3Y/8HehtiBhQSLzwHV+9YLASe8Jj+TO7LKH1jg0l9QjeP
o9k1MrcuXyORga0VqskBg36x/x4es3pGjyqEL/DBwEHahQ2xhleS9FDN1CB2PoAH
GsrUVKF2uMGQ7WmHPIkx7BaA4K1AJIJ8da8HF0nela/F07UAy6ToYnKON8/FA7/Z
ddT6KfVy2dcBB2p++Xq5xefX2hz89OUUTNv2NOhaWrQIPvzFXNLzZhIIkgjl5zJa
eY2Qwl2StxQUZVXVWx6jLoktsss+Osk=
-----END X509 CRL-----
</crl-verify>

## IPv6 Related Options
#
#tun-ipv6
