#!/bin/sh

route -n -T1 add -inet -host "${trusted_ip}" 127.0.0.1 -reject
route -n -T1 add -inet default "${route_vpn_gateway}"

readonly dns=$(env | egrep '^foreign_option_.+=dhcp-option DNS .+' | cut -d' ' -f3)

if [[ -n "${dns}" ]]; then
  unbound-control forward $(echo "${dns}")
else
  unbound-control off
fi
