#!/bin/sh

ifconfig "${dev}" inet "${ifconfig_local}" "${route_vpn_gateway}" mtu "${tun_mtu}" netmask "${ifconfig_netmask}" up
route -n add -inet -net "${route_vpn_gateway}" -netmask "${ifconfig_netmask}" -ifp "${dev}" -label VPN "${route_vpn_gateway}"

ifconfig "${dev}" -inet6

if [ -n "${ifconfig_ipv6_local}" ]; then
  ifconfig "${dev}" inet6 "${ifconfig_ipv6_local}/${ifconfig_ipv6_netbits}"
  route -n add -inet6 -net "${ifconfig_ipv6_remote}" -prefixlen "${ifconfig_ipv6_netbits}" -ifp "${dev}" -label VPN "${ifconfig_ipv6_local}"
fi
