#!/bin/sh

function up {
  # perfect-privacy
  #/sbin/ifconfig ${dev} 10.1.210.246 10.1.210.246 mtu 1500 netmask 255.255.255.0 up
  #/sbin/ifconfig ${dev} inet6 fdbf:1d37:bbe0:0:29:2:0:1246/112
  #/sbin/route add -inet6 fdbf:1d37:bbe0:0:29:2:: -prefixlen 112 fdbf:1d37:bbe0:0:29:2:0:1246
  #/sbin/route add 10.1.210.0 -netmask 255.255.255.0 -link -iface ${dev}

  #ifconfig ${dev} ${ifconfig_local} ${ifconfig_local} mtu ${tun_mtu} netmask ${ifconfig_netmask} up
  #route add ${route_vpn_gateway} -netmask ${ifconfig_netmask} -link -iface ${dev}

  :
}

function route_up {
  route add -inet ${trusted_ip} ${route_net_gateway}
  route add -inet 0/1 -mpath ${route_vpn_gateway}
  route add -inet 128/1 -mpath ${route_vpn_gateway}
  #route add -inet6 2000:: -prefixlen 3 fdbf:1d37:bbe0:0:28:1:0:1

  #route -q delete -inet -host ${trusted_ip} || :
  #route add -inet -host ${trusted_ip} ${route_net_gateway}

  #local fopts=$(env | egrep '^foreign_option_[0-9]+=' | cut -d= -f2-)
  #local nameservers=$(echo "${fopts}" | awk '$1=="dhcp-option" && $2=="DNS" {print $3}')

  #for nameserver in ${nameservers}; do
  #  case "${nameserver}" in
  #    *:*)
  #      # TODO
  #      ;;
  #    *)
  #      route -q delete -inet -host ${nameserver} || :
  #      route add -inet -host ${nameserver} -ifp ${dev} ${ifconfig_local}
  #      ;;
  #  esac
  #done

  #pfctl -t ${dev}-gateway -T replace ${route_vpn_gateway}
  ##pfctl -t vpn-nameservers -T replace ${nameservers}

  #printf 'forward-zone:\n  name: "."\n' >/var/unbound/etc/vpn-nameservers.conf
  #for nameserver in ${nameservers}; do
  #  printf '  forward-addr: %s\n' ${nameserver} >>/var/unbound/etc/vpn-nameservers.conf
  #done
  #rcctl reload unbound || :

  #for destination in 0.0.0.0/1 128.0.0.0/1; do
  #  route add -mpath ${destination} ${route_vpn_gateway}
  #done

  :
}

function route_pre_down {
  route flush -iface ${dev}
  route delete -inet ${trusted_ip} ${route_net_gateway}
}

function down {
  :
}

printf 'HELPER: script_context=%s script_type=%s signal=%s\n' \
  "${script_context-UNSET}" "${script_type-UNSET}" "${signal-UNSET}"

# env | sort

case "${script_type}" in
  up)
    up "$@"
    ;;
  route-up)
    route_up "$@"
    ;;
  route-pre-down)
    route_pre_down "$@"
    ;;
  down)
    down "$@"
    ;;
esac
