<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>PayloadIdentifier</key>
			<string>io.osborn.tombstone.vpn</string>
			<key>PayloadUUID</key>
			<string>6D36DE84-2719-4336-925A-8C98CDF3DD9C</string>
			<key>PayloadDisplayName</key>
			<string>VPN</string>
			<key>PayloadDescription</key>
			<string>Configures VPN settings</string>
			<key>PayloadOrganization</key>
			<string>Osborn.IO</string>
			<key>UserDefinedName</key>
			<string>Tombstone</string>
			<key>VPNType</key>
			<string>IKEv2</string>
			<key>IKEv2</key>
			<dict>
				<key>OnDemandEnabled</key>
				<integer>1</integer>
				<key>OnDemandRules</key>
				<array>
					<dict>
						<key>Action</key>
						<string>Ignore</string>
						<key>InterfaceTypeMatch</key>
						<string>Cellular</string>
					</dict>
					<dict>
						<key>Action</key>
						<string>Disconnect</string>
						<key>DNSServerAddressMatch</key>
						<array>
							<string>{{ lan_ipv4|ipaddr('address') }}</string>
						</array>
						<key>SSIDMatch</key>
						<array>
{% for ssid in iked_trusted_ssids %}
							<string>{{ ssid }}</string>
{% endfor %}
						</array>
						<key>InterfaceTypeMatch</key>
						<string>WiFi</string>
					</dict>
					<dict>
						<key>Action</key>
						<string>Connect</string>
						<key>URLStringProbe</key>
						<string>http://captive.apple.com/hotspot-detect.html</string>
					</dict>
				</array>
				<key>RemoteAddress</key>
				<string>{{ wan_ipv4|ipaddr('address') }}</string>
				<key>RemoteIdentifier</key>
				<string>{{ ansible_fqdn }}</string>
				<key>LocalIdentifier</key>
				<string>{{ item.key }}@{{ global_domain }}</string>
				<key>AuthenticationMethod</key>
				<string>None</string>
				<key>ExtendedAuthEnabled</key>
				<true/>
				<key>AuthName</key>
				<string>{{ item.key }}</string>
				<key>AuthPassword</key>
				<string>{{ item.value }}</string>
				<key>EnablePFS</key>
				<true/>
				<key>IKESecurityAssociationParameters</key>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-256</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DiffieHellmanGroup</key>
					<integer>14</integer>
					<key>DisableRedirect</key>
					<true/>
				</dict>
				<key>ChildSecurityAssociationParameters</key>
				<dict>
					<key>EncryptionAlgorithm</key>
					<string>AES-128-GCM</string>
					<key>IntegrityAlgorithm</key>
					<string>SHA2-256</string>
					<key>DiffieHellmanGroup</key>
					<integer>19</integer>
					<key>DisableRedirect</key>
					<true/>
				</dict>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>OverridePrimary</key>
				<integer>1</integer>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>HTTPEnable</key>
				<true/>
				<key>HTTPProxy</key>
				<string>{{ lan_ipv4|ipaddr('address') }}</string>
				<key>HTTPPort</key>
				<integer>3128</integer>
				<key>HTTPSEnable</key>
				<false/>
{% if false %}
				<key>HTTPSProxy</key>
				<string>{{ lan_ipv4|ipaddr('address') }}</string>
				<key>HTTPSPort</key>
				<integer>3128</integer>
{% endif %}
			</dict>
		</dict>
	</array>
	<key>PayloadDisplayName</key>
	<string>Tombstone VPN</string>
	<key>PayloadIdentifier</key>
	<string>io.osborn.tombstone</string>
	<key>PayloadOrganization</key>
	<string>Osborn.IO</string>
	<key>PayloadUUID</key>
	<string>C6308B56-0F59-4F65-BD49-D548CEB1C2E1</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
