# This is the smtpd server system-wide configuration file.
# See smtpd.conf(5) for more information.

{% if smtpd_max_message_size is defined %}
smtp max-message-size {{ smtpd_max_message_size }}
{% endif %}
queue compression
{% if smtpd_queue_encryption_key is defined %}
queue encryption {{ smtpd_queue_encryption_key }}
{% endif %}

table aliases file:/etc/mail/aliases
table secrets file:/etc/mail/secrets

listen on lo0

action "local" mbox alias <aliases>
action "relay-monit" relay host smtp+tls://monit@smtp.migadu.com:587 auth <secrets>
action "relay-nick" relay host smtp+tls://nick@smtp.migadu.com:587 auth <secrets>
action "relay-root" relay host smtp+tls://root@smtp.migadu.com:587 auth <secrets>
action "relay-unifi" relay host smtp+tls://unifi@smtp.migadu.com:587 auth <secrets>

match for local action "local"
match for any mail-from monit@tombstone.osborn.io action "relay-monit"
match for any mail-from nick@tombstone.osborn.io action "relay-nick"
match for any mail-from root@tombstone.osborn.io action "relay-root"
match for any mail-from unifi@tombstone.osborn.io action "relay-unifi"
# match for any action "relay"
