#!/bin/sh

set -eu

export AWS_ACCESS_KEY_ID='{{ dns_updater_aws_access_key_id }}'
export AWS_SECRET_ACCESS_KEY='{{ dns_updater_aws_secret_access_key }}'

current_ip="$(curl -4fsS https://cloudflare.com/cdn-cgi/trace | grep -E '^ip=[0-9]+(\.[0-9]+){3}$' | sed 's/^ip=//')"
dns_ip="$(dig '{{ external_fqdn }}.' A +short)"

if [ "X${current_ip}" != "X${dns_ip}" ]; then
  change_batch="$(mktemp)"
  cat >"${change_batch}" <<EOT
{
  "Changes" : [
    {
      "Action": "UPSERT",
      "ResourceRecordSet":{
        "Name": "{{ external_fqdn }}.",
        "Type": "A",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "${current_ip}"
          }
        ]
      }
    }
  ]
}
EOT

  result="$(aws route53 change-resource-record-sets --change-batch "file://${change_batch}" --hosted-zone-id '{{ dns_updater_hosted_zone_id }}' --output text)"
  aws route53 wait resource-record-sets-changed --id "$(echo "${result}" | awk '{print $2}')"

  rm -f "${change_batch}"
  unset change_batch result
fi

unset current_ip dns_ip

cookies="$(mktemp)"
curl -k -X POST --data '{"username":"{{ dns_updater_unifi_username }}","password":"{{ dns_updater_unifi_password }}"}' --header 'Content-Type: application/json' -c "${cookies}" https://unifi.home.arpa:443/api/auth/login
current_ip="$(curl -fksS -b "${cookies}" https://unifi.{{ domain_name }}/proxy/network/api/s/default/rest/networkconf | jq -r '.data[]|select(.wan_networkgroup=="WAN").wan_ipv6')"
dns_ip="$(dig '{{ external_fqdn }}.' AAAA +short)"

if [ "X${current_ip}" != "X${dns_ip}" ]; then
  change_batch="$(mktemp)"
  cat >"${change_batch}" <<EOT
{
  "Changes" : [
    {
      "Action": "UPSERT",
      "ResourceRecordSet":{
        "Name": "{{ external_fqdn }}.",
        "Type": "AAAA",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "${current_ip}"
          }
        ]
      }
    }
  ]
}
EOT

  result="$(aws route53 change-resource-record-sets --change-batch "file://${change_batch}" --hosted-zone-id '{{ dns_updater_hosted_zone_id }}' --output text)"
  aws route53 wait resource-record-sets-changed --id "$(echo "${result}" | awk '{print $2}')"

  rm -f "${change_batch}"
  unset change_batch result
fi

rm -f "${cookies}"
unset cookies current_ip dns_ip
