{% if lan_ipv6 is defined %}
{{ lan_if }}:\
  :addr="{{ lan_ipv6 | ipaddr('network') }}":prefixlen#{{ lan_ipv6 | ipaddr('prefix') }}:\
  :rdnss="{{ lan_ipv6 | ipaddr('address') }}":\
  :dnssl={{ global_domain }}:
{% endif %}
