{
  "protocols": {
    "igmp-proxy": {
      "interface": {
        "{{ hostvars['usg']['lan_if'] }}": {
          "role": "upstream",
          "threshold": "1",
          "alt-subnet": "0.0.0.0/0"
        },
        "{{ hostvars['usg']['iot_if'] }}": {
          "role": "downstream",
          "threshold": "1",
          "alt-subnet": "0.0.0.0/0"
        }
      }
    }
  },
  "service": {
    "gui": {
      "older-ciphers": "disable"
    },
    "mdns": {
      "repeater": {
        "interface": [
          "{{ hostvars['usg']['lan_if'] }}",
          "{{ hostvars['usg']['iot_if'] }}"
        ]
      }
    }
  }
}
