{
  "interfaces": {
    "tunnel": {
      "{{ hostvars.gateway.tunnelbroker_if }}": {
        "address": [
          "{{ hostvars.gateway.tunnelbroker_address }}"
        ],
        "description": "{{ hostvars.gateway.tunnelbroker_description }}",
        "encapsulation": "sit",
        "firewall": {
          "in": {
            "ipv6-name": "WANv6_IN"
          },
          "local": {
            "ipv6-name": "WANv6_LOCAL"
          },
          "out": {
            "ipv6-name": "WANv6_OUT"
          }
        },
        "local-ip": "{{ hostvars.gateway.wan_ipv4_address }}",
        "multicast": "disable",
        "remote-ip": "{{ hostvars.gateway.tunnelbroker_remote_ip }}",
        "ttl": 255
      }
    }
  },
  "protocols": {
    "igmp-proxy": {
      "interface": {
        "{{ hostvars.gateway.lan_if }}": {
          "role": "upstream",
          "threshold": "1",
          "alt-subnet": "0.0.0.0/0"
        },
        "{{ hostvars.gateway.iot_if }}": {
          "role": "downstream",
          "threshold": "1",
          "alt-subnet": "0.0.0.0/0"
        }
      }
    },
    "static": {
      "interface-route6": {
        "::/0": {
          "next-hop-interface": {
            "{{ hostvars.gateway.tunnelbroker_if }}": "''"
          }
        }
      },
      "route": {
        "{{ hostvars.tombstone.wireguard_ipv4_subnet }}": {
          "next-hop": {
            "{{ hostvars.tombstone.lan_ipv4_address }}": {
              "distance": 1
            }
          }
        }
      }
    }
  },
  "service": {
    "dns": {
      "forwarding": {
        "cache-size": "10000",
        "except-interface": [
          "{{ hostvars.gateway.wan_if }}"
        ],
        "name-server": [
          "1.1.1.1",
          "1.0.0.1"
        ],
        "options": [
          "all-servers",
          "cname=unifi.{{ domain_name }},unifi",
          "domain-needed",
          "host-record=unifi,{{ lan_ipv4_address }}",
          "no-negcache",
          "server=/{{ domain_name }}/{{ hostvars.tombstone.lan_ipv4_address }}"
        ]
      }
    },
    "gui": {
      "older-ciphers": "disable"
    },
    "mdns": {
      "repeater": {
        "interface": [
          "{{ hostvars.gateway.lan_if }}",
          "{{ hostvars.gateway.iot_if }}"
        ]
      }
    }
  },
  "system": {
    "conntrack": {
      "modules": {
        "ftp": "disable",
        "gre": "disable",
        "h323": "disable",
        "pptp": "disable",
        "sip": "disable"
      }
    },
    "domain-name": "{{ domain_name }}",
    "static-host-mapping": {
      "host-name": {
        "trace.svc.ubnt.com": {
          "inet": [
            "0.0.0.0"
          ]
        },
        "warranty.svc.ubnt.com": {
          "inet": [
            "0.0.0.0"
          ]
        }
      }
    },
    "time-zone": "{{ timezone }}"
  }
}
