{
  "service": {
    "dns": {
      "dynamic": {
        "interface": {
          "{{ hostvars['usg']['wan_if'] }}": {
            "service": {
              "cloudflare": {
                "host-name": [
                  "mediastreamer.osborn.io",
                  "unifi.osborn.io"
                ],
                "login": "{{ hostvars['usg']['dynamic_dns_cloudflare_login'] }}",
                "options": "{{ hostvars['usg']['dynamic_dns_cloudflare_options'] }}",
                "password": "{{ hostvars['usg']['dynamic_dns_cloudflare_password'] }}",
                "server": "{{ hostvars['usg']['dynamic_dns_cloudflare_server'] }}"
              },
              "custom-dnsomatic": {
                "host-name": "{{ hostvars['usg']['dynamic_dns_dnsomatic_host_name'] }}",
                "login": "{{ hostvars['usg']['dynamic_dns_dnsomatic_login'] }}",
                "password": "{{ hostvars['usg']['dynamic_dns_dnsomatic_password'] }}",
                "protocol": "{{ hostvars['usg']['dynamic_dns_dnsomatic_protocol'] }}",
                "server": "{{ hostvars['usg']['dynamic_dns_dnsomatic_server'] }}"
              }
            }
          }
        }
      },
      "forwarding": {
        "cache-size": "10000",
        "except-interface": [
          "{{ hostvars['usg']['wan_if'] }}"
        ],
        "options": [
          "domain-needed",
          "proxy-dnssec",
          "server={{ hostvars['diskstation']['lan_ipv4_address'] }}"
        ]
      }
    },
    "nat": {
      "rule": {
        "1": {
          "description": "Captive DNS",
          "destination": {
            "address": "!{{ hostvars['usg']['lan_ipv4_address'] }}",
            "port": "53"
          },
          "inbound-interface": "{{ hostvars['usg']['lan_if'] }}",
          "inside-address": {
            "address": "{{ hostvars['diskstation']['lan_ipv4_address'] }}",
            "port": "53"
          },
          "log": "enable",
          "protocol": "tcp_udp",
          "source": {
            "address": "!{{ hostvars['diskstation']['lan_ipv4_address'] }}"
          },
          "type": "destination"
        }
      }
    }
  },
  "system": {
    "host-name": "usg"
  }
}
