module.exports = {
  default_user_settings: {
    language: "en",
    rewrite_twitter: "nitter.{{ domain_name }}",
    rewrite_youtube: "invidious.{{ domain_name }}",
  },
  does_not_track: true,
  feeds: {
    enabled: false,
  },
  tor: {
    enabled: false,
  },
  website_origin: "https://bibliogram.{{ domain_name }}",
}
