# dhcpcd configuration file.
# See dhcpcd.conf(5) for details.

# List interfaces explicitly so that dhcpcd doesn't touch others.
allowinterfaces {{ wan_if }} {{ lan_if }}

duid

#controlgroup wheel

persistent

#hostname

ipv6only

noipv6rs

#option classless_static_routes
#option domain_name
#option option domain_name_servers
#option option domain_search
#option host_name
#option interface_mtu
#option ntp_servers
option rapid_commit

require dhcp_server_identifier

# Disable running any hooks; not typically required for simple DHCPv6-PD setup.
script /usr/bin/true

#slaac private

interface pppoe0
  # ia_pd 2 {{ lan_if }}/1
  ia_pd 2 {{ lan_if }}/82

# pkg-readme:
#-- -- -- -- -- --
#ipv6only
#duid
#persistent
#option rapid_commit
#require dhcp_server_identifier
#
## disable running any hooks; not typically required for simple DHCPv6-PD setup
#script /usr/bin/true
#
## Disable dhcpcd's own router solicitation support; allow the kernel
## to do this instead by setting "inet6 autoconf" in hostname.pppoe0
#noipv6rs
#
## List interfaces explicitly so that dhcpcd doesn't touch others
#allowinterfaces pppoe0 em0 vlan3 vlan5
#
#interface pppoe0
#        # request prefix delegation for downstream interfaces.
#        ia_pd 2 em0/1 vlan3/2 vlan5/3
#-- -- -- -- -- --
