ipv6only
duid
persistent
option rapid_commit
require dhcp_server_identifier

# disable running any hooks; not typically required for simple DHCPv6-PD setup
script /usr/bin/true

noipv4ll
noipv6rs

allowinterfaces {{ wan_if }} {{ lan_if }}

interface {{ wan_if }}
  ia_na 1
  ia_pd 2 {{ lan_if }}/0
