---
apiVersion: 1

deleteDatasources:
  - name: GitHub
    orgId: 1

datasources:
  - name: GitHub
    type: grafana-github-datasource
    orgId: 1
    jsonData:
      owner: "{{ grafana_datasource_github_owner }}"
      repository: ""
    secureJsonData:
      accessToken: "{{ grafana_datasource_github_access_token }}"
    editable: false
