table aliases file:/etc/aliases
table secrets { \
{% for secret in opensmtpd_secrets %}
	{{ secret.key }} = {{ secret.value }} \
{% endfor %}
}

listen on localhost

action "local" maildir alias <aliases>
action "relay" relay helo {{ external_fqdn }} host {{ opensmtpd_relay_host }} auth <secrets>

match for local action "local"
match from local for any action "relay"
