# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto {{ lan_if }}
iface {{ lan_if }} inet static
	address {{ lan_ipv4_address }}/24
	gateway {{ lan_ipv4_subnet | ansible.utils.nthhost(1) }}
	dns-nameserver {{ lan_ipv4_subnet | ansible.utils.nthhost(1) }}
	dns-search {{ domain_name }}
