---
version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: npm
    directory:
      - /roles/homebridge/files
      - /roles/moltbot/files
    schedule:
      interval: monthly
