[Unit]
Before=smbd.service

[Mount]
What=/dev/disk/by-partuuid/{{ timemachine_partition_uuid }}
Where={{ timemachine_path }}
Type=ext4
Options=defaults,errors=remount-ro,nodev,noexec

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
