.ansible-lint linguist-language=yaml
group_vars/*/vault.yaml diff=ansible-vault linguist-generated merge=binary
host_vars/*/vault.yaml diff=ansible-vault linguist-generated merge=binary
roles/*/vars/vault.yaml diff=ansible-vault linguist-generated merge=binary
