---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args:
          - --fix=no
      - id: trailing-whitespace

  # - repo: https://github.com/ansible-community/ansible-lint.git
  #   rev: v6.8.0
  #   hooks:
  #     - id: ansible-lint
  #       files: \.(yaml|yml)$

  - repo: local
    hooks:
      - id: ansible-vault-encrypted
        name: check Ansible Vault encryption
        entry: .pre-commit-hooks.d/ansible-vault-encrypted.sh
        language: script
        files: ^(group|host)_vars/.+/vault\.(yaml|yml)$
