[defaults]
inventory = hosts
nocows = True
retry_files_enabled = False
transport = ssh
vault_password_file = .vault_password

[inventory]
# Avoid "did not meet _ requirements" warnings when using -v.
# See https://github.com/ansible/ansible/issues/48859.
enable_plugins = ini

[ssh_connection]
pipelining = True
