[defaults]
ansible_managed = %s
display_skipped_hosts = False
interpreter_python = /usr/bin/python3
inventory = hosts
nocows = True
no_target_syslog = True
vault_password_file = .vault_password

[inventory]
enable_plugins = ini

[ssh_connection]
pipelining = True
