[defaults]
display_skipped_hosts = False
interpreter_python = /usr/bin/python3
inventory = hosts
nocows = True
no_target_syslog = True
pipelining = True
vault_password_file = .vault_password

[inventory]
enable_plugins = ini

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
