# yamllint disable rule:line-length
---
- name: fetch release info
  delegate_to: localhost
  ansible.builtin.uri:
    url: https://api.github.com/repos/recyclarr/recyclarr/releases/latest
    headers:
      Accept: application/vnd.github+json
    return_content: true
    body_format: json
  register: recyclarr_release
  until: recyclarr_release is success

- name: set version fact
  ansible.builtin.set_fact:
    recyclarr_version: "{{ recyclarr_release.json.tag_name | regex_replace('^v', '') }}"

- ansible.builtin.file:
    path: "{{ recyclarr_item }}"
    owner: root
    group: root
    mode: !!str 0755
    state: directory
  loop:
    - /opt/recyclarr
    - /opt/recyclarr/{{ recyclarr_version }}
  loop_control:
    loop_var: recyclarr_item

- ansible.builtin.unarchive:
    src: https://github.com/recyclarr/recyclarr/releases/download/v{{ recyclarr_version }}/recyclarr-linux-x64.tar.xz
    remote_src: true
    dest: /opt/recyclarr/{{ recyclarr_version }}
    owner: root
    group: root
    creates: /opt/recyclarr/{{ recyclarr_version }}/recyclarr

- name: create config directory
  ansible.builtin.file:
    path: /var/lib/recyclarr
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory

- name: create config file
  ansible.builtin.template:
    src: recyclarr.yml.j2
    dest: /var/lib/recyclarr/recyclarr.yml
    owner: "{{ library_user }}"
    group: "{{ library_group }}"
    mode: !!str 0640

- name: link binary
  ansible.builtin.file:
    path: /usr/local/bin/recyclarr
    src: /opt/recyclarr/{{ recyclarr_version }}/recyclarr
    state: link
