[Unit]
After=local-fs.target network.target
Wants=tdarr-server.service

[Service]
; AmbientCapabilities=
; CapabilityBoundingSet=
Environment=LANG=en_GB.UTF-8
Environment=NODE_ENV=production
Environment=TZ={{ timezone }}
ExecStart=/var/lib/tdarr/Tdarr_Node/Tdarr_Node
LimitCORE=0:0
LockPersonality=yes
; MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
; PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
; ProtectProc=
ProtectSystem=strict
; TODO: ReadWritePaths={{ media_path }}/backups/radarr {{ media_path }}/media/movies {{ media_path }}/torrents/complete/movies {{ media_path }}/usenet/complete/movies /var/lib/radarr
ReadWritePaths={{ media_path }} /var/lib/tdarr/configs /var/lib/tdarr/logs
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
Type=simple
UMask=0007
User=tdarr
WorkingDirectory=/var/lib/tdarr

[Install]
WantedBy=multi-user.target

; vim: ft=systemd.jinja2
