[Unit]
After=local-fs.target network.target

[Service]
; DeviceAllow=/dev/dri/* rw
Environment=LANG=en_GB.UTF-8
Environment=NODE_ENV=production
Environment=TZ={{ timezone }}
Environment=ffmpegVersion=7
Environment=serverIP=127.0.0.1
Environment=serverPort={{ tdarr_server_port }}
Environment=webUIPort={{ tdarr_webui_port }}
ExecStart=/srv/tdarr/Tdarr_Server/Tdarr_Server
Group={{ library_group }}
LimitCORE=0:0
LockPersonality=yes
; MemoryDenyWriteExecute=yes
Nice=10
NoNewPrivileges=yes
; PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
; ProtectProc=
ProtectSystem=strict
ReadWritePaths=/srv/tdarr {{ library_path }}
RemoveIPC=yes
Restart=on-failure
RestartSec=5
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
Type=simple
UMask=0007
User={{ library_user }}
WorkingDirectory=/srv/tdarr

[Install]
WantedBy=multi-user.target

; vim: ft=systemd.jinja2
