{
  "serverPort": "{{ tdarr_server_port }}",
  "webUIPort": "{{ tdarr_webui_port }}",
  "serverIP": "127.0.0.1",
  "serverBindIP": true,
  "handbrakePath": "",
  "ffmpegPath": "",
  "logLevel": "INFO",
  "mkvpropeditPath": "",
  "ccextractorPath": "",
  "openBrowser": "false",
  "cronPluginUpdate": "",
  "auth": false,
  "authSecretKey": "{{ tdarr_auth_secret_key }}",
  "maxLogSizeMB": 10
}
