[Unit]
After=network.target {{ library_mount_unit_name }}
Description=Calibre-Web Daemon
Requires={{ library_mount_unit_name }}
Wants=calibre.service

[Service]
ExecStart=/opt/calibre-web/venv/bin/cps -l
Group=calibre-web
KillMode=process
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=tmpfs
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths={{ library_path }}
RemoveIPC=yes
Restart=on-failure
RestartSec=5
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
StateDirectory=calibre-web
StateDirectoryMode=0750
SupplementaryGroups={{ media_group }}
TimeoutStopSec=20
Type=simple
UMask=002
User=calibre-web
WorkingDirectory={{ calibre_web_home }}

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
