[Unit]
After=network-online.target
Description=Lightweight Kubernetes
Documentation=https://k3s.io

[Service]
Delegate=yes
ExecStart=/usr/local/bin/k3s server
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
KillMode=process
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=infinity
Restart=always
RestartSec=20s
TasksMax=infinity
TimeoutStartSec=0
Type=notify

[Install]
WantedBy=multi-user.target
