# ACCESS CONTROLS
# -----------------------------------------------------------------------------

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed.
acl localnet src {{ lan_ipv4 | ipaddr('network') }}/{{ lan_ipv4 | ipaddr('prefix') }}
acl localnet src {{ vpn_server_ipv4 | ipaddr('network') }}/{{ vpn_server_ipv4 | ipaddr('prefix') }}
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 21          # ftp
acl Safe_ports port 70          # gopher
acl Safe_ports port 80          # www
acl Safe_ports port 210         # z3950
acl Safe_ports port 443         # https
acl Safe_ports port 1025-65535  # unregistered ports
acl CONNECT method CONNECT

#
# Recommended minimum Access Permission configuration:
#
# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
http_access allow localhost manager
http_access deny manager

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
http_access deny to_localhost

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

# Example rule allowing access from your local networks.
# Adapt localnet in the ACL section to list your (internal) IP networks
# from where browsing should be allowed
http_access allow localnet
http_access allow localhost

# And finally deny all other access to this proxy
http_access deny all

# NETWORK OPTIONS
# -----------------------------------------------------------------------------

# Squid normally listens to port 3128
#http_port {{ lan_ipv4 | ipaddr('address') }}:3128 ssl-bump generate-host-certificates=on dynamic_cert_mem_cache_size=4MB cert=/etc/squid/bumpca.pem dhparams=/etc/ssl/ffdhe2048.pem
#http_port {{ vpn_server_ipv4 | ipaddr('address') }}:3128 ssl-bump generate-host-certificates=on dynamic_cert_mem_cache_size=4MB cert=/etc/squid/bumpca.pem dhparams=/etc/ssl/ffdhe2048.pem
http_port {{ lan_ipv4 | ipaddr('address') }}:3128
http_port {{ vpn_server_ipv4 | ipaddr('address') }}:3128

# SSL OPTIONS
# -----------------------------------------------------------------------------

#sslproxy_options SINGLE_DH_USE
#sslproxy_cafile /etc/ssl/cert.pem

#ssl_bump stare all
#ssl_bump bump all

##sslproxy_flags DONT_VERIFY_PEER
##sslproxy_cert_error allow all

# OPTIONS RELATING TO EXTERNAL SSL_CRTD
# -----------------------------------------------------------------------------

#sslcrtd_program /usr/local/libexec/squid/ssl_crtd -s /var/squid/ssl_db -M 16MB -b 16KB
#sslcrtd_children 32 startup=1 idle=1

# LOGFILE OPTIONS
# -----------------------------------------------------------------------------

icap_log daemon:/var/squid/logs/icap.log

# OPTIONS FOR TROUBLESHOOTING
# -----------------------------------------------------------------------------

# Leave coredumps in the first cache dir
coredump_dir /var/squid/cache

# OPTIONS FOR TUNING THE CACHE
# -----------------------------------------------------------------------------

# Add any of your own refresh_pattern entries above these.
refresh_pattern ^ftp:             1440 20% 10080
refresh_pattern ^gopher:          1440  0%  1440
refresh_pattern -i (/cgi-bin/|\?)    0  0%     0
refresh_pattern .                    0 20%  4320

# ICAP OPTIONS

icap_enable on

icap_service url_check reqmod_precache icap://127.0.0.1:{{ c_icap_port }}/{{ c_icap_url_check_id }}

# MESSSAGE ADAPTATION OPTIONS
# -----------------------------------------------------------------------------

adaptation_access url_check allow all

# MISCELLANEOUS
# -----------------------------------------------------------------------------

forwarded_for delete
