<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>PayloadCertificateFileName</key>
			<string>sslBumpCA.crt</string>
			<key>PayloadContent</key>
			<data>
			{{ squid_ca_certificate | b64encode }}
			</data>
			<key>PayloadDescription</key>
			<string>Adds a CA root certificate for sslBump</string>
			<key>PayloadDisplayName</key>
			<string>sslBump CA Cert Signing Authority</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.root.F72C7B44-70F2-423B-BF76-CEE6814A33E4</string>
			<key>PayloadType</key>
			<string>com.apple.security.root</string>
			<key>PayloadUUID</key>
			<string>F72C7B44-70F2-423B-BF76-CEE6814A33E4</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>This profile contains sslBump root CA certificate</string>
	<key>PayloadDisplayName</key>
	<string>sslBump CA Cert Signing Authority</string>
	<key>PayloadIdentifier</key>
	<string>io.osborn.sslBump</string>
	<key>PayloadOrganization</key>
	<string>Osborn.IO</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>C652269F-1E35-46BB-A2FF-1FA97807D4A6</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
