#!/bin/ksh

set -euo pipefail

get_ipv4_address() {
  curl -4fsS http://ifconfig.co
}

get_ipv6_address() {
  ifconfig "$1" inet6 | grep autoconf | grep -v temporary |
    awk '$1=="inet6" {print $2}'
}

get_record() {
  curl -fsS \
    -H 'Authorization: Bearer {{ cloudflare_api_token }}' \
    -H 'Content-Type: application/json' \
    "https://api.cloudflare.com/client/v4/zones/$1/dns_records?name={{ ansible_fqdn }}&type=$2"
}

get_zone() {
  curl -fsS \
    -H 'Authorization: Bearer {{ cloudflare_api_token }}' \
    -H 'Content-Type: application/json' \
    'https://api.cloudflare.com/client/v4/zones?name={{ domain_name }}'
}

set_address() {
  curl -fsS \
    -X PATCH \
    -H 'Authorization: Bearer {{ cloudflare_api_token }}' \
    -H 'Content-Type: application/json' \
    -d "{\"content\":\"$3\",\"ttl\":60}" \
    -o /dev/null \
    "https://api.cloudflare.com/client/v4/zones/$1/dns_records/$2"
}

ipv4_address="$(get_ipv4_address)"
current_a="$(dig @1.1.1.1 '{{ ansible_fqdn }}' A +short)"

if [[ "${current_a}" != "${ipv4_address}" ]]; then
  zone_id=$(get_zone | jq -r '.result[0].id')
  record=$(get_record "${zone_id}" A | jq -r '.result[0]|[.id,.content]|@tsv')
  record_id=$(echo "${record}" | cut -f1)
  address=$(echo "${record}" | cut -f2)
  set_address "${zone_id}" "${record_id}" "${ipv4_address}"
fi

ipv6_address="$(get_ipv6_address '{{ lan_if }}')"
current_aaaa="$(dig @1.1.1.1 '{{ ansible_fqdn }}' AAAA +short)"

if [[ "${current_aaaa}" != "${ipv6_address}" ]]; then
  zone_id=$(get_zone | jq -r '.result[0].id')
  record=$(get_record "${zone_id}" AAAA | jq -r '.result[0]|[.id,.content]|@tsv')
  record_id=$(echo "${record}" | cut -f1)
  address=$(echo "${record}" | cut -f2)
  set_address "${zone_id}" "${record_id}" "${ipv6_address}"
fi
