---
- name: install package
  ansible.builtin.apt:
    name:
      - opensmtpd
      - opensmtpd-filter-dkimsign
    state: present

- name: configure aliases
  ansible.builtin.copy:
    content: "{{ opensmtpd_aliases }}\n"
    dest: /etc/aliases
    owner: root
    group: root
    mode: !!str 0444
  notify: restart opensmtpd

- name: configure mailname
  ansible.builtin.copy:
    content: "{{ external_fqdn }}\n"
    dest: /etc/mailname
    owner: root
    group: root
    mode: !!str 0444
  notify: restart opensmtpd

- name: configure smtpd
  ansible.builtin.template:
    src: smtpd.conf.j2
    dest: /etc/smtpd.conf
    owner: root
    group: root
    mode: !!str 0440
    validate: smtpd -f %s -n
  notify: restart opensmtpd

- name: enable and start service
  ansible.builtin.systemd_service:
    name: opensmtpd.service
    enabled: true
    state: started
