# yamllint disable rule:line-length
---
- name: fetch release info
  delegate_to: localhost
  ansible.builtin.uri:
    url: https://api.github.com/repos/immich-app/immich/releases/latest
    headers:
      Accept: application/vnd.github+json
    return_content: true
    body_format: json
  register: immich_result
  until: immich_result is success

- name: set version fact
  ansible.builtin.set_fact:
    immich_version: "{{ immich_result.json.tag_name }}"

- name: create group
  ansible.builtin.group:
    name: immich
    system: true

- name: create user
  ansible.builtin.user:
    create_home: false
    group: immich
    home: "{{ immich_home }}"
    name: immich
    shell: "{{ nologin_shell }}"
    system: true

- ansible.builtin.getent:
    database: passwd
    key: immich

- ansible.builtin.set_fact:
    immich_gid: "{{ ansible_facts.getent_passwd['immich'][2] }}"
    immich_uid: "{{ ansible_facts.getent_passwd['immich'][1] }}"

- name: create home directory
  ansible.builtin.file:
    path: "{{ immich_home }}"
    owner: root
    group: immich
    mode: !!str 0750
    state: directory

- ansible.builtin.copy:
    content: |
      DB_DATABASE_NAME={{ immich_db_name }}
      DB_HOSTNAME=immich_database
      DB_PASSWORD={{ immich_db_password }}
      DB_USERNAME={{ immich_db_username }}
      TZ={{ timezone }}
    dest: "{{ immich_home }}/.env"
    owner: root
    group: immich
    mode: !!str 0440
  register: immich_env

- name: create data directory
  ansible.builtin.file:
    path: "{{ immich_home }}/data"
    owner: root
    group: immich
    mode: !!str 0770
    state: directory

- name: create data directories
  ansible.builtin.file:
    path: "{{ immich_home }}/data/{{ immich_item }}"
    owner: immich
    group: immich
    mode: !!str 0750
    state: directory
  loop:
    - library
    - postgresql
  loop_control:
    loop_var: immich_item

- name: create networks
  community.docker.docker_network:
    name: "{{ immich_item }}"
    driver: overlay
    attachable: true
    internal: true
    state: present
  loop:
    - immich_external
    - immich_internal
  loop_control:
    loop_var: immich_item

- name: create model-cache volume
  community.docker.docker_volume:
    name: immich_model_cache
    state: present

- name: create database service
  community.docker.docker_swarm_service:
    env:
      POSTGRES_DB: "{{ immich_db_name }}"
      POSTGRES_INITDB_ARGS: --data-checksums
      POSTGRES_PASSWORD: "{{ immich_db_password }}"
      POSTGRES_USER: "{{ immich_db_username }}"
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    labels:
      traefik.enable: !!str false
    mounts:
      - source: "{{ immich_home }}/data/postgresql"
        target: /var/lib/postgresql/data
        type: bind
      - target: /dev/shm
        type: tmpfs
        tmpfs_size: 128M
    name: immich_database
    networks:
      - immich_internal
    restart_config:
      condition: any
      delay: 5s
    tls: true

- name: create machine-learning service
  community.docker.docker_swarm_service:
    env_files:
      - "{{ immich_home }}/.env"
    force_update: "{{ immich_env is changed }}"
    image: ghcr.io/immich-app/immich-machine-learning:{{ immich_version }}
    labels:
      traefik.enable: !!str false
    mounts:
      - source: immich_model_cache
        target: /cache
        type: volume
    name: immich_machine_learning
    networks:
      - immich_internal
    restart_config:
      condition: any
      delay: 5s
    tls: true

- name: create server service
  community.docker.docker_swarm_service:
    env_files:
      - "{{ immich_home }}/.env"
    force_update: "{{ immich_env is changed }}"
    image: ghcr.io/immich-app/immich-server:{{ immich_version }}
    labels:
      traefik.enable: !!str true
      traefik.http.routers.immich.rule: Host(`immich.{{ domain_name }}`)
      traefik.http.routers.immich.entrypoints: web
      traefik.http.services.immich.loadbalancer.server.port: 2283
    mounts:
      - source: "{{ immich_home }}/data/library"
        target: /data
        type: bind
      - readonly: true
        source: /etc/localtime
        target: /etc/localtime
        type: bind
    name: immich_server
    networks:
      - immich_external
      - immich_internal
    restart_config:
      condition: any
      delay: 5s
    tls: true

# - name: create user on NAS
#   delegate_to: diskstation
#   ansible.builtin.command:
#     argv:
#       - /usr/syno/sbin/synouser
#       - --add
#       - immich
#       - "" # passwd (empty, SSH key auth only)
#       - "" # full_name
#       - 0  # expires
#       - "" # email
#       - 0  # app_privilege
#   register: immich_result
#   failed_when: false
#   changed_when: immich_result.rc == 0
#
# - name: get UID/GID from NAS
#   delegate_to: diskstation
#   ansible.builtin.command:
#     argv:
#       - /usr/syno/sbin/synouser
#       - --get
#       - immich
#   register: immich_result
#   changed_when: false
#
# - ansible.builtin.set_fact:
#     immich_uid: "{{ immich_result.stdout | regex_search('User uid\\s+:\\s+\\[(\\d+)\\]', '\\1') | first }}"
#     immich_gid: "{{ immich_result.stdout | regex_search('Primary gid\\s+:\\s+\\[(\\d+)\\]', '\\1') | first }}"
#
# - name: create user on tombstone
#   ansible.builtin.user:
#     create_home: false
#     group: "{{ immich_gid }}"
#     home: /srv/immich
#     name: immich
#     uid: "{{ immich_uid }}"
#     shell: "{{ nologin_shell }}"
#     system: false
#
# - name: create mount directory
#   ansible.builtin.file:
#     path: /srv/immich
#     owner: immich
#     group: "{{ immich_gid }}"
#     mode: !!str 0755
#     state: directory
#
# - name: create database mount unit
#   ansible.builtin.copy:
#     content: |
#       [Mount]
#       What=192.168.1.3:/volume1/immich-database
#       Where=/srv/immich/database
#       Type=nfs4
#       Options=rw,hard,nfsvers=4.1,nodev,nosuid
#
#       [Install]
#       WantedBy=remote-fs.target
#     dest: /etc/systemd/system/srv-immich-database.mount
#     owner: root
#     group: root
#     mode: !!str 0444
#   notify: reload immich mounts
#
# - name: create library mount unit
#   ansible.builtin.copy:
#     content: |
#       [Mount]
#       What=192.168.1.3:/volume1/immich-library
#       Where=/srv/immich/library
#       Type=nfs4
#       Options=rw,hard,nfsvers=4.1,nodev,nosuid
#
#       [Install]
#       WantedBy=remote-fs.target
#     dest: /etc/systemd/system/srv-immich-library.mount
#     owner: root
#     group: root
#     mode: !!str 0444
#   notify: reload immich mounts
#
# - name: enable and start mounts
#   ansible.builtin.systemd_service:
#     name: "{{ immich_item }}"
#     daemon_reload: true
#     enabled: true
#     state: started
#   loop:
#     - srv-immich-database.mount
#     - srv-immich-library.mount
#   loop_control:
#     loop_var: immich_item
#
# - name: mount now
#   ansible.builtin.meta: flush_handlers
#
# # - name: set ownership and permissions
# #   ansible.builtin.file:
# #     path: "{{ immich_item }}"
# #     owner: immich
# #     group: "{{ immich_gid }}"
# #     mode: !!str 0700
# #     state: directory
# #   loop:
# #     - /srv/immich/database
# #     - /srv/immich/library
# #   loop_control:
# #     loop_var: immich_item

- name: publish DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yaml
  vars:
    unbound_content: |
      server:
        local-data: "immich.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-immich.conf
