# yamllint disable rule:line-length
---
- name: create group
  ansible.builtin.group:
    name: immich
    system: true

- name: create user
  ansible.builtin.user:
    create_home: false
    group: immich
    home: /srv/immich
    name: immich
    shell: "{{ nologin_shell }}"
    system: true

- name: create data directory
  ansible.builtin.file:
    path: /srv/immich
    owner: immich
    group: immich
    mode: !!str 0700
    state: directory

- name: publish DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yml
  vars:
    unbound_content: |
      server:
        local-data: "photos.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-immich.conf
