---
- name: "valkey : configure"
  ansible.builtin.template:
    src: valkey.conf.j2
    dest: /etc/valkey/valkey-immich.conf
    owner: valkey
    group: valkey
    mode: !!str 0440
    # validate: valkey-server --test-config %s
  notify: restart valkey-server@immich

- name: "valkey : create service overrides directory"
  ansible.builtin.file:
    path: /etc/systemd/system/valkey-server@immich.service.d
    owner: root
    group: root
    mode: !!str 0755
    state: directory

- name: "valkey : configure service"
  ansible.builtin.copy:
    content: |
      [Unit]
      Before=docker.service

      [Service]
      # Add immich group to allow access to the unix socket
      # SupplementaryGroups=immich
      # Set proper permissions on the runtime directory
      # RuntimeDirectoryMode=2775
      # Set a valid locale to avoid locale errors
      Environment=LC_ALL=en_GB.UTF-8
    dest: /etc/systemd/system/valkey-server@immich.service.d/overrides.conf
    owner: root
    group: root
    mode: !!str 0444
  notify: restart valkey-server@immich

- name: "valkey : enable and start service"
  ansible.builtin.systemd_service:
    name: valkey-server@immich.service
    daemon_reload: true
    enabled: true
    state: started

- name: "valkey : add user to valkey group"
  ansible.builtin.user:
    name: immich
    groups: valkey
    append: true
