<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>OnDemandEnabled</key>
			<integer>1</integer>
			<key>OnDemandRules</key>
			<array>
{% if mobileconfig_disconnect_ssids | default([]) | length %}
				<dict>
					<key>Action</key>
					<string>Disconnect</string>
					<key>InterfaceTypeMatch</key>
					<string>WiFi</string>
					<key>SSIDMatch</key>
					<array>
{%   for ssid in mobileconfig_disconnect_ssids %}
						<string>{{ ssid }}</string>
{%   endfor %}
					</array>
				</dict>
{% endif %}
				<dict>
					<key>Action</key>
					<string>Connect</string>
				</dict>
			</array>
			<key>PayloadDisplayName</key>
			<string>VPN</string>
			<key>PayloadIdentifier</key>
			<string>io.osborn.wireguard.tombstone</string>
			<key>PayloadType</key>
			<string>com.apple.vpn.managed</string>
			<key>PayloadUUID</key>
			<string>3DC402BC-B14C-4169-9519-C52397EDD7C5</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>UserDefinedName</key>
			<string>Home Tunnel</string>
			<key>VendorConfig</key>
			<dict>
				<key>WgQuickConfig</key>
				<string>
					[Interface]
					Address = {{ item.address | join(', ') }}
					PrivateKey = {{ item.private_key }}
					DNS = {{ hostvars.tombstone.vpn_ipv4_address }}
					[Peer]
					PublicKey = {{ hostvars.tombstone.vpn_public_key }}
					PresharedKey = {{ hostvars.tombstone.vpn_pre_shared_key }}
					Endpoint = {{ hostvars.tombstone.external_fqdn }}:{{ hostvars.tombstone.vpn_listen_port }}
					AllowedIPs = 0.0.0.0/0, ::/0
				</string>
			</dict>
			<key>VPN</key>
			<dict>
				<key>AuthenticationMethod</key>
				<string>Password</string>
				<key>RemoteAddress</key>
				<string>{{ hostvars.tombstone.external_fqdn }}:{{ hostvars.tombstone.vpn_listen_port }}</string>
			</dict>
			<key>VPNSubType</key>
			<string>com.wireguard.ios</string>
			<key>VPNType</key>
			<string>VPN</string>
		</dict>
		<dict>
			<key>PayloadCertificateFileName</key>
			<string>root_ca.crt</string>
			<key>PayloadContent</key>
			<data>
				{{ root_ca_payload_content }}
			</data>
			<key>PayloadDescription</key>
			<string>Adds a CA root certificate</string>
			<key>PayloadDisplayName</key>
			<string>{{ ownca_common_name }}</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.security.root.C92162B4-0ED5-46BC-B705-DCC8E64AA436</string>
			<key>PayloadType</key>
			<string>com.apple.security.root</string>
			<key>PayloadUUID</key>
			<string>C92162B4-0ED5-46BC-B705-DCC8E64AA436</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDisplayName</key>
	<string>Home Network</string>
	<key>PayloadIdentifier</key>
	<string>io.osborn.FCC9BF80-C540-44C1-B243-521FDD1B2905</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>1099BB89-950E-4D58-82B6-2EDF0468EAFA</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
