[Cache]
listMinutes = 240  # how long to cache list info (not the tweets, so keep it high)
redisConnections = 20  # connection pool size
redisHost = tasks.nitter-redis
redisMaxConnections = 30
redisPassword = ""
redisPort = 6379
rssMinutes = 10  # how long to cache rss queries

[Config]
base64Media = false  # use base64 encoding for proxied media urls
enableDebug = false  # enable request logs and debug endpoints
enableRSS = false  # set this to false to disable RSS feeds
hmacKey = "{{ nitter_config_hmac_key }}"  # random key for cryptographic signing of video urls
proxy = ""  # http/https url, SOCKS proxies are not supported
proxyAuth = ""
tokenCount = 10

# Change default preferences here, see src/prefs_impl.nim for a complete list
[Preferences]
replaceInstagram = "bibliogram.{{ domain_name }}"
replaceReddit = "teddit.{{ domain_name }}"
replaceTwitter = "nitter.{{ domain_name }}"
replaceYouTube = "invidious.{{ domain_name }}"

[Server]
address = "0.0.0.0"
hostname = "nitter.{{ domain_name }}"
httpMaxConnections = 100
https = true
port = 8080
staticDir = "./public"
title = "nitter"

; vim: ft=dosini.jinja2
