[Unit]
After=network.target {{ media_mount_unit_name }}
Description=Calibre Server
Requires={{ media_mount_unit_name }}

[Service]
ExecStart=/usr/bin/calibre-server --disable-use-bonjour --enable-local-write --listen-on=127.0.0.1 --port={{ calibre_port }} --trusted-ips=127.0.0.1 {{ media_path }}/Books
Group=calibre
KillMode=process
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=tmpfs
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths={{ media_path }}
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
StateDirectory=calibre
StateDirectoryMode=0750
SupplementaryGroups={{ media_group }}
TimeoutStopSec=20
Type=simple
UMask=002
User=calibre
WorkingDirectory={{ calibre_home }}

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
