server {
	listen 80;
	server_name plex.{{ domain_name }};

	location / {
		allow {{ lan_ipv4_subnet }};
		deny all;

		proxy_http_version 1.1;
		return 301 http://$host:32400$request_uri;
	}
}

# vim: ft=nginx.jinja2
