*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

# Allow all on loopback
[0:0] -A INPUT -i lo -j ACCEPT

# Allow all on wireguard
[0:0] -A INPUT -i {{ wireguard_if }} -j ACCEPT

# Quickly process packets for which we already have a connection.
[0:0] -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# Drop INVALID packets.
[0:0] -A INPUT -m conntrack --ctstate INVALID -j DROP

# OK ICMP codes for INPUT.
[0:0] -A INPUT -p icmp --icmp-type destination-unreachable -j ACCEPT
[0:0] -A INPUT -p icmp --icmp-type echo-request -j ACCEPT
[0:0] -A INPUT -p icmp --icmp-type parameter-problem -j ACCEPT
[0:0] -A INPUT -p icmp --icmp-type time-exceeded -j ACCEPT

# Allow DHCP client to work.
[0:0] -A INPUT -p udp --sport 67 --dport 68 -j ACCEPT

[0:0] -A INPUT -p tcp -m tcp --dport 22 -m state --state NEW -m recent --update --seconds 10 --hitcount 10 --name DEFAULT --mask 255.255.255.255 --rsource -j DROP
[0:0] -A INPUT -p tcp -m tcp --dport 22 -m state --state NEW -m recent --set --name DEFAULT --mask 255.255.255.255 --rsource -j ACCEPT

[0:0] -A INPUT -p udp -m udp --dport 51820 -m state --state NEW -m recent --update --seconds 10 --hitcount 10 --name DEFAULT --mask 255.255.255.255 --rsource -j DROP
[0:0] -A INPUT -p udp -m udp --dport 51820 -m state --state NEW -m recent --set --name DEFAULT --mask 255.255.255.255 --rsource -j ACCEPT

# Don't log noisy services.
[0:0] -A INPUT -p udp --dport 67 -j DROP
[0:0] -A INPUT -p udp --dport 68 -j DROP
[0:0] -A INPUT -p udp --dport 137 -j DROP
[0:0] -A INPUT -p udp --dport 138 -j DROP
[0:0] -A INPUT -p tcp --dport 139 -j DROP
[0:0] -A INPUT -p tcp --dport 445 -j DROP

# Don't log noisy broadcast.
[0:0] -A INPUT -m addrtype --dst-type BROADCAST -j DROP

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

COMMIT
