# yamllint disable rule:line-length
---
- when: ansible_facts['system'] == 'Linux'
  block:
    - ansible.builtin.import_tasks: debian.yaml
      when: ansible_facts['distribution'] == 'Debian'

    - ansible.builtin.import_tasks: synology.yaml
      when: ansible_facts['system_vendor'] == 'Synology'

- when: ansible_facts['os_family'] == 'Windows'
  block:
    - ansible.builtin.import_tasks: windows.yaml
