authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{ ansible_fqdn }} {
	domain key "/etc/ssl/private/{{ ansible_fqdn }}.key"
	domain full chain certificate "/etc/ssl/{{ ansible_fqdn }}.fullchain.pem"
	sign with letsencrypt
}
