options.keepalive = 5 -- minutes
options.persist = true
options.wakeonany = true

account = IMAP {
  server = '{{ imapfilter_imap_server }}',
  username = '{{ imapfilter_imap_username }}',
  password = '{{ imapfilter_imap_password }}',
  ssl = '{{ imapfilter_imap_ssl }}'
}

repeat
  recent = account.INBOX:is_recent()
{% for rule in imapfilter_rules %}

  {{ rule | indent(width=2) }}
{% endfor %}
until not account.INBOX:enter_idle()
