[Unit]
After=network-online.target
ConditionPathExists=/home/%i/.imapfilter/config.lua
Description=Mail filter

[Service]
BindPaths=/home/%i/.cache/imapfilter
BindReadOnlyPaths=/home/%i/.imapfilter
CapabilityBoundingSet=
DeviceAllow=
ExecStart=/usr/bin/imapfilter -v
KeyringMode=private
LimitCORE=0
LimitNOFILE=512
LimitNPROC=64
LockPersonality=yes
MemoryDenyWriteExecute=yes
; MemoryMax=256M
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
PrivateUsers=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=tmpfs
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
Restart=on-failure
RestartSec=20
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SecureBits=
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @mount @debug @cpu-emulation @obsolete @raw-io @reboot @swap @module
TasksMax=64
Type=simple
UMask=0077
User=%i
WorkingDirectory=/home/%i

[Install]
WantedBy=sysinit.target
