---
blocking:
  blackLists:
    default:
      - https://big.oisd.nl/domainswild
  blockTTL: 1m # TODO
  # blockType: nxdomain
  clientGroupsBlock:
    default:
      - default

bootstrapDns:
  - upstream: tcp-tls:cloudflare-dns.com
    ips:
      - 1.0.0.1
      - 1.1.1.1

clientLookup:
  upstream: "{{ hostvars.gateway.lan_ipv4_address }}"

log:
  timestamp: false

ports:
  dns: 127.0.0.1:5300
  http: 127.0.0.1:4000

prometheus:
  enable: true

upstreams:
  groups:
    default:
      - https://mozilla.cloudflare-dns.com/dns-query
