#
# $OpenBSD: acme-client.conf,v 1.6 2017/11/27 01:59:55 florian Exp $
#
authority letsencrypt {
        api url "https://acme-v01.api.letsencrypt.org/directory"
        account key "{{ letsencrypt_account_key_file }}"
}
{% if letsencrypt_staging_ccount_key is defined %}

authority letsencrypt-staging {
        api url "https://acme-staging.api.letsencrypt.org/directory"
        account key "{{ letsencrypt_staging_account_key_file }}"
}
{% endif %}
{% for site in sites | sort(attribute='name') %}

domain {{ site.name }} {
{%   if site.aliases is defined %}
        alternative names { {{ site.aliases | sort | join(' ' ) }} }
{%   endif %}
        domain key "/etc/ssl/private/{{ site.name }}.key"
        domain certificate "/etc/ssl/{{ site.name }}.crt"
        domain chain certificate "/etc/ssl/{{ site.name }}.chain.pem"
        domain full chain certificate "/etc/ssl/{{ site.name }}.fullchain.pem"
        sign with letsencrypt
}
{% endfor %}
