[global]
	bind interfaces only = yes
	client max protocol = default
	client min protocol = SMB2_02
	dns proxy = no
	fruit:delete_empty_adfiles = yes
	fruit:metadata = stream
	fruit:model = MacSamba
	fruit:nfc_aces = no
	fruit:posix_rename = yes
	fruit:veto_appledouble = no
	fruit:wipe_intentionally_left_blank_rfork = yes
	interfaces = lo {{ lan_if }}
	log file = /var/log/samba/%m.log
	max log size = 50
	obey pam restrictions = yes
	pam password change = yes
	security = user
	server max protocol = SMB3
	server min protocol = SMB2_02
	unix password sync = yes
	vfs objects = catia fruit streams_xattr

; Other
;	mdns name = {{ inventory_hostname_short | capitalize }}
;	hosts allow = 127.0.0.1 ::1 {{ lan_ipv4_subnet }} EXCEPT {{ gateway }}

; ??
;	map to guest = bad user
;	server role = standalone server
	server string = Samba Server

[TimeMachine]
	available = yes
	browseable = yes
	create umask = 0755
	fruit:time machine = yes
	fruit:time machine max size = 1T
	hide files = /lost+found/
	path = {{ timemachine_path }}
	read only = no
	writable = yes
	guest ok = no
	valid users = {{ timemachine_valid_users | join(' ') }}
	veto files = /.DS_Store/
	vfs objects = catia fruit streams_xattr

; vim: ft=dosini.jinja2 sw=2 ts=2
