---
- ansible.builtin.file:
    path: /etc/systemd/system-preset
    owner: root
    group: root
    mode: !!str 0755
    state: directory

- ansible.builtin.copy:
    content: |
      disable valkey-server.service
    dest: /etc/systemd/system-preset/00-valkey-server.preset
    owner: root
    group: root
    mode: !!str 0444

- name: install packages
  ansible.builtin.apt:
    name:
      - valkey-server
      - valkey-tools
    install_recommends: false
    state: present

- name: stop and disable service
  ansible.builtin.systemd:
    name: valkey-server.service
    enabled: false
    masked: true
    state: stopped

- ansible.builtin.sysctl:
    name: vm.overcommit_memory
    value: 1
    sysctl_file: /etc/sysctl.d/99-valkey-server.conf
