---
- name: create config directory
  ansible.builtin.file:
    path: /srv/radarr
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory

- name: create library directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ radarr_item }}"
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2750
    state: directory
  loop:
    - backups
    - media
    - torrents
    - usenet
  loop_control:
    loop_var: radarr_item

- name: create library directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ radarr_item }}"
    owner: "{{ library_user }}"
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory
  loop:
    - backups/radarr
    - media/movies
    - torrents/complete
    - torrents/complete/radarr
    - usenet/complete
    - usenet/complete/radarr
    - usenet/incomplete # strange but true
  loop_control:
    loop_var: radarr_item
