<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- See avahi.service(5) for more information about this configuration file -->
<service-group>
  <name>Darkstat</name>
  <service protocol="ipv6">
    <type>_http._tcp</type>
    <port>667</port>
  </service>
</service-group>
