log updates
prefork {{ ansible_processor_count }}

protocol dns {
  tcp { backlog 128, nodelay, sack, socket buffer 65536 }
  tls { no client-renegotiation }
}

relay dns4 {
  listen on {{ wan_ipv4 }} port 853 tls
  protocol dns
  forward to {{ wan_ipv4 }} port 53
}

{% if wan_ipv6 is defined %}
#relay dns6 {
#  listen on {{ wan_ipv6 }} port 853 tls
#  protocol dns
#  forward to {{ wan_ipv6 }} port 53
#}
{% endif %}
