---
- name: create group
  ansible.builtin.group:
    name: nextcloud
    system: true

- name: create user
  ansible.builtin.user:
    comment: nextcloud
    create_home: false
    group: nextcloud
    home: /srv/nextcloud
    name: nextcloud
    shell: "{{ nologin_shell }}"
    system: true

- name: create data directory
  ansible.builtin.file:
    path: /srv/nextcloud
    owner: nextcloud
    group: nextcloud
    mode: !!str 0700
    state: directory

- name: publish DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yml
  vars:
    unbound_content: |
      server:
        local-data: "cloud.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-nextcloud.conf
