# GENERAL OPTIONS

DataDirectory /var/tor
Log notice syslog
OutboundBindAddress {{ ansible_default_ipv4.address }}
RunAsDaemon 1
User _tor
AvoidDiskWrites 1
NoExec 1

# CLIENT OPTIONS

{% if tor_config_exclude_nodes | default([]) | length %}
ExcludeNodes {{ tor_config_exclude_nodes | join(',') }}
{% endif %}
GeoIPExcludeUnknown 1
VirtualAddrNetworkIPv4 {{ tor_virtual_addr_network }}
TransPort 127.0.0.1:9080
TransProxyType pf-divert
AutomapHostsOnResolve 1
DNSPort 127.0.0.1:9053 NoPreferIPv6Automap
