# GENERAL OPTIONS

#ControlPort PORT|unix:path|auto [flags]
#ControlListenAddress IP[:PORT]
#ControlSocket Path
#ControlSocketsGroupWritable 0|1
DataDirectory /var/tor
Log notice syslog
#OutboundBindAddress IP
#PidFile FILE
RunAsDaemon 1
User _tor
AvoidDiskWrites 1

# CLIENT OPTIONS

#ExcludeNodes node,node,...
#ExcludeExitNodes node,node,...
#ExitNodes node,node,...
#EntryNodes node,node,...
VirtualAddrNetworkIPv4 {{ tor_virtual_addr_network_ipv4 }}
#VirtualAddrNetworkIPv6 [Address]/bits
TransPort 127.0.0.1:{{ tor_trans_port }}
TransProxyType pf-divert
AutomapHostsOnResolve 1
#AutomapHostsSuffixes .exit,.onion
DNSPort 127.0.0.1:{{ tor_dns_port }}
