# GENERAL OPTIONS

DataDirectory /var/tor
Log notice syslog
PidFile {{ tor_pid_file }}
RunAsDaemon 1
# SafeLogging 1
User _tor
AvoidDiskWrites 1
# NoExec 1

# CLIENT OPTIONS

ClientOnly 1
ConnectionPadding 1
SOCKSPort 0
VirtualAddrNetworkIPv4 {{ tor_virtual_addr_network_ipv4 }}
# VirtualAddrNetworkIPv6 {{ tor_virtual_addr_network_ipv6|ipwrap }}
TransPort {{ tor_trans_port }}
TransProxyType pf-divert
AutomapHostsOnResolve 1
DNSPort {{ tor_dns_port }}
# ClientUseIPv6 1
