[server]
PROTOCOL = http+unix
DOMAIN = {{ domain_name }}
PUBLIC_URL_DETECTION = auto
DISABLE_SSH = true
LFS_JWT_SECRET = {{ gitea_lfs_jwt_secret }}

[oauth2]
JWT_SECRET = {{ gitea_jwt_secret }}

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ gitea_secret_key }}
INTERNAL_TOKEN = {{ gitea_internal_token }}

; vim: ft=dosini.jinja2
