---
apiVersion: v1
kind: Namespace
metadata:
  name: gitea
---
apiVersion: v1
kind: PersistentVolume
metadata:
  labels:
    type: local
  name: gitea-data
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 10Gi
  hostPath:
    path: /mnt/data/gitea
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitea-data
  namespace: gitea
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: manual
  volumeName: gitea-data
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  namespace: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
    spec:
      containers:
        - # env:
          #   - name: PUID
          #     value: "1000"
          #   - name: PGID
          #     value: "1000"
          image: gitea/gitea:{{ gitea_version }}
          name: gitea
          ports:
            - containerPort: 3000
              name: web
          volumeMounts:
            - mountPath: /data
              name: gitea-data
      volumes:
        - name: gitea-data
          persistentVolumeClaim:
            claimName: gitea-data
---
apiVersion: v1
kind: Service
metadata:
  name: gitea
  namespace: gitea
spec:
  ports:
    - name: web
      port: 3000
      protocol: TCP
      targetPort: web
  selector:
    app: gitea
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: gitea
  namespace: gitea
spec:
  parentRefs:
    - kind: Gateway
      name: traefik
      namespace: kube-system
  hostnames:
    - git.{{ domain_name }}
  rules:
    - backendRefs:
        - name: gitea
          port: 3000
      matches:
        - path:
            type: PathPrefix
            value: /
