worker_processes {{ ansible_processor_cores }};

#error_log logs/error.log;
#error_log logs/error.log notice;
#error_log logs/error.log info;

events {
  worker_connections 1024;
}

http {
  include /etc/nginx/mime.types;
  types {
    application/json geojson;
  }
  default_type application/octet-stream;

  sendfile on;
  tcp_nopush on;

  gzip on;
  gzip_types application/javascript application/json text/css text/plain text/xml;
  gzip_vary on;

  server_tokens off;

  resolver [::1] valid=300s ipv6=off;
  resolver_timeout 10s;

  log_format vcombined '$host: $remote_addr - $remote_user [$time_local] '
                       '"$request" $status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent"';
  access_log logs/access.log vcombined;

  server {
    listen 127.0.0.1:80 default_server;
    listen [::1]:80 default_server;
    server_name {{ ansible_fqdn }};

    gzip off;

    location /status {
      access_log off;
      stub_status;
    }
  }

  server {
    listen {{ wan_ipv4 | ipaddr('address') }}:80 default_server;
    server_name _;

    gzip off;

    add_header Content-Security-Policy "default-src 'self'" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-XSS-Protection "1; mode=block" always;

    location /.well-known/acme-challenge/ {
      alias /acme/;
      allow all;
    }

    location / {
      return 404;
    }
  }

  #server {
  #  listen {{ lan_ipv4 | ipaddr('address') }}:80 default_server;
  #  server_name _;
  #
  #  gzip off;
  #
  ## add_header Content-Security-Policy "default-src 'self'" always;
  #  add_header X-Content-Type-Options "nosniff" always;
  #  add_header X-Frame-Options "SAMEORIGIN" always;
  #  add_header X-XSS-Protection "1; mode=block" always;
  #
  #  allow {{ lan_ipv4 | ipaddr('network') }}//{{ lan_ipv4 | ipaddr('prefix') }};
  #  allow {{ vpn_server_ipv4 | ipaddr('network') }}//{{ vpn_server_ipv4 | ipaddr('prefix') }};
  #  deny all;
  #
  #  root /var/www/symon;
  #
  #  location /.well-known/acme-challenge/ {
  #    deny all;
  #  }
  #}

  include /etc/nginx/sites.d/*.conf;
}
