# yamllint disable rule:line-length
---
- name: apply manifest
  kubernetes.core.k8s:
    apply: true
    definition: "{{ lookup('kubernetes.core.kustomize', dir='https://github.com/nosborn/flux-system/clusters/'~ansible_facts['hostname']~'/flux-system/') }}"
    server_side_apply:
      field_manager: ansible
      force_conflicts: true
    wait: true

- name: GitHub token Secret
  kubernetes.core.k8s:
    apply: true
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        labels:
          reconcile.fluxcd.io/watch: Enabled
        name: github-token
        namespace: flux-system
      stringData:
        token: "{{ fluxcd_github_token }}"
      type: Opaque
    server_side_apply:
      field_manager: ansible

- name: GitHub webhook token Secret
  kubernetes.core.k8s:
    apply: true
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        labels:
          reconcile.fluxcd.io/watch: Enabled
        name: webhook-secret
        namespace: flux-system
      stringData:
        token: "{{ fluxcd_github_webhook_token }}"
    server_side_apply:
      field_manager: ansible

- name: Uptrace DSN Secret
  kubernetes.core.k8s:
    apply: true
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        labels:
          reconcile.fluxcd.io/watch: Enabled
        name: uptrace
        namespace: flux-system
      stringData:
        headers: |
          uptrace-dsn: {{ uptrace_dsn }}
    server_side_apply:
      field_manager: ansible
