{
	"address": ":{{ step_ca_port }}",
	"authority": {
		"backdate": "1m0s",
		"provisioners": [
			{
				"encryptedKey": "{{ step_ca_jwk_encrypted_key }}",
				"key": {{ step_ca_jwk_key | to_json }},
				"name": "admin",
				"type": "JWK"
			},
			{
				"name": "home",
				"type": "ACME"
			}
		],
		"template": {}
	},
	"crt": "/etc/step/certs/intermediate_ca.crt",
	"db": {
		"badgerFileLoadingMode": "",
		"dataSource": "/var/lib/step/db",
		"type": "badgerv2"
	},
	"dnsNames": [
		"ca.{{ domain_name }}"
	],
	"federatedRoots": null,
	"insecureAddress": "",
	"key": "/etc/step/secrets/intermediate_ca_key",
	"logger": {
		"format": "text"
	},
	"root": "/etc/step/certs/root_ca.crt",
	"tls": {
		"cipherSuites": [
			"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
			"TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256"
		],
		"maxVersion": 1.3,
		"minVersion": 1.2,
		"renegotiation": false
	}
}
