# yamllint disable rule:line-length
---
- name: create namespace
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: argocd

- name: install argo-cd
  kubernetes.core.helm:
    chart_ref: argo-cd
    chart_repo_url: https://argoproj.github.io/argo-helm
    chart_version: "{{ argocd_chart_version }}"
    kubeconfig: "{{ k3s_kubeconfig }}"
    release_name: argocd
    release_namespace: argocd
    release_values:
      configs:
        cm:
          kustomize.buildOptions: --enable-helm
        credentialTemplates:
          ghcr:
            url: ghcr.io
            enableOCI: true
            username: anonymous
            password: QQ==
        repositories:
          deployments:
            url: "{{ argocd_deployments_repo_url }}"
            name: deployments
            type: git
            githubAppID: "{{ argocd_github_app_id }}"
            githubAppInstallationID: "{{ argocd_github_app_installation_id }}"
            githubAppPrivateKey: "{{ argocd_github_app_private_key }}"
        secret:
          githubSecret: "{{ argocd_github_secret }}"
      dex:
        enabled: false
      global:
        domain: argocd.{{ domain_name }}
      notifications:
        argocdUrl: https://argocd.{{ domain_name }}
        enabled: true
        secret:
          items:
            github-privateKey: "{{ argocd_github_app_private_key }}"
        notifiers:
          service.github: |
            appID: {{ argocd_github_app_id }}
            installationID: {{ argocd_github_app_installation_id }}
            privateKey: $github-privateKey
        templates:
          template.app-deployed: |
            github:
              status:
                label: "{{ 'continuous-delivery/{{.app.metadata.name}}' }}"
                state: success
                targetURL: "{{ '{{.context.argocdUrl}}/applications/{{.app.metadata.name}}' }}"
            message: |
              Application {{ '{{.app.metadata.name}}' }} is now running new version.
          template.app-health-degraded: |
            github:
              status:
                label: {{ 'continuous-delivery/{{.app.metadata.name}}' }}
                state: error
                targetURL: "{{ '{{.context.argocdUrl}}/applications/{{.app.metadata.name}}' }}"
            message: |
              Application {{ '{{.app.metadata.name}}' }} has degraded.
          template.app-sync-failed: |
            github:
              status:
                label: {{ 'continuous-delivery/{{.app.metadata.name}}' }}
                state: failure
                targetURL: "{{ '{{.context.argocdUrl}}/applications/{{.app.metadata.name}}' }}"
            message: |
              Application {{ '{{.app.metadata.name}}' }} sync failed.
          template.app-sync-running: |
            github:
              status:
                label: {{ 'continuous-delivery/{{.app.metadata.name}}' }}
                state: pending
                targetURL: "{{ '{{.context.argocdUrl}}/applications/{{.app.metadata.name}}' }}"
            message: |
              Application {{ '{{.app.metadata.name}}' }} is being synced.
          template.app-sync-succeeded: |
            github:
              status:
                label: {{ 'continuous-delivery/{{.app.metadata.name}}' }}
                state: success
                targetURL: "{{ '{{.context.argocdUrl}}/applications/{{.app.metadata.name}}' }}"
            message: |
              Application {{ '{{.app.metadata.name}}' }} sync succeeded.
        subscriptions:
          - recipients:
              - github
            triggers:
              - on-deployed
              - on-health-degraded
              - on-sync-failed
              - on-sync-running
              - on-sync-succeeded
        triggers:
          trigger.on-deployed: |
            - oncePer: app.status.sync.revision
              send:
                - app-deployed
              when: app.status.operationState.phase in ['Succeeded']
          trigger.on-health-degraded: |
            - send:
                - app-health-degraded
              when: app.status.health.status == 'Degraded'
          trigger.on-sync-failed: |
            - send:
                - app-sync-failed
              when: app.status.operationState.phase in ['Error', 'Failed']
          trigger.on-sync-running: |
            - oncePer: app.status.sync.revision
              send:
                - app-sync-running
              when: app.status.operationState.phase in ['Running']
          trigger.on-sync-succeeded: |
            - oncePer: app.status.sync.revision
              send:
                - app-sync-succeeded
              when: app.status.operationState.phase in ['Succeeded']
      server:
        httproute:
          enabled: true
          hostnames:
            - argocd.{{ domain_name }}
          parentRefs:
            - kind: Gateway
              name: traefik
              namespace: kube-system
        insecure: true

- name: create deployments AppProject
  kubernetes.core.k8s:
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: AppProject
      metadata:
        finalizers:
          - resources-finalizer.argocd.argoproj.io
        labels:
          app.kubernetes.io/managed-by: Ansible
        name: deployments
        namespace: argocd
      spec:
        clusterResourceWhitelist:
          - group: "*"
            kind: "*"
        description: Deployments
        destinations:
          - namespace: "*"
            server: https://kubernetes.default.svc
            name: in-cluster
        namespaceResourceWhitelist:
          - group: "*"
            kind: "*"
        orphanedResources:
          warn: false
        sourceRepos:
          - "{{ argocd_deployments_repo_url }}"

- name: create deployments ApplicationSet
  kubernetes.core.k8s:
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: ApplicationSet
      metadata:
        labels:
          app.kubernetes.io/managed-by: Ansible
        name: deployments
        namespace: argocd
      spec:
        generators:
          - git:
              repoURL: "{{ argocd_deployments_repo_url }}"
              revision: HEAD
              directories:
                - path: "*/*/overlays/{{ ansible_facts['hostname'] }}"
                - path: "*/*/{{ ansible_facts['hostname'] }}"
        goTemplate: true
        goTemplateOptions:
          - missingkey=error
        template:
          metadata:
            finalizers:
              - resources-finalizer.argocd.argoproj.io
            name: "{{ '{{index .path.segments 1}}' }}"
          spec:
            destination:
              namespace: "{{ '{{index .path.segments 0}}' }}"
              server: https://kubernetes.default.svc
            project: deployments
            source:
              path: "{{ '{{.path.path}}' }}"
              repoURL: "{{ argocd_deployments_repo_url }}"
              targetRevision: HEAD
            syncPolicy:
              automated:
                enabled: true
                prune: true
                selfHeal: true
              syncOptions:
                - SkipDryRunOnMissingResource=true

- name: publish DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yaml
  vars:
    unbound_content: |
      server:
        local-data: "argocd.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-argocd.conf
