# mail=root
# mail-failure=root
pid=/run/ddclient.pid
quiet=yes
ssl=yes
syslog=yes

protocol=cloudflare, \
zone={{ external_domain }}, \
ttl=1, \
login=token, \
{% if ddclient_cloudflare_login is defined %}
login={{ ddclient_cloudflare_login }}, \
password={{ ddclient_cloudflare_password }}, \
{% else %}
password={{ ddclient_cloudflare_api_token }}, \
{% endif %}
use=web, \
web=https://ipv4.nsupdate.info/myip, \
{{ external_fqdn }}
