daemon=300
server={{ ddclient_config_server }}
protocol={{ ddclient_config_protocol }}
pid={{ ddclient_config_pid }}

use=if, if={{ wan_if }}
login={{ ddclient_config_login }}
password={{ ddclient_config_password }}
host={{ ddclient_config_host }}

ssl=yes
syslog=yes
mail=root
mail-failure=root
