# yamllint disable rule:line-length
---
- name: create group
  ansible.builtin.group:
    name: gitea
    system: true

- name: create user
  ansible.builtin.user:
    comment: gitea
    create_home: false
    group: gitea
    home: /srv/gitea
    name: gitea
    shell: "{{ nologin_shell }}"
    system: true

- name: create data directory
  ansible.builtin.file:
    path: "{{ gitea_item }}"
    owner: gitea
    group: gitea
    mode: !!str 0700
    state: directory
  loop:
    - /srv/gitea
    - /srv/gitea/git
    - /srv/gitea/git/.ssh
    - /srv/gitea/gitea
    - /srv/gitea/gitea/conf
  loop_control:
    loop_var: gitea_item
