;app_mode = production
;instance_name = ${HOSTNAME}

[analytics]
check_for_plugin_updates = false
check_for_updates = false
feedback_links_enabled = false
reporting_enabled = false

[annotations]
;cleanupjob_batchsize = 100
;tags_length = 500

[annotations.api]
;max_age =
;max_annotations_to_keep =

[annotations.dashboard]
;max_age =
;max_annotations_to_keep =

[auth]
;api_key_max_seconds_to_live = -1
;azure_auth_enabled = false
;disable_login = false
;disable_login_form = false
;disable_signout_menu = false
;id_response_header_enabled = false
;id_response_header_namespaces = user api-key service-account
;id_response_header_prefix = X-Grafana
;login_cookie_name = grafana_session
;login_maximum_inactive_lifetime_duration =
;login_maximum_lifetime_duration =
;managed_service_accounts_enabled = false
;oauth_allow_insecure_email_lookup = false
;oauth_auto_login = false
;oauth_login_error_message = oauth.login.error
;oauth_refresh_token_server_lock_min_wait_ms = 1000
;oauth_state_cookie_max_age = 600
;signout_redirect_url =
;sigv4_auth_enabled = false
;sigv4_verbose_logging = false
;token_rotation_interval_minutes = 10

[auth.anonymous]
;device_limit =
;enabled = false
;hide_version = false
;org_name = Main Org.
;org_role = Viewer

[auth.azuread]
enabled = false

[auth.basic]
;enabled = true
;password_policy = false

[auth.generic_oauth]
enabled = false

[auth.github]
enabled = false

[auth.gitlab]
enabled = false

[auth.google]
enabled = false

[auth.grafana_com]
enabled = false

[auth.jwt]
;enabled = true
;enable_login_token = false
;header_name = X-JWT-Assertion
;email_claim = sub
;username_claim = sub
;email_attribute_path = jmespath.email
;username_attribute_path = jmespath.username
;jwk_set_url = https://foo.bar/.well-known/jwks.json
;jwk_set_file = /path/to/jwks.json
;cache_ttl = 60m
;expect_claims = {"aud": ["foo", "bar"]}
;key_file = /path/to/key/file
# Use in conjunction with key_file in case the JWT token's header specifies a key ID in "kid" field
;key_id = some-key-id
;role_attribute_path =
;role_attribute_strict = false
;groups_attribute_path =
;auto_sign_up = false
;url_login = false
;allow_assign_grafana_admin = false
;skip_org_role_sync = false
;signout_redirect_url =

[auth.ldap]
enabled = false

[auth.okta]
enabled = false

[auth.proxy]
enabled = false

[aws]
;allowed_auth_providers = default,keys,credentials
;assume_role_enabled = true
;external_id =
;forward_settings_to_plugins = cloudwatch, grafana-athena-datasource, grafana-redshift-datasource, grafana-x-ray-datasource, grafana-timestream-datasource, grafana-iot-sitewise-datasource, grafana-iot-twinmaker-app, grafana-opensearch-datasource, aws-datasource-provisioner, elasticsearch, prometheus
;list_metrics_page_limit = 500
;session_duration = "15m"

[cloud_migration]
;alert_rules_state = "paused"
;create_access_policy_timeout = 5s
;create_upload_url_timeout = 5s
;delete_access_policy_timeout = 5s
;domain = grafana-dev.net
;feedback_url = ""
;fetch_access_policy_timeout = 5s
;fetch_instance_timeout = 5s
;frontend_poll_interval = 2s
;gcom_api_token = ""
;get_snapshot_status_timeout = 5s
;is_target = false
;report_event_timeout = 5s
;snapshot_folder = ""
;start_snapshot_timeout = 5s
;validate_key_timeout = 5s

[dashboards]
;default_home_dashboard_path =
;min_refresh_interval = 5s
;versions_to_keep = 20

[database]
;ca_cert_path =
;cache_mode = private
;client_cert_path =
;client_key_path =
;conn_max_lifetime = 14400
;host = 127.0.0.1:3306
;instrument_queries = false
;log_queries =
;max_idle_conn = 2
;max_open_conn =
;name = grafana
;password =
;path = grafana.db
;query_retries = 0
;server_cert_name =
;transaction_retries = 5
;type = sqlite3
;url =
;user = root
;wal = false

[datasources]
;concurrent_query_count = 10
;datasource_limit = 5000
;default_manage_alerts_ui_toggle = true

[dataproxy]
;dialTimeout = 10
;expect_continue_timeout_seconds = 1
;idle_conn_timeout_seconds = 90
;keep_alive_seconds = 30
;logging = false
;max_conns_per_host = 0
;max_idle_connections = 100
;response_limit = 0
;row_limit = 1000000
;send_user_header = false
;timeout = 30
;tls_handshake_timeout_seconds = 10
;user_agent =

[date_formats]
;default_timezone = browser
;full_date = YYYY-MM-DD HH:mm:ss
;interval_day = MM/DD
;interval_hour = MM/DD HH:mm
;interval_minute = HH:mm
;interval_month = YYYY-MM
;interval_second = HH:mm:ss
;interval_year = YYYY
use_browser_locale = true

[emails]
;content_types = text/html
;templates_pattern = emails/*.html, emails/*.txt
;welcome_email_on_sign_up = false

[environment]
;local_file_system_available = true

;[grpc_server]
;network = "tcp"
;address = "127.0.0.1:10000"
;use_tls = false
;cert_file =
;key_file =
;max_recv_msg_size =
;max_send_msg_size =
# this will log the request and response for each unary gRPC call
;enable_logging = false

[explore]
;enabled = true

[expressions]
;enabled = true

[external_image_storage]
;provider =

[external_image_storage.azure_blob]
;account_key =
;account_name =
;container_name =
;sas_token_expiration_days =

[external_image_storage.gcs]
;bucket =
;enable_signed_urls = false
;key_file =
;path =
;signed_url_expiration =

[external_image_storage.local]
# does not require any configuration

[external_image_storage.s3]
;access_key =
;bucket =
;endpoint =
;path =
;path_style_access =
;region =
;secret_key =

[external_image_storage.webdav]
;password =
;public_url =
;url =
;username =

[feature_management]
;allow_editing = false
;hidden_toggles =
;read_only_toggles =
;update_webhook =
;update_webhook_token =

[feature_toggles]
;enable = feature1,feature2
;feature1 = true
;feature2 = false

[geomap]
;default_baselayer_config = `{
;  "type": "xyz",
;  "config": {
;    "attribution": "Open street map",
;    "url": "https://tile.openstreetmap.org/{z}/{x}/{y}.png"
;  }
;}`
;enable_custom_baselayers = true

[grafana_com]
;api_url = https://grafana.com/api
;sso_api_token = ""
;url = https://grafana.com

[help]
enabled = false

[live]
;allowed_origins =
;ha_engine =
;ha_engine_address = "127.0.0.1:6379"
;ha_engine_password = ""
;ha_prefix =
;max_connections = 100

[log]
;filters =
;level = info
;mode = console file
;user_facing_default_error = "please inspect Grafana server log for details"

[log.console]
;format = console
;level =

[log.file]
;daily_rotate = true
;format = text
;level =
;log_rotate = true
;max_days = 7
;max_lines = 1000000
;max_size_shift = 28

[log.frontend]
;api_key = testApiKey
;custom_endpoint = /log-grafana-javascript-agent
;enabled = false
;instrumentations_all_enabled = false
;instrumentations_console_enabled = false
;instrumentations_errors_enabled = true
;instrumentations_tracing_enabled = false
;instrumentations_webvitals_enabled = false
;log_endpoint_burst_limit = 15
;log_endpoint_requests_per_second_limit = 3

[log.syslog]
;address =
;facility =
;format = text
;level =
;network =
;tag =

[metrics]
;basic_auth_password =
;basic_auth_username =
;enabled = true
;interval_seconds = 10
;total_stats_collector_interval_seconds = 1800

[metrics.environment_info]
#exampleLabel1 = exampleValue1
#exampleLabel2 = exampleValue2

[navigation.app_sections]
#my-app-id = cfg

[navigation.app_standalone_pages]
#/a/my-app-id/my-page = cfg

[news]
news_feed_enabled = false

[panels]
;disable_sanitize_html = false

[paths]
;data = /var/lib/grafana
;logs = /var/log/grafana
;plugins = /var/lib/grafana/plugins
;provisioning = conf/provisioning
;temp_data_lifetime = 24h

[plugin.grafana-image-renderer]
;grpc_host =
;grpc_port =
;rendering_args =
;rendering_chrome_bin =
;rendering_clustering_max_concurrency =
;rendering_clustering_mode =
;rendering_clustering_timeout =
;rendering_dumpio =
;rendering_ignore_https_errors =
;rendering_language =
;rendering_mode =
;rendering_timezone =
;rendering_timing_metrics =
;rendering_verbose_logging =
;rendering_viewport_device_scale_factor =
;rendering_viewport_max_device_scale_factor =
;rendering_viewport_max_height =
;rendering_viewport_max_width =

[plugins]
;allow_loading_unsigned_plugins =
;app_tls_skip_verify_insecure = false
;disable_plugins =
;enable_alpha = false
;log_backend_requests = false
;plugin_admin_enabled = false
;plugin_admin_external_manage_enabled = false
;plugin_catalog_hidden_plugins =
;plugin_catalog_url = https://grafana.com/grafana/plugins/
;public_key_retrieval_disabled = false
;public_key_retrieval_on_startup = false

[profile]
enabled = false

[public_dashboards]
enabled = true

[query]
;concurrent_query_limit =

[query_history]
;enabled = true

[quota]
enabled = false

[rbac]
;permission_cache = true
;permission_validation_enabled = true
;reset_basic_roles = false

[recording_rules]
enabled = false
url =
basic_auth_username =
basic_auth_password =
timeout = 30s

[recording_rules.custom_headers]
;exampleHeader = exampleValue

[remote_cache]
;connstr =
;encryption =
;prefix =
;type = database

[rendering]
;callback_url =
;concurrent_render_request_limit = 30
;default_image_height = 500
;default_image_scale = 1
;default_image_width = 1000
;render_key_lifetime = 5m
;renderer_token = -
;server_url =

[secretscan]
;base_url = https://secret-scanning.grafana.net
;enabled = false
;interval = 5m
;oncall_url =
;revoke = true

[secure_socks_datasource_proxy]
;allow_insecure = false
;client_cert =
;client_key =
;enabled = false
;proxy_address =
;root_ca_cert =
;server_name =
;show_ui = true

[security]
;actions_allow_post_url =
;admin_email = admin@localhost
;admin_password = admin
;admin_user = admin
;allow_embedding = false
;angular_support_enabled = false
;available_encryption_providers =
;brute_force_login_protection_max_attempts = 5
;content_security_policy = false
;content_security_policy_report_only = false
;content_security_policy_report_only_template = """script-src 'self' 'unsafe-eval' 'unsafe-inline' 'strict-dynamic' $NONCE;object-src 'none';font-src 'self';style-src 'self' 'unsafe-inline' blob:;img-src * data:;base-uri 'self';connect-src 'self' grafana.com ws://$ROOT_PATH wss://$ROOT_PATH;manifest-src 'self';media-src 'none';form-action 'self';"""
;content_security_policy_template = """script-src 'self' 'unsafe-eval' 'unsafe-inline' 'strict-dynamic' $NONCE;object-src 'none';font-src 'self';style-src 'self' 'unsafe-inline' blob:;img-src * data:;base-uri 'self';connect-src 'self' grafana.com ws://$ROOT_PATH wss://$ROOT_PATH;manifest-src 'self';media-src 'none';form-action 'self';"""
;cookie_samesite = lax
;cookie_secure = false
;csrf_additional_headers =
;csrf_always_check = false
;csrf_trusted_origins = example.com
;data_source_proxy_whitelist =
;disable_brute_force_login_protection = false
disable_gravatar = true
;disable_initial_admin_creation = false
;enable_frontend_sandbox_for_plugins =
;encryption_provider = secretKey.v1
secret_key = {{ grafana_security_secret_key }}
;strict_transport_security = false
;strict_transport_security_max_age_seconds = 86400
;strict_transport_security_preload = false
;strict_transport_security_subdomains = false
;x_content_type_options = true
;x_xss_protection = true

[security.encryption]
;data_keys_cache_cleanup_interval = 1m
;data_keys_cache_ttl = 15m

[server]
;cdn_url =
;cert_file =
;cert_key =
;cert_pass =
;certs_watch_interval =
domain = tombstone.local
;enable_gzip = false
enforce_domain = true
;http_addr =
http_port = {{ grafana_port }}
;min_tls_version = ""
;protocol = http
;read_timeout = 0
;root_url = %(protocol)s://%(domain)s:%(http_port)s/
;router_logging = false
;serve_from_sub_path = false
;socket =
;socket_gid =
;socket_mode =
;static_root_path = public

[server.custom_response_headers]
#exampleHeader1 = exampleValue1
#exampleHeader2 = exampleValue2

[service_accounts]
;token_expiration_day_limit =

[short_links]
;expire_time = 7

[smtp]
;cert_file =
;ehlo_identity = dashboard.example.com
;enable_tracing = false
;enabled = false
;from_address = admin@grafana.localhost
;from_name = Grafana
;host = localhost:25
;key_file =
;password =
;skip_verify = false
;startTLS_policy = NoStartTLS
;user =

[smtp.static_headers]
;Foo = bar
;Foo-Header = bar

[snapshots]
enabled = false

[sql_datasources]
;max_conn_lifetime_default = 14400
;max_idle_conns_default = 100
;max_open_conns_default = 100

[support_bundles]
enabled = false

[tracing.jaeger]
;address = localhost:6831
;always_included_tag = tag1:value1
;disable_shared_zipkin_spans = false
;sampler_param = 1
;sampler_type = const
;sampling_server_url =
;zipkin_propagation = false

[tracing.opentelemetry]
;custom_attributes = key1:value1,key2:value2
;sampling_server_url = http://localhost:5778/sampling

[tracing.opentelemetry.jaeger]
;address = http://localhost:14268/api/traces
;propagation = jaeger

[tracing.opentelemetry.otlp]
;address = localhost:4317
;propagation = w3c

[unified_alerting]
;admin_config_poll_interval = 60s
;alertmanager_config_poll_interval = 60s
;alertmanager_max_silence_size_bytes =
;alertmanager_max_silences_count =
;disable_jitter = false
;disabled_orgs =
;enabled = true
;evaluation_timeout = 30s
;execute_alerts = true
;ha_advertise_address = ""
;ha_gossip_interval = "200ms"
;ha_label =
;ha_listen_address = "0.0.0.0:9094"
;ha_peer_timeout = "15s"
;ha_peers = ""
;ha_push_pull_interval = "60s"
;ha_reconnect_timeout = 6h
;ha_redis_address =
;ha_redis_cluster_mode_enabled = false
;ha_redis_db =
;ha_redis_max_conns = 5
;ha_redis_password =
;ha_redis_peer_name =
;ha_redis_prefix =
;ha_redis_tls_ca_path =
;ha_redis_tls_cert_path =
;ha_redis_tls_cipher_suites =
;ha_redis_tls_enabled = false
;ha_redis_tls_insecure_skip_verify =
;ha_redis_tls_key_path =
;ha_redis_tls_min_version =
;ha_redis_tls_server_name =
;ha_redis_username =
;initialization_timeout = 30s
;max_attempts = 3
;max_state_save_concurrency = 1
;min_interval = 10s
;notification_log_retention = 5d
;resolved_alert_retention = 15m
;rule_version_record_limit= 0
;state_periodic_save_batch_size = 1
;state_periodic_save_interval = 5m

[unified_alerting.screenshots]
;capture = false
;capture_timeout = 10s
;max_concurrent_screenshots = 5
;upload_external_image_storage = false

[unified_alerting.reserved_labels]
;disabled_labels =

[unified_alerting.state_history]
;backend = "multiple"
;enabled = true
;loki_basic_auth_password = "mypass"
;loki_basic_auth_username = "myuser"
;loki_max_query_length = 360h
;loki_max_query_size = 65536
;loki_remote_read_url = "http://loki-querier:3100"
;loki_remote_url = "http://loki:3100"
;loki_remote_write_url = "http://loki-distributor:3100"
;loki_tenant_id = 123
;primary = "loki"
;secondaries = "annotations"

[unified_alerting.state_history.external_labels]
;mylabelkey = mylabelvalue

[unified_alerting.state_history.annotations]
max_age =
max_annotations_to_keep =

[users]
allow_org_create = false
allow_sign_up = false
;auto_assign_org = true
;auto_assign_org_id = 1
;auto_assign_org_role = Viewer
;default_language = en-GB
;default_theme = dark
;editors_can_admin = false
;external_manage_info =
;external_manage_link_name =
;external_manage_link_url =
;hidden_users =
;home_page =
;last_seen_update_interval = 15m
;login_default_org_id =
;login_hint = email or username
;password_hint = password
;user_invite_max_lifetime_duration = 24h
;verification_email_max_lifetime_duration = 1h
;verify_email_enabled = false
;viewers_can_edit = false

; vim: ft=dosini.jinja2
