---
- name: slurp k3s kubeconfig
  ansible.builtin.slurp:
    src: "{{ k8s_kubeconfig }}"
  register: k3s_result

- name: parse k3s kubeconfig
  ansible.builtin.set_fact:
    k3s_kubeconfig: "{{ k3s_result.content | b64decode | from_yaml }}"

- name: build local kubeconfig entries
  ansible.builtin.set_fact:
    k3s_cluster:
      name: tombstone
      cluster: "{{ k3s_kubeconfig.clusters[0].cluster | combine({'server': k3s_kubeconfig.clusters[0].cluster.server | replace('127.0.0.1', hostvars.tombstone.lan_ipv4_address)}) }}"
    k3s_context:
      name: tombstone
      context:
        cluster: tombstone
        user: tombstone
    k3s_user:
      name: tombstone
      user: "{{ k3s_kubeconfig.users[0].user }}"

- name: read existing kubeconfig
  delegate_to: localhost
  ansible.builtin.slurp:
    src: "{{ lookup('env', 'HOME') }}/.kube/config"
  register: k3s_local_kubeconfig_result
  failed_when: false

- name: set existing kubeconfig fact
  ansible.builtin.set_fact:
    k3s_local_kubeconfig: >-
      {{
        (k3s_local_kubeconfig_result.content | b64decode | from_yaml)
        if k3s_local_kubeconfig_result.content is defined
        else {'apiVersion': 'v1', 'kind': 'Config', 'clusters': [], 'contexts': [], 'users': [], 'preferences': {}}
      }}

- name: ensure ~/.kube directory exists
  delegate_to: localhost
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/.kube"
    mode: "0700"
    state: directory

- name: merge kubeconfig
  delegate_to: localhost
  ansible.builtin.copy:
    content: "{{ k3s_merged_kubeconfig | to_nice_yaml(indent=2) }}"
    dest: "{{ lookup('env', 'HOME') }}/.kube/config"
    mode: "0600"
  vars:
    k3s_merged_kubeconfig:
      apiVersion: v1
      kind: Config
      preferences: "{{ k3s_local_kubeconfig.preferences | default({}) }}"
      clusters: "{{ (k3s_local_kubeconfig.clusters | default([]) | rejectattr('name', 'eq', 'tombstone') | list) + [k3s_cluster] }}"
      contexts: "{{ (k3s_local_kubeconfig.contexts | default([]) | rejectattr('name', 'eq', 'tombstone') | list) + [k3s_context] }}"
      users: "{{ (k3s_local_kubeconfig.users | default([]) | rejectattr('name', 'eq', 'tombstone') | list) + [k3s_user] }}"
      current-context: "{{ k3s_local_kubeconfig['current-context'] | default('tombstone') }}"
