---
- name: create config directory
  ansible.builtin.file:
    path: /srv/prowlarr
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory

- name: create library directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ prowlarr_item }}"
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2750
    state: directory
  loop:
    - backups
  loop_control:
    loop_var: prowlarr_item

- name: create library directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ prowlarr_item }}"
    owner: "{{ library_user }}"
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory
  loop:
    - backups/prowlarr
  loop_control:
    loop_var: prowlarr_item
