# Configuration file for ISC dhcpd.

authoritative;

subnet {{ lan_ipv4|ipaddr('network') }} netmask {{ lan_ipv4|ipaddr('netmask') }} {
	option domain-name "{{ global_domain }}";
	option domain-name-servers {{ lan_ipv4|ipaddr('address') }};
	option ntp-servers {{ lan_ipv4|ipaddr('address') }};
	option routers {{ lan_ipv4|ipaddr('address') }};

	range {{ lan_ipv4|ipaddr('100')|ipaddr('address') }} {{ lan_ipv4|ipaddr('199')|ipaddr('address') }};
{% for dhcpd_host in dhcpd_hosts|default([]) %}

	host {{ dhcpd_host.hostname }} {
		fixed-address {{ dhcpd_host.fixed_address }};
		hardware ethernet {{ dhcpd_host.hardware_ethernet }};
	}
{% endfor %}
}

subnet {{ guest_ipv4|ipaddr('network') }} netmask {{ guest_ipv4|ipaddr('netmask') }} {
#	option domain-name "{{ global_domain }}";
	option domain-name-servers {{ guest_nameservers|ipv4|join(', ') }};
#	option ntp-servers {{ guest_ipv4|ipaddr('address') }};
	option routers {{ guest_ipv4|ipaddr('address') }};

	range {{ guest_ipv4|ipaddr('100')|ipaddr('address') }} {{ guest_ipv4|ipaddr('199')|ipaddr('address') }};
}
