# Configuration file for ISC dhcpd.

authoritative;

subnet {{ lan_ipv4|ipaddr('network') }} netmask {{ lan_ipv4|ipaddr('netmask') }} {
	option domain-name "{{ global_domain }}";
	option domain-name-servers {{ lan_ipv4|ipaddr('address') }};
	option ntp-servers {{ lan_ipv4|ipaddr('address') }};
	option routers {{ lan_ipv4|ipaddr('address') }};

	range {{ lan_ipv4|ipaddr('100')|ipaddr('address') }} {{ lan_ipv4|ipaddr('199')|ipaddr('address') }};
{% if dhcpd_hosts is defined %}
{%   for key, value in dhcpd_hosts.iteritems() %}

	host {{ key }} {
		fixed-address {{ value.fixed_address }};
		hardware ethernet {{ value.hardware_ethernet }};
	}
{%   endfor %}
{% endif %}
}
