[Unit]
After=network.target {{ media_mount_unit_name }}
Description=Prowlarr Daemon
Requires={{ media_mount_unit_name }}

[Service]
ExecStart=/opt/prowlarr/{{ prowlarr_version }}/Prowlarr -data={{ prowlarr_home }} -nobrowser
Group=prowlarr
KillMode=process
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=tmpfs
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
StateDirectory=prowlarr
StateDirectoryMode=0750
TimeoutStopSec=20
Type=simple
UMask=022
User=prowlarr
WorkingDirectory={{ prowlarr_home }}

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
