[Unit]
After=calibre.service network.target {{ media_disk_unit_name }}
Description=Readarr Daemon
Requires={{ media_disk_unit_name }}
Wants=calibre.service

[Service]
ExecStart=/opt/readarr/{{ readarr_version }}/Readarr -data={{ readarr_home }} -nobrowser
Group=readarr
KillMode=process
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=tmpfs
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths={{ media_path }}
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
StateDirectory=readarr
StateDirectoryMode=0750
SupplementaryGroups={{ media_group }}
TimeoutStopSec=20
Type=simple
UMask=002
User=readarr
WorkingDirectory={{ readarr_home }}

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
