# yamllint disable rule:line-length
---
- name: create group
  ansible.builtin.group:
    name: vaultwarden
    system: true

- name: create user
  ansible.builtin.user:
    comment: Vaultwarden
    create_home: false
    group: vaultwarden
    home: /srv/vaultwarden
    name: vaultwarden
    shell: "{{ nologin_shell }}"
    system: true

- name: create data directory
  ansible.builtin.file:
    path: /srv/vaultwarden
    owner: vaultwarden
    group: vaultwarden
    mode: !!str 0700
    state: directory

- name: DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yml
  vars:
    unbound_content: |
      server:
        local-data: "passwords.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-vaultwarden.conf
