# yamllint disable rule:line-length
---
- name: fetch release info
  delegate_to: localhost
  ansible.builtin.uri:
    url: https://api.github.com/repos/dani-garcia/vaultwarden/releases/latest
    headers:
      Accept: application/vnd.github+json
    return_content: true
    body_format: json
  register: vaultwarden_result
  until: vaultwarden_result is success

- name: set version fact
  ansible.builtin.set_fact:
    vaultwarden_version: "{{ vaultwarden_result.json.tag_name }}"

- name: create group
  ansible.builtin.group:
    name: vaultwarden
    system: true

- name: create user
  ansible.builtin.user:
    comment: Vaultwarden
    create_home: false
    group: vaultwarden
    home: /srv/vaultwarden
    name: vaultwarden
    shell: "{{ nologin_shell }}"
    system: true

- ansible.builtin.getent:
    database: passwd
    key: vaultwarden

- ansible.builtin.set_fact:
    vaultwarden_gid: "{{ ansible_facts.getent_passwd['vaultwarden'][2] }}"
    vaultwarden_uid: "{{ ansible_facts.getent_passwd['vaultwarden'][1] }}"

- name: create data directory
  ansible.builtin.file:
    path: /srv/vaultwarden
    owner: vaultwarden
    group: vaultwarden
    mode: !!str 0700
    state: directory

- name: Namespace
  kubernetes.core.k8s:
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          pod-security.kubernetes.io/enforce: privileged # uses `hostPath`
          pod-security.kubernetes.io/warn: baseline
        name: vaultwarden

- name: ConfigMap
  kubernetes.core.k8s:
    namespace: vaultwarden
    resource_definition:
      apiVersion: v1
      data:
        ADMIN_RATELIMIT_MAX_BURST: !!str 3
        ADMIN_RATELIMIT_SECONDS: !!str 300
        DATABASE_MAX_CONNS: !!str 10
        DB_CONNECTION_RETRIES: !!str 15
        DOMAIN: https://passwords.{{ domain_name }}
        EMAIL_CHANGE_ALLOWED: !!str true
        EMERGENCY_ACCESS_ALLOWED: !!str true
        EMERGENCY_NOTIFICATION_REMINDER_SCHEDULE: 0 3 * * * *
        EMERGENCY_REQUEST_TIMEOUT_SCHEDULE: 0 7 * * * *
        EXTENDED_LOGGING: !!str true
        ICON_BLACKLIST_NON_GLOBAL_IPS: !!str true
        ICON_REDIRECT_CODE: !!str 302
        ICON_SERVICE: internal
        INVITATIONS_ALLOWED: !!str true
        INVITATION_EXPIRATION_HOURS: !!str 120
        INVITATION_ORG_NAME: Vaultwarden
        IP_HEADER: X-Real-IP
        LOG_TIMESTAMP_FORMAT: "%Y-%m-%d %H:%M:%S.%3f"
        ORG_EVENTS_ENABLED: !!str false
        ORG_GROUPS_ENABLED: !!str false
        PASSWORD_HINTS_ALLOWED: !!str false
        REQUIRE_DEVICE_EMAIL: !!str false
        ROCKET_ADDRESS: 0.0.0.0
        ROCKET_PORT: !!str 8080
        ROCKET_WORKERS: !!str 10
        SENDS_ALLOWED: !!str true
        SHOW_PASSWORD_HINT: !!str false
        SIGNUPS_ALLOWED: !!str true
        SIGNUPS_VERIFY: !!str true
        # TRASH_AUTO_DELETE_DAYS: !!str ...
        WEB_VAULT_ENABLED: !!str true
      kind: ConfigMap
      metadata:
        labels:
          app.kubernetes.io/component: vaultwarden
          app.kubernetes.io/instance: vaultwarden
          app.kubernetes.io/name: vaultwarden
        name: vaultwarden
  register: vaultwarden_configmap_result

- name: Secret
  kubernetes.core.k8s:
    namespace: vaultwarden
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: vaultwarden
      stringData:
        ADMIN_TOKEN: "{{ vaultwarden_admin_token }}"
        PUSH_INSTALLATION_ID: "{{ bitwarden_installation_id }}"
        PUSH_INSTALLATION_KEY: "{{ bitwarden_installation_key }}"
  register: vaultwarden_secret_result

- name: Deployment
  kubernetes.core.k8s:
    namespace: vaultwarden
    resource_definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        labels:
          app.kubernetes.io/component: vaultwarden
          app.kubernetes.io/instance: vaultwarden
          app.kubernetes.io/name: vaultwarden
          configmap-version: "{{ vaultwarden_configmap_result.result.metadata.resourceVersion }}"
          secret-version: "{{ vaultwarden_secret_result.result.metadata.resourceVersion }}"
        name: vaultwarden
      spec:
        replicas: 1
        selector:
          matchLabels:
            app.kubernetes.io/component: vaultwarden
            app.kubernetes.io/instance: vaultwarden
            app.kubernetes.io/name: vaultwarden
        strategy:
          type: Recreate
        template:
          metadata:
            labels:
              app.kubernetes.io/component: vaultwarden
              app.kubernetes.io/instance: vaultwarden
              app.kubernetes.io/name: vaultwarden
          spec:
            containers:
              - envFrom:
                  - configMapRef:
                      name: vaultwarden
                  - secretRef:
                      name: vaultwarden
                image: docker.io/vaultwarden/server:{{ vaultwarden_version }}-alpine
                imagePullPolicy: IfNotPresent
                livenessProbe:
                  failureThreshold: 10
                  httpGet:
                    path: /alive
                    port: http
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 1
                name: vaultwarden
                ports:
                  - containerPort: 8080
                    name: http
                    protocol: TCP
                readinessProbe:
                  failureThreshold: 3
                  httpGet:
                    path: /alive
                    port: http
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 1
                resources: {}
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                      - ALL
                  readOnlyRootFilesystem: true
                  runAsGroup: "{{ vaultwarden_gid | int }}"
                  runAsNonRoot: true
                  runAsUser: "{{ vaultwarden_uid | int }}"
                volumeMounts:
                  - name: data
                    mountPath: /data
                  - name: data-tmp
                    mountPath: /data/tmp
            securityContext:
              seccompProfile:
                type: RuntimeDefault
            # serviceAccountName: vaultwarden
            volumes:
              - name: data
                hostPath:
                  path: /srv/vaultwarden
                  type: Directory
                  # persistentVolumeClaim:
                  #   claimName: vaultwarden-data
              - name: data-tmp
                emptyDir:
                  medium: Memory
                  # sizeLimit: ...

- name: Service
  kubernetes.core.k8s:
    namespace: vaultwarden
    resource_definition:
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          app.kubernetes.io/component: vaultwarden
          app.kubernetes.io/instance: vaultwarden
          app.kubernetes.io/name: vaultwarden
        name: vaultwarden
      spec:
        ipFamilyPolicy: SingleStack
        ports:
          - name: http
            port: 80
            protocol: TCP
            targetPort: 8080
        selector:
          app.kubernetes.io/component: vaultwarden
          app.kubernetes.io/instance: vaultwarden
          app.kubernetes.io/name: vaultwarden
        type: ClusterIP

- name: Ingress
  kubernetes.core.k8s:
    namespace: vaultwarden
    resource_definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        annotations:
          cert-manager.io/cluster-issuer: ownca
          cert-manager.io/duration: 160h
          cert-manager.io/renew-before: 24h
        name: vaultwarden
      spec:
        rules:
          - http:
              paths:
                - backend:
                    service:
                      name: vaultwarden
                      port:
                        name: http
                  path: /
                  pathType: Prefix
            host: passwords.{{ domain_name }}
        tls:
          - hosts:
              - passwords.{{ domain_name }}
            secretName: vaultwarden-tls

- name: DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yml
  vars:
    unbound_content: |
      server:
        local-data: "passwords.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-vaultwarden.conf
