---
- name: create namespace
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: vaultwarden

- name: create secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        labels:
          app.kubernetes.io/instance: vaultwarden
          app.kubernetes.io/managed-by: Ansible
          app.kubernetes.io/name: vaultwarden
        name: vaultwarden
        namespace: vaultwarden
      stringData:
        ADMIN_TOKEN: "{{ vaultwarden_admin_token }}"
        DUO_SKEY: "{{ vaultwarden_duo_skey }}"
        PUSH_INSTALLATION_ID: "{{ vaultwarden_push_installation_id }}"
        PUSH_INSTALLATION_KEY: "{{ vaultwarden_push_installation_key }}"
        SMTP_PASSWORD: "{{ vaultwarden_smtp_password }}"
        SMTP_USERNAME: "{{ vaultwarden_smtp_username }}"
        YUBICO_SECRET_KEY: "{{ vaultwarden_yubico_secret_key }}"
      type: Opaque

- name: publish DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yaml
  vars:
    unbound_content: |
      server:
        local-data: "vaultwarden.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-vaultwarden.conf
