# yamllint disable rule:line-length
---
- name: create cert-manager namespace
  kubernetes.core.k8s:
    apply: true
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: cert-manager
    server_side_apply:
      field_manager: ansible

- name: create ownca intermediate CA secret
  kubernetes.core.k8s:
    apply: true
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: ownca-intermediate-ca
        namespace: cert-manager
      type: kubernetes.io/tls
      data:
        tls.crt: "{{ lookup('file', playbook_dir~'/ownca/intermediate-ca.crt') | b64encode }}"
        tls.key: "{{ lookup('file', playbook_dir~'/ownca/intermediate-ca.key') | b64encode }}"
    server_side_apply:
      field_manager: ansible
