# yamllint disable rule:line-length
---
- name: "kubeconfig: get admin kubeconfig from k0s"
  ansible.builtin.command:
    argv:
      - k0s
      - kubeconfig
      - admin
  register: kubeconfig_result
  changed_when: false

- name: "kubeconfig: create /root/.kube directory"
  ansible.builtin.file:
    path: /root/.kube
    owner: root
    group: root
    mode: "0700"
    state: directory

- name: "kubeconfig: write kubeconfig to /root/.kube/config"
  ansible.builtin.copy:
    content: "{{ kubeconfig_result.stdout }}"
    dest: /root/.kube/config
    owner: root
    group: root
    mode: "0400"

- name: "kubeconfig: parse k0s kubeconfig"
  ansible.builtin.set_fact:
    k0s_kubeconfig: "{{ kubeconfig_result.stdout | from_yaml }}"

- name: "kubeconfig: ensure local ~/.kube directory exists"
  delegate_to: localhost
  ansible.builtin.file:
    path: ~/.kube
    mode: !!str 0700
    state: directory

- name: "kubeconfig: read existing local kubeconfig"
  delegate_to: localhost
  ansible.builtin.slurp:
    src: ~/.kube/config
  register: local_kubeconfig_file
  failed_when: false

- name: "kubeconfig: set local kubeconfig fact"
  vars:
    empty_kubeconfig:
      apiVersion: v1
      kind: Config
      clusters: []
      contexts: []
      users: []
      current-context: ""
  ansible.builtin.set_fact:
    local_kubeconfig: "{{ (local_kubeconfig_file.content | b64decode | from_yaml) if local_kubeconfig_file.content is defined else empty_kubeconfig }}"

- name: "kubeconfig: build merged kubeconfig"
  vars:
    tombstone_cluster:
      name: tombstone
      cluster: "{{ k0s_kubeconfig.clusters[0].cluster }}"
    tombstone_context:
      name: tombstone
      context:
        cluster: tombstone
        user: tombstone
    tombstone_user:
      name: tombstone
      user: "{{ k0s_kubeconfig.users[0].user }}"
  ansible.builtin.set_fact:
    merged_kubeconfig:
      apiVersion: v1
      kind: Config
      clusters: "{{ (local_kubeconfig.clusters | rejectattr('name', 'equalto', 'tombstone') | list) + [tombstone_cluster] }}"
      contexts: "{{ (local_kubeconfig.contexts | rejectattr('name', 'equalto', 'tombstone') | list) + [tombstone_context] }}"
      current-context: "{{ local_kubeconfig['current-context'] | default('', true) }}"
      users: "{{ (local_kubeconfig.users | rejectattr('name', 'equalto', 'tombstone') | list) + [tombstone_user] }}"

- name: "kubeconfig: write merged kubeconfig"
  delegate_to: localhost
  ansible.builtin.copy:
    content: "{{ merged_kubeconfig | to_nice_yaml(indent=2) }}"
    dest: ~/.kube/config
    mode: !!str 0600
