# yamllint disable rule:line-length
---
- name: "linkerd : fetch release info"
  delegate_to: localhost
  ansible.builtin.uri:
    url: https://api.github.com/repos/linkerd/linkerd2/releases/latest
    headers:
      Accept: application/vnd.github+json
    return_content: true
    body_format: json
  register: linkerd_result
  until: linkerd_result is success

- name: set version fact
  ansible.builtin.set_fact:
    linkerd_version: "{{ linkerd_result.json.tag_name | replace('edge-', '20') }}"

- name: "linkerd : create namespace"
  kubernetes.core.k8s:
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        annotations:
          linkerd.io/inject: disabled
        labels:
          config.linkerd.io/admission-webhooks: disabled
          linkerd.io/control-plane-ns: linkerd
          linkerd.io/is-control-plane: !!str true
          pod-security.kubernetes.io/enforce: privileged
        name: linkerd

- name: "linkerd : install CRDs"
  kubernetes.core.helm:
    chart_ref: linkerd-crds
    chart_repo_url: https://helm.linkerd.io/edge
    chart_version: "{{ linkerd_version }}"
    release_name: linkerd-crds
    release_namespace: linkerd
    wait: true

- name: "linkerd : install control plane"
  kubernetes.core.helm:
    chart_ref: linkerd-control-plane
    chart_repo_url: https://helm.linkerd.io/edge
    chart_version: "{{ linkerd_version }}"
    release_name: linkerd
    release_namespace: linkerd
    release_values:
      identity:
        issuer:
          tls:
            crtPEM: "{{ linkerd_identity_issuer_certificate }}"
            keyPEM: "{{ linkerd_identity_issuer_key }}"
      identityTrustAnchorsPEM: "{{ linkerd_identity_trust_anchors }}"
      installNamespace: false
    wait: true
