# yamllint disable rule:line-length
---
- name: install prerequisites
  ansible.builtin.apt:
    name: python3-kubernetes
    install_recommends: false
    state: present

- ansible.builtin.include_tasks:
    file: k0s.yml

- ansible.builtin.include_tasks:
    file: kubeconfig.yml

- ansible.builtin.include_tasks:
    file: cert-manager.yml

# - name: create openebs-hostpath-retain StorageClass
#   kubernetes.core.k8s:
#     apply: true
#     resource_definition:
#       apiVersion: storage.k8s.io/v1
#       kind: StorageClass
#       metadata:
#         annotations:
#           cas.openebs.io/config: |
#             - name: StorageType
#               value: hostpath
#             - name: BasePath
#               value: /var/openebs/local
#         name: openebs-hostpath-retain
#       provisioner: openebs.io/local
#       reclaimPolicy: Retain
#       volumeBindingMode: WaitForFirstConsumer
#     server_side_apply:
#       field_manager: ansible
