# yamllint disable rule:line-length
---
- name: install prerequisites
  ansible.builtin.apt:
    name: python3-kubernetes
    install_recommends: false
    state: present

- ansible.builtin.include_tasks:
    file: k0s.yml

- ansible.builtin.include_tasks:
    file: kubeconfig.yml

# - ansible.builtin.include_tasks:
#     file: linkerd.yml

# - ansible.builtin.include_tasks:
#     file: cert-manager.yml

# - ansible.builtin.include_tasks:
#     file: metallb.yml

# - name: create local-storage StorageClass
#   kubernetes.core.k8s:
#     resource_definition:
#       apiVersion: storage.k8s.io/v1
#       kind: StorageClass
#       metadata:
#         name: local-storage
#       provisioner: kubernetes.io/no-provisioner
#       volumeBindingMode: WaitForFirstConsumer
