---
- name: fetch release info
  delegate_to: localhost
  ansible.builtin.uri:
    url: https://api.github.com/repos/metallb/metallb/releases/latest
    headers:
      Accept: application/vnd.github+json
    return_content: true
    body_format: json
  register: metallb_result
  until: metallb_result is success

- name: set version fact
  ansible.builtin.set_fact:
    metallb_version: "{{ metallb_result.json.tag_name }}"

- name: create namespace
  kubernetes.core.k8s:
    resource_definition: |
      apiVersion: v1
      kind: Namespace
      metadata:
        annotations:
          linkerd.io/inject: disabled
        labels:
          pod-security.kubernetes.io/enforce: privileged
        name: metallb-system

- name: install chart
  kubernetes.core.helm:
    chart_ref: metallb
    chart_repo_url: https://metallb.github.io/metallb
    chart_version: "{{ metallb_version }}"
    release_name: metallb
    release_namespace: metallb-system
    release_values:
      networkpolicies:
        enabled: true
      speaker:
        enabled: false
    wait: true

- name: install address pool
  kubernetes.core.k8s:
    resource_definition:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      metadata:
        name: default
        namespace: metallb-system
      spec:
        addresses: "{{ metallb_ip_address_pool }}"
