server:
	local-zone: "a1.api.bbc.co.uk." always_nxdomain
	local-zone: "a1.api.bbc.com." always_nxdomain
	local-zone: "activity.api.bbc.co.uk." always_nxdomain
	local-zone: "gn-flagpoles.api.bbci.co.uk." always_nxdomain
	local-zone: "r.bbci.co.uk." always_nxdomain
	local-zone: "sa.bbc.co.uk." always_nxdomain
	local-zone: "stats.bbc.co.uk." always_nxdomain
	local-zone: "visualscience.external.bbc.co.uk." always_nxdomain

forward-zone:
        name: "bbc.co.uk."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "bbc.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "bbci.co.uk."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "bidi.net.uk."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "vod-hls-uk-live.akamaized.net."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "vs-hls-push-uk-live.akamaized.net."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes
