# server:
# 	domain-insecure: "channel4.com."
# 	domain-insecure: "channel4.sc.omtrdc.net."
# 	domain-insecure: "eu-west-general-v4mir-active.fwgtm.akadns.net."
# 	domain-insecure: "keys.c4.aws.redbeemedia.com."

forward-zone:
	name: "2a7e9.v.fwmrm.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "channel4.com."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "channel4.sc.omtrdc.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "e5048.dsca.akamaiedge.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "e7556.a.akamaiedge.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "eu-west-general-v4mir-active.fwgtm.akadns.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "keys.c4.aws.redbeemedia.com."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes
