server:
	local-zone: "ads.channel4.com." always_nxdomain
	local-zone: "cdn.http.anno.channel4.com." always_nxdomain
	local-zone: "cdn.http.anno.test.channel4.com." always_nxdomain
	local-zone: "cdn.ss.anno.channel4.com." always_nxdomain
	local-zone: "channel4.com.ssl.sc.omtrdc.net." always_nxdomain
	local-zone: "ic.channel4.com." always_nxdomain
	local-zone: "monitor.channel4.com." always_nxdomain
	local-zone: "webstat.channel4.com." always_nxdomain
	local-zone: "webstats.channel4.com." always_nxdomain
        local-zone: "c4appletv.2cnt.net." always_nxdomain

forward-zone:
        name: "2a7e9.v.fwmrm.net." # maybe block this one
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "c4assets.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "channel4.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "keys.c4.aws.redbeemedia.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes
