# server:
# 	domain-insecure: "cassi-loadb-74nhbzjupfn0-7417dd126b627d76.elb.eu-west-2.amazonaws.com."
# 	domain-insecure: "ch5.sc.omtrdc.net."
# 	domain-insecure: "channel5.com."
# 	domain-insecure: "five.tv."
# 	domain-insecure: "my5.tv."

forward-zone:
	name: "cassi-loadb-74nhbzjupfn0-7417dd126b627d76.elb.eu-west-2.amazonaws.com."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "ch5.sc.omtrdc.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "channel5.com."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "five.tv."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "my5.tv."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes
