server:
	domain-insecure: "e673.dsce9.akamaiedge.net."
	domain-insecure: "f1accountprod.report-uri.com."
	domain-insecure: "formula1.com."
	domain-insecure: "licensing.bitmovin.com."
	domain-insecure: "watchliveformula1.com."

forward-zone:
	name: "e673.dsce9.akamaiedge.net."
	forward-addr: 54.255.130.140
	forward-no-cache: yes

forward-zone:
	name: "f1accountprod.report-uri.com."
	forward-addr: 54.255.130.140
	forward-no-cache: yes

forward-zone:
	name: "f1prodlive.akamaized.net."
	forward-addr: 54.255.130.140
	forward-no-cache: yes

forward-zone:
	name: "formula1.com."
	forward-addr: 54.255.130.140
	forward-no-cache: yes

forward-zone:
	name: "licensing.bitmovin.com."
	forward-addr: 54.255.130.140
	forward-no-cache: yes

forward-zone:
	name: "watchliveformula1.com."
	forward-addr: 54.255.130.140
	forward-no-cache: yes
