server:
	local-zone: "strack.f1store.formula1.com." always_nxdomain
	local-zone: "track.f1store.formula1.com." always_nxdomain

forward-zone:
        name: "cdn.privacy-mgmt.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "consent.trustarc.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "formula1.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "players.brightcove.net."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes
