# server:
# 	domain-insecure: "a68.dscw27.akamai.net."
# 	domain-insecure: "bbc.co.uk."
# 	domain-insecure: "bbc.com."
# 	domain-insecure: "bbc.map.fastly.net."
# 	domain-insecure: "bbc-a.akadns.net."
# 	domain-insecure: "bbci.co.uk."
# 	domain-insecure: "bbci.co.uk.edgekey.net."
# 	domain-insecure: "bidi.net.uk."
# 	domain-insecure: "vod-hls-uk-live.akamaized.net."

forward-zone:
	name: "a1-api-bbc-co-uk-cddc.at-o.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "a1051.dscw154.akamai.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "a1366.dscapi6.akamai.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "a68.dscw27.akamai.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "bbc.co.uk."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "bbc.com."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "bbc.map.fastly.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "bbc-a.akadns.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "bbci.co.uk."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "bbci.co.uk.edgekey.net."
	# forward-addr: 85.193.155.100
	# forward-addr: 194.72.35.194
	# forward-addr: 195.224.148.52
	# forward-addr: 212.139.214.147
	# forward-addr: 213.251.20.145
	forward-addr: 54.251.190.247
	forward-no-cache: yes

forward-zone:
	name: "bidi.net.uk."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "dar5trsa9u5w7.cloudfront.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "dh53v7vqnorkn.cloudfront.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "e10499.dsce9.akamaiedge.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "e3891.dscf.akamaiedge.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "live-ibl-graph-edge-101087340.eu-west-1.elb.amazonaws.com."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "public-live-ibl-user-activity-772687216.eu-west-1.elb.amazonaws.com."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "vod-hls-uk-live.akamaized.net."
	forward-addr: 85.193.155.100
	forward-addr: 194.72.35.194
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes
