# server:
# 	domain-insecure: "e8158.e2.akamaiedge.net."
# 	domain-insecure: "itv-tier1.ireland.delivery.aimatch.net."
# 	domain-insecure: "itv.com."
# 	domain-insecure: "itvstatic.com."

forward-zone:
	name: "e8158.e2.akamaiedge.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "itv.com."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "itv-tier1.ireland.delivery.aimatch.net."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes

forward-zone:
	name: "itvstatic.com."
	forward-addr: 85.193.155.100
	forward-addr: 143.110.169.182
	forward-addr: 195.224.148.52
	forward-addr: 212.139.214.147
	forward-addr: 213.251.20.145
	forward-no-cache: yes
