forward-zone:
        name: "akahlslive-5star.akamaized.net."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "akahlslive-5usa.akamaized.net."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "akahlslive-paramount.akamaized.net."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "channel5.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "geolocation.onetrust.com."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes

forward-zone:
        name: "my5.tv."
{% for forwarder in unbound_forwarders_controld %}
        forward-addr: "{{ forwarder }}"
{% endfor %}
        forward-tls-upstream: yes
