---
- name: create config directory
  ansible.builtin.file:
    path: /srv/nzbget
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory

- name: create library directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ nzbget_item }}"
    owner: "{{ library_user }}"
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory
  loop:
    - usenet/complete
    - usenet/incomplete
  loop_control:
    loop_var: nzbget_item
