---
- name: create config directory
  ansible.builtin.file:
    path: /var/lib/nzbget
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory

- name: create library directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ nzbget_item }}"
    owner: "{{ library_user }}"
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory
  loop:
    - usenet/complete
    - usenet/incomplete
  loop_control:
    loop_var: nzbget_item

- name: DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yml
  vars:
    unbound_content: |
      server:
        local-data: "nzbget.{{ domain_name }}. A {{ lan_ipv4_address }}"
        local-data: "nzbget.{{ domain_name }}. AAAA {{ lan_ipv6_address }}"
    unbound_dest: local-data-nzbget.conf
