# See iked.conf(5) for syntax and examples.

ikev2 passive \
{% for address in ansible_all_ipv4_addresses|ipaddr('public') %}
  from 0.0.0.0/0 to {{ address }}/32 \
{% endfor %}
{% for address in ansible_all_ipv6_addresses|ipaddr('public') %}
  from ::/0 to {{ address }}/128 \
{% endfor %}
  local {{ ansible_default_ipv4.address }} peer any \
  ikesa auth hmac-sha2-256 enc aes-256 prf hmac-sha2-256 group modp2048 \
  childsa auth hmac-sha1 enc aes-128 group modp2048 \
  psk "foobar" \
  tag "ipsec-$id"
