#!/bin/sh

case "$(uname)" in
Linux)
  lan_ipv6_address=$(ip -6 addr show dev "{{ lan_if }}" scope global | awk '$1=="inet6" {print $2}' | sed -E 's|/[0-9]+$||')
  printf '{"lan_ipv6_address":"%s"}' "${lan_ipv6_address:?}"
  ;;
OpenBSD)
  lan_ipv6_address=$(ifconfig "{{ lan_if }}" | grep -E 'inet6 .+ autoconf' | grep -Ev 'autoconfprivacy|deprecated' | awk '{print $2}')
  printf '{"lan_ipv6_address":"%s"}' "${lan_ipv6_address:?}"
  ;;
esac

# vim: ft=sh
