---
- name: create config directory
  ansible.builtin.file:
    path: /srv/sonarr
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory

- name: create media directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ sonarr_item }}"
    owner: root
    group: "{{ library_group }}"
    mode: !!str 2750
    state: directory
  loop:
    - backups
    - media
    - torrents
    - usenet
  loop_control:
    loop_var: sonarr_item

- name: create media directories
  ansible.builtin.file:
    path: "{{ library_path }}/{{ sonarr_item }}"
    owner: "{{ library_user }}"
    group: "{{ library_group }}"
    mode: !!str 2770
    state: directory
  loop:
    - backups/sonarr
    - media/tv
    - torrents/complete
    - torrents/complete/sonarr
    - usenet/complete
    - usenet/complete/sonarr
    - usenet/incomplete # strange but true
  loop_control:
    loop_var: sonarr_item
