prefork 1

types {
	application/javascript			js
	application/x-apple-aspen-config	mobileconfig
	application/x-ns-proxy-autoconfig	wpad
	text/css				css
	text/html				html
}

server "default" {
	listen on * port 80
}

# vim: noet sw=8 ts=8
