#!/bin/sh

PATH="/usr/local/bin:${PATH}"

next_part "Updating fullbogon lists:"
TMPFILE=`mktemp` && {
  for v in 4; do
    DBFILE=/var/db/fullbogons-ipv${v}.txt
    ftp -4agMV -o $TMPFILE https://www.team-cymru.org/Services/Bogons/fullbogons-ipv${v}.txt
    test -s $TMPFILE && cmp -s $TMPFILE $DBFILE || {
      mv -f $TMPFILE $DBFILE
      pfctl -q -f $DBFILE -t bogons-v${v} -T replace
    }
  done
  rm -f $TMPFILE
}

#next_part "Expiring bruteforce table:"
#pfctl -q -t bruteforce -T expire 86400
{% if sites is defined %}

next_part "Renewing certificates:"
_restart=0
{%   for site in sites | sort(attribute='name') %}
acme-client {{ site.name }} && _restart=1
{%   endfor %}
[[ ${_restart} -eq 1 ]] && rcctl restart nginx
unset _restart
{% endif %}
