local-zone: "2o7.net." redirect
local-data: "2o7.net. A 0.0.0.0"
local-data: "2o7.net. AAAA ::"
local-zone: "adplxmd.com." redirect
local-data: "adplxmd.com. A 0.0.0.0"
local-data: "adplxmd.com. AAAA ::"
local-zone: "audienceinsights.net." redirect
local-data: "audienceinsights.net. A 0.0.0.0"
local-data: "audienceinsights.net. AAAA ::"
local-zone: "behavioralengine.com." redirect
local-data: "behavioralengine.com. A 0.0.0.0"
local-data: "behavioralengine.com. AAAA ::"
local-zone: "click." redirect
local-data: "click. A 0.0.0.0"
local-data: "click. AAAA ::"
local-zone: "country." redirect
local-data: "country. A 0.0.0.0"
local-data: "country. AAAA ::"
local-zone: "dailymail.co.uk." redirect
local-data: "dailymail.co.uk. A 0.0.0.0"
local-data: "dailymail.co.uk. AAAA ::"
local-zone: "dearerfonder.info." redirect
local-data: "dearerfonder.info. A 0.0.0.0"
local-data: "dearerfonder.info. AAAA ::"
local-zone: "doubleclick.com." redirect
local-data: "doubleclick.com. A 0.0.0.0"
local-data: "doubleclick.com. AAAA ::"
local-zone: "doubleclick.de." redirect
local-data: "doubleclick.de. A 0.0.0.0"
local-data: "doubleclick.de. AAAA ::"
local-zone: "doubleclick.net." redirect
local-data: "doubleclick.net. A 0.0.0.0"
local-data: "doubleclick.net. AAAA ::"
local-zone: "doubleclickbygoogle.com." redirect
local-data: "doubleclickbygoogle.com. A 0.0.0.0"
local-data: "doubleclickbygoogle.com. AAAA ::"
local-zone: "explorads.com." redirect
local-data: "explorads.com. A 0.0.0.0"
local-data: "explorads.com. AAAA ::"
local-zone: "fonderredd.info." redirect
local-data: "fonderredd.info. A 0.0.0.0"
local-data: "fonderredd.info. AAAA ::"
local-zone: "foresee.com." redirect
local-data: "foresee.com. A 0.0.0.0"
local-data: "foresee.com. AAAA ::"
local-zone: "foreseeresults.com." redirect
local-data: "foreseeresults.com. A 0.0.0.0"
local-data: "foreseeresults.com. AAAA ::"
local-zone: "functionalclam.com." redirect
local-data: "functionalclam.com. A 0.0.0.0"
local-data: "functionalclam.com. AAAA ::"
local-zone: "instartlogic.com." redirect
local-data: "instartlogic.com. A 0.0.0.0"
local-data: "instartlogic.com. AAAA ::"
local-zone: "intellitxt.com." redirect
local-data: "intellitxt.com. A 0.0.0.0"
local-data: "intellitxt.com. AAAA ::"
local-zone: "link." redirect
local-data: "link. A 0.0.0.0"
local-data: "link. AAAA ::"
local-zone: "mpixeli.com." redirect
local-data: "mpixeli.com. A 0.0.0.0"
local-data: "mpixeli.com. AAAA ::"
local-zone: "rocks." redirect
local-data: "rocks. A 0.0.0.0"
local-data: "rocks. AAAA ::"
local-zone: "science." redirect
local-data: "science. A 0.0.0.0"
local-data: "science. AAAA ::"
local-zone: "spark.telegraph.co.uk." redirect
local-data: "spark.telegraph.co.uk. A 0.0.0.0"
local-data: "spark.telegraph.co.uk. AAAA ::"
local-zone: "talkable.com." redirect
local-data: "talkable.com. A 0.0.0.0"
local-data: "talkable.com. AAAA ::"
local-zone: "telemetry-in.battle.net." redirect
local-data: "telemetry-in.battle.net. A 0.0.0.0"
local-data: "telemetry-in.battle.net. AAAA ::"
local-zone: "telemetry.battle.net." redirect
local-data: "telemetry.battle.net. A 0.0.0.0"
local-data: "telemetry.battle.net. AAAA ::"
local-zone: "top." redirect
local-data: "top. A 0.0.0.0"
local-data: "top. AAAA ::"
local-zone: "uponit.com." redirect
local-data: "uponit.com. A 0.0.0.0"
local-data: "uponit.com. AAAA ::"
local-zone: "virus-1.com." redirect
local-data: "virus-1.com. A 0.0.0.0"
local-data: "virus-1.com. AAAA ::"
local-zone: "virus.com." redirect
local-data: "virus.com. A 0.0.0.0"
local-data: "virus.com. AAAA ::"
local-zone: "voluumtrk.com." redirect
local-data: "voluumtrk.com. A 0.0.0.0"
local-data: "voluumtrk.com. AAAA ::"
local-zone: "yeesshh.com." redirect
local-data: "yeesshh.com. A 0.0.0.0"
local-data: "yeesshh.com. AAAA ::"
local-zone: "zeroredirect.com." redirect
local-data: "zeroredirect.com. A 0.0.0.0"
local-data: "zeroredirect.com. AAAA ::"
local-zone: "zeroredirect1.com." redirect
local-data: "zeroredirect1.com. A 0.0.0.0"
local-data: "zeroredirect1.com. AAAA ::"
local-zone: "zeroredirect10.com." redirect
local-data: "zeroredirect10.com. A 0.0.0.0"
local-data: "zeroredirect10.com. AAAA ::"
local-zone: "zeroredirect11.com." redirect
local-data: "zeroredirect11.com. A 0.0.0.0"
local-data: "zeroredirect11.com. AAAA ::"
local-zone: "zeroredirect12.com." redirect
local-data: "zeroredirect12.com. A 0.0.0.0"
local-data: "zeroredirect12.com. AAAA ::"
local-zone: "zeroredirect2.com." redirect
local-data: "zeroredirect2.com. A 0.0.0.0"
local-data: "zeroredirect2.com. AAAA ::"
local-zone: "zeroredirect3.com." redirect
local-data: "zeroredirect3.com. A 0.0.0.0"
local-data: "zeroredirect3.com. AAAA ::"
local-zone: "zeroredirect4.com." redirect
local-data: "zeroredirect4.com. A 0.0.0.0"
local-data: "zeroredirect4.com. AAAA ::"
local-zone: "zeroredirect5.com." redirect
local-data: "zeroredirect5.com. A 0.0.0.0"
local-data: "zeroredirect5.com. AAAA ::"
local-zone: "zeroredirect6.com." redirect
local-data: "zeroredirect6.com. A 0.0.0.0"
local-data: "zeroredirect6.com. AAAA ::"
local-zone: "zeroredirect7.com." redirect
local-data: "zeroredirect7.com. A 0.0.0.0"
local-data: "zeroredirect7.com. AAAA ::"
local-zone: "zeroredirect8.com." redirect
local-data: "zeroredirect8.com. A 0.0.0.0"
local-data: "zeroredirect8.com. AAAA ::"
local-zone: "zeroredirect9.com." redirect
local-data: "zeroredirect9.com. A 0.0.0.0"
local-data: "zeroredirect9.com. AAAA ::"
