local-zone: "adblock.mydns.network." redirect
local-data: "adblock.mydns.network. 3600 A 0.0.0.0"
local-data: "adblock.mydns.network. 3600 AAAA ::"
local-zone: "applied-privacy.net." redirect
local-data: "applied-privacy.net. 3600 A 0.0.0.0"
local-data: "applied-privacy.net. 3600 AAAA ::"
local-zone: "bravedns.com." redirect
local-data: "bravedns.com. 3600 A 0.0.0.0"
local-data: "bravedns.com. 3600 AAAA ::"
local-zone: "captnemo.in." redirect
local-data: "captnemo.in. 3600 A 0.0.0.0"
local-data: "captnemo.in. 3600 AAAA ::"
local-zone: "cloudflare-dns.com." redirect
local-data: "cloudflare-dns.com. 3600 A 0.0.0.0"
local-data: "cloudflare-dns.com. 3600 AAAA ::"
local-zone: "dns-asia.wugui.zone." redirect
local-data: "dns-asia.wugui.zone. 3600 A 0.0.0.0"
local-data: "dns-asia.wugui.zone. 3600 AAAA ::"
local-zone: "dns-family.adguard.com." redirect
local-data: "dns-family.adguard.com. 3600 A 0.0.0.0"
local-data: "dns-family.adguard.com. 3600 AAAA ::"
local-zone: "dns-nyc.aaflalo.me." redirect
local-data: "dns-nyc.aaflalo.me. 3600 A 0.0.0.0"
local-data: "dns-nyc.aaflalo.me. 3600 AAAA ::"
local-zone: "dns.aa.net.uk." redirect
local-data: "dns.aa.net.uk. 3600 A 0.0.0.0"
local-data: "dns.aa.net.uk. 3600 AAAA ::"
local-zone: "dns.aaflalo.me." redirect
local-data: "dns.aaflalo.me. 3600 A 0.0.0.0"
local-data: "dns.aaflalo.me. 3600 AAAA ::"
local-zone: "dns.adguard.com." redirect
local-data: "dns.adguard.com. 3600 A 0.0.0.0"
local-data: "dns.adguard.com. 3600 AAAA ::"
local-zone: "dns.alidns.com." redirect
local-data: "dns.alidns.com. 3600 A 0.0.0.0"
local-data: "dns.alidns.com. 3600 AAAA ::"
local-zone: "dns.containerpi.com." redirect
local-data: "dns.containerpi.com. 3600 A 0.0.0.0"
local-data: "dns.containerpi.com. 3600 AAAA ::"
local-zone: "dns.digitale-gesellschaft.ch." redirect
local-data: "dns.digitale-gesellschaft.ch. 3600 A 0.0.0.0"
local-data: "dns.digitale-gesellschaft.ch. 3600 AAAA ::"
local-zone: "dns.dns-over-https.com." redirect
local-data: "dns.dns-over-https.com. 3600 A 0.0.0.0"
local-data: "dns.dns-over-https.com. 3600 AAAA ::"
local-zone: "dns.dnshome.de." redirect
local-data: "dns.dnshome.de. 3600 A 0.0.0.0"
local-data: "dns.dnshome.de. 3600 AAAA ::"
local-zone: "dns.dnsoverhttps.net." redirect
local-data: "dns.dnsoverhttps.net. 3600 A 0.0.0.0"
local-data: "dns.dnsoverhttps.net. 3600 AAAA ::"
local-zone: "dns.flatuslifir.is." redirect
local-data: "dns.flatuslifir.is. 3600 A 0.0.0.0"
local-data: "dns.flatuslifir.is. 3600 AAAA ::"
local-zone: "dns.google." redirect
local-data: "dns.google. 3600 A 0.0.0.0"
local-data: "dns.google. 3600 AAAA ::"
local-zone: "dns.hostux.net." redirect
local-data: "dns.hostux.net. 3600 A 0.0.0.0"
local-data: "dns.hostux.net. 3600 AAAA ::"
local-zone: "dns.nextdns.io." redirect
local-data: "dns.nextdns.io. 3600 A 0.0.0.0"
local-data: "dns.nextdns.io. 3600 AAAA ::"
local-zone: "dns.quad9.net." redirect
local-data: "dns.quad9.net. 3600 A 0.0.0.0"
local-data: "dns.quad9.net. 3600 AAAA ::"
local-zone: "dns.rubyfish.cn." redirect
local-data: "dns.rubyfish.cn. 3600 A 0.0.0.0"
local-data: "dns.rubyfish.cn. 3600 AAAA ::"
local-zone: "dns.switch.ch." redirect
local-data: "dns.switch.ch. 3600 A 0.0.0.0"
local-data: "dns.switch.ch. 3600 AAAA ::"
local-zone: "dns.twnic.tw." redirect
local-data: "dns.twnic.tw. 3600 A 0.0.0.0"
local-data: "dns.twnic.tw. 3600 AAAA ::"
local-zone: "dns.wugui.zone." redirect
local-data: "dns.wugui.zone. 3600 A 0.0.0.0"
local-data: "dns.wugui.zone. 3600 AAAA ::"
local-zone: "dns10.quad9.net." redirect
local-data: "dns10.quad9.net. 3600 A 0.0.0.0"
local-data: "dns10.quad9.net. 3600 AAAA ::"
local-zone: "dns11.quad9.net." redirect
local-data: "dns11.quad9.net. 3600 A 0.0.0.0"
local-data: "dns11.quad9.net. 3600 AAAA ::"
local-zone: "dns64.cloudflare-dns.com." redirect
local-data: "dns64.cloudflare-dns.com. 3600 A 0.0.0.0"
local-data: "dns64.cloudflare-dns.com. 3600 AAAA ::"
local-zone: "dns64.dns.google." redirect
local-data: "dns64.dns.google. 3600 A 0.0.0.0"
local-data: "dns64.dns.google. 3600 AAAA ::"
local-zone: "dns9.quad9.net." redirect
local-data: "dns9.quad9.net. 3600 A 0.0.0.0"
local-data: "dns9.quad9.net. 3600 AAAA ::"
local-zone: "dnsdist.org." redirect
local-data: "dnsdist.org. 3600 A 0.0.0.0"
local-data: "dnsdist.org. 3600 AAAA ::"
local-zone: "dnses.alekberg.net." redirect
local-data: "dnses.alekberg.net. 3600 A 0.0.0.0"
local-data: "dnses.alekberg.net. 3600 AAAA ::"
local-zone: "dnsforge.de." redirect
local-data: "dnsforge.de. 3600 A 0.0.0.0"
local-data: "dnsforge.de. 3600 AAAA ::"
local-zone: "dnsnl.alekberg.net." redirect
local-data: "dnsnl.alekberg.net. 3600 A 0.0.0.0"
local-data: "dnsnl.alekberg.net. 3600 AAAA ::"
local-zone: "dnsse.alekberg.net." redirect
local-data: "dnsse.alekberg.net. 3600 A 0.0.0.0"
local-data: "dnsse.alekberg.net. 3600 AAAA ::"
local-zone: "doh-2.seby.io." redirect
local-data: "doh-2.seby.io. 3600 A 0.0.0.0"
local-data: "doh-2.seby.io. 3600 AAAA ::"
local-zone: "doh-de.blahdns.com." redirect
local-data: "doh-de.blahdns.com. 3600 A 0.0.0.0"
local-data: "doh-de.blahdns.com. 3600 AAAA ::"
local-zone: "doh-fi.blahdns.com." redirect
local-data: "doh-fi.blahdns.com. 3600 A 0.0.0.0"
local-data: "doh-fi.blahdns.com. 3600 AAAA ::"
local-zone: "doh-jp.blahdns.com." redirect
local-data: "doh-jp.blahdns.com. 3600 A 0.0.0.0"
local-data: "doh-jp.blahdns.com. 3600 AAAA ::"
local-zone: "doh.42l.fr." redirect
local-data: "doh.42l.fr. 3600 A 0.0.0.0"
local-data: "doh.42l.fr. 3600 AAAA ::"
local-zone: "doh.applied-privacy.net." redirect
local-data: "doh.applied-privacy.net. 3600 A 0.0.0.0"
local-data: "doh.applied-privacy.net. 3600 AAAA ::"
local-zone: "doh.armadillodns.net." redirect
local-data: "doh.armadillodns.net. 3600 A 0.0.0.0"
local-data: "doh.armadillodns.net. 3600 AAAA ::"
local-zone: "doh.captnemo.in." redirect
local-data: "doh.captnemo.in. 3600 A 0.0.0.0"
local-data: "doh.captnemo.in. 3600 AAAA ::"
local-zone: "doh.centraleu.pi-dns.com." redirect
local-data: "doh.centraleu.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.centraleu.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.cleanbrowsing.org." redirect
local-data: "doh.cleanbrowsing.org. 3600 A 0.0.0.0"
local-data: "doh.cleanbrowsing.org. 3600 AAAA ::"
local-zone: "doh.crypto.sx." redirect
local-data: "doh.crypto.sx. 3600 A 0.0.0.0"
local-data: "doh.crypto.sx. 3600 AAAA ::"
local-zone: "doh.dns.sb." redirect
local-data: "doh.dns.sb. 3600 A 0.0.0.0"
local-data: "doh.dns.sb. 3600 AAAA ::"
local-zone: "doh.dnslify.com." redirect
local-data: "doh.dnslify.com. 3600 A 0.0.0.0"
local-data: "doh.dnslify.com. 3600 AAAA ::"
local-zone: "doh.eastas.pi-dns.com." redirect
local-data: "doh.eastas.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.eastas.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.eastau.pi-dns.com." redirect
local-data: "doh.eastau.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.eastau.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.eastus.pi-dns.com." redirect
local-data: "doh.eastus.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.eastus.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.familyshield.opendns.com." redirect
local-data: "doh.familyshield.opendns.com. 3600 A 0.0.0.0"
local-data: "doh.familyshield.opendns.com. 3600 AAAA ::"
local-zone: "doh.ffmuc.net." redirect
local-data: "doh.ffmuc.net. 3600 A 0.0.0.0"
local-data: "doh.ffmuc.net. 3600 AAAA ::"
local-zone: "doh.in.ahadns.net." redirect
local-data: "doh.in.ahadns.net. 3600 A 0.0.0.0"
local-data: "doh.in.ahadns.net. 3600 AAAA ::"
local-zone: "doh.li." redirect
local-data: "doh.li. 3600 A 0.0.0.0"
local-data: "doh.li. 3600 AAAA ::"
local-zone: "doh.libredns.gr." redirect
local-data: "doh.libredns.gr. 3600 A 0.0.0.0"
local-data: "doh.libredns.gr. 3600 AAAA ::"
local-zone: "doh.nl.ahadns.net." redirect
local-data: "doh.nl.ahadns.net. 3600 A 0.0.0.0"
local-data: "doh.nl.ahadns.net. 3600 AAAA ::"
local-zone: "doh.northeu.pi-dns.com." redirect
local-data: "doh.northeu.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.northeu.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.opendns.com." redirect
local-data: "doh.opendns.com. 3600 A 0.0.0.0"
local-data: "doh.opendns.com. 3600 AAAA ::"
local-zone: "doh.pi-dns.com." redirect
local-data: "doh.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.powerdns.org<." redirect
local-data: "doh.powerdns.org<. 3600 A 0.0.0.0"
local-data: "doh.powerdns.org<. 3600 AAAA ::"
local-zone: "doh.seby.io." redirect
local-data: "doh.seby.io. 3600 A 0.0.0.0"
local-data: "doh.seby.io. 3600 AAAA ::"
local-zone: "doh.tiar.app." redirect
local-data: "doh.tiar.app. 3600 A 0.0.0.0"
local-data: "doh.tiar.app. 3600 AAAA ::"
local-zone: "doh.tiarap.org." redirect
local-data: "doh.tiarap.org. 3600 A 0.0.0.0"
local-data: "doh.tiarap.org. 3600 AAAA ::"
local-zone: "doh.westus.pi-dns.com." redirect
local-data: "doh.westus.pi-dns.com. 3600 A 0.0.0.0"
local-data: "doh.westus.pi-dns.com. 3600 AAAA ::"
local-zone: "doh.xfinity.com." redirect
local-data: "doh.xfinity.com. 3600 A 0.0.0.0"
local-data: "doh.xfinity.com. 3600 AAAA ::"
local-zone: "dohdot.coxlab.net." redirect
local-data: "dohdot.coxlab.net. 3600 A 0.0.0.0"
local-data: "dohdot.coxlab.net. 3600 AAAA ::"
local-zone: "eu1.dns.lavate.ch." redirect
local-data: "eu1.dns.lavate.ch. 3600 A 0.0.0.0"
local-data: "eu1.dns.lavate.ch. 3600 AAAA ::"
local-zone: "example.doh.blockerdns.com." redirect
local-data: "example.doh.blockerdns.com. 3600 A 0.0.0.0"
local-data: "example.doh.blockerdns.com. 3600 AAAA ::"
local-zone: "family.canadianshield.cira.ca." redirect
local-data: "family.canadianshield.cira.ca. 3600 A 0.0.0.0"
local-data: "family.canadianshield.cira.ca. 3600 AAAA ::"
local-zone: "family.cloudflare-dns.com." redirect
local-data: "family.cloudflare-dns.com. 3600 A 0.0.0.0"
local-data: "family.cloudflare-dns.com. 3600 AAAA ::"
local-zone: "fi.doh.dns.snopyta.org." redirect
local-data: "fi.doh.dns.snopyta.org. 3600 A 0.0.0.0"
local-data: "fi.doh.dns.snopyta.org. 3600 AAAA ::"
local-zone: "free.bravedns.com." redirect
local-data: "free.bravedns.com. 3600 A 0.0.0.0"
local-data: "free.bravedns.com. 3600 AAAA ::"
local-zone: "ibksturm.synology.me." redirect
local-data: "ibksturm.synology.me. 3600 A 0.0.0.0"
local-data: "ibksturm.synology.me. 3600 AAAA ::"
local-zone: "ibuki.cgnat.net." redirect
local-data: "ibuki.cgnat.net. 3600 A 0.0.0.0"
local-data: "ibuki.cgnat.net. 3600 AAAA ::"
local-zone: "jcdns.fun." redirect
local-data: "jcdns.fun. 3600 A 0.0.0.0"
local-data: "jcdns.fun. 3600 AAAA ::"
local-zone: "jit.ddns.net." redirect
local-data: "jit.ddns.net. 3600 A 0.0.0.0"
local-data: "jit.ddns.net. 3600 AAAA ::"
local-zone: "jp.tiar.app." redirect
local-data: "jp.tiar.app. 3600 A 0.0.0.0"
local-data: "jp.tiar.app. 3600 AAAA ::"
local-zone: "jp.tiarap.org." redirect
local-data: "jp.tiarap.org. 3600 A 0.0.0.0"
local-data: "jp.tiarap.org. 3600 AAAA ::"
local-zone: "mozilla.cloudflare-dns.com." redirect
local-data: "mozilla.cloudflare-dns.com. 3600 A 0.0.0.0"
local-data: "mozilla.cloudflare-dns.com. 3600 AAAA ::"
local-zone: "odvr.nic.cz." redirect
local-data: "odvr.nic.cz. 3600 A 0.0.0.0"
local-data: "odvr.nic.cz. 3600 AAAA ::"
local-zone: "ordns.he.net." redirect
local-data: "ordns.he.net. 3600 A 0.0.0.0"
local-data: "ordns.he.net. 3600 AAAA ::"
local-zone: "private.canadianshield.cira.ca." redirect
local-data: "private.canadianshield.cira.ca. 3600 A 0.0.0.0"
local-data: "private.canadianshield.cira.ca. 3600 AAAA ::"
local-zone: "protected.canadianshield.cira.ca." redirect
local-data: "protected.canadianshield.cira.ca. 3600 A 0.0.0.0"
local-data: "protected.canadianshield.cira.ca. 3600 AAAA ::"
local-zone: "rdns.faelix.net." redirect
local-data: "rdns.faelix.net. 3600 A 0.0.0.0"
local-data: "rdns.faelix.net. 3600 AAAA ::"
local-zone: "resolver-eu.lelux.fi." redirect
local-data: "resolver-eu.lelux.fi. 3600 A 0.0.0.0"
local-data: "resolver-eu.lelux.fi. 3600 AAAA ::"
local-zone: "security.cloudflare-dns.com." redirect
local-data: "security.cloudflare-dns.com. 3600 A 0.0.0.0"
local-data: "security.cloudflare-dns.com. 3600 AAAA ::"
local-zone: "us1.dns.lavate.ch." redirect
local-data: "us1.dns.lavate.ch. 3600 A 0.0.0.0"
local-data: "us1.dns.lavate.ch. 3600 AAAA ::"
local-zone: "www.digitale-gesellschaft.ch." redirect
local-data: "www.digitale-gesellschaft.ch. 3600 A 0.0.0.0"
local-data: "www.digitale-gesellschaft.ch. 3600 AAAA ::"
