local-zone: "2o7.net." redirect
local-data: "2o7.net. A 0.0.0.0"
local-data: "2o7.net. AAAA ::"
local-zone: "adplxmd.com." redirect
local-data: "adplxmd.com. A 0.0.0.0"
local-data: "adplxmd.com. AAAA ::"
local-zone: "cdninstagram.com." redirect
local-data: "cdninstagram.com. A 0.0.0.0"
local-data: "cdninstagram.com. AAAA ::"
local-zone: "dearerfonder.info." redirect
local-data: "dearerfonder.info. A 0.0.0.0"
local-data: "dearerfonder.info. AAAA ::"
local-zone: "doubleclick.com." redirect
local-data: "doubleclick.com. A 0.0.0.0"
local-data: "doubleclick.com. AAAA ::"
local-zone: "doubleclick.de." redirect
local-data: "doubleclick.de. A 0.0.0.0"
local-data: "doubleclick.de. AAAA ::"
local-zone: "doubleclick.net." redirect
local-data: "doubleclick.net. A 0.0.0.0"
local-data: "doubleclick.net. AAAA ::"
local-zone: "doubleclickbygoogle.com." redirect
local-data: "doubleclickbygoogle.com. A 0.0.0.0"
local-data: "doubleclickbygoogle.com. AAAA ::"
local-zone: "explorads.com." redirect
local-data: "explorads.com. A 0.0.0.0"
local-data: "explorads.com. AAAA ::"
local-zone: "facebook.com." redirect
local-data: "facebook.com. A 0.0.0.0"
local-data: "facebook.com. AAAA ::"
local-zone: "facebook.com.edgekey.net." redirect
local-data: "facebook.com.edgekey.net. A 0.0.0.0"
local-data: "facebook.com.edgekey.net. AAAA ::"
local-zone: "facebook.com.edgesuite.net." redirect
local-data: "facebook.com.edgesuite.net. A 0.0.0.0"
local-data: "facebook.com.edgesuite.net. AAAA ::"
local-zone: "facebook.net." redirect
local-data: "facebook.net. A 0.0.0.0"
local-data: "facebook.net. AAAA ::"
local-zone: "facebook.net.edgekey.net." redirect
local-data: "facebook.net.edgekey.net. A 0.0.0.0"
local-data: "facebook.net.edgekey.net. AAAA ::"
local-zone: "fb.com." redirect
local-data: "fb.com. A 0.0.0.0"
local-data: "fb.com. AAAA ::"
local-zone: "fb.me." redirect
local-data: "fb.me. A 0.0.0.0"
local-data: "fb.me. AAAA ::"
local-zone: "fbcdn.net." redirect
local-data: "fbcdn.net. A 0.0.0.0"
local-data: "fbcdn.net. AAAA ::"
local-zone: "fbsbx.com." redirect
local-data: "fbsbx.com. A 0.0.0.0"
local-data: "fbsbx.com. AAAA ::"
local-zone: "fbsbx.com.online-metrix.net." redirect
local-data: "fbsbx.com.online-metrix.net. A 0.0.0.0"
local-data: "fbsbx.com.online-metrix.net. AAAA ::"
local-zone: "fonderredd.info." redirect
local-data: "fonderredd.info. A 0.0.0.0"
local-data: "fonderredd.info. AAAA ::"
local-zone: "foresee.com." redirect
local-data: "foresee.com. A 0.0.0.0"
local-data: "foresee.com. AAAA ::"
local-zone: "foreseeresults.com." redirect
local-data: "foreseeresults.com. A 0.0.0.0"
local-data: "foreseeresults.com. AAAA ::"
local-zone: "instagram.com." redirect
local-data: "instagram.com. A 0.0.0.0"
local-data: "instagram.com. AAAA ::"
local-zone: "intellitxt.com." redirect
local-data: "intellitxt.com. A 0.0.0.0"
local-data: "intellitxt.com. AAAA ::"
local-zone: "mpixeli.com." redirect
local-data: "mpixeli.com. A 0.0.0.0"
local-data: "mpixeli.com. AAAA ::"
local-zone: "talkable.com." redirect
local-data: "talkable.com. A 0.0.0.0"
local-data: "talkable.com. AAAA ::"
local-zone: "telemetry-in.battle.net." redirect
local-data: "telemetry-in.battle.net. A 0.0.0.0"
local-data: "telemetry-in.battle.net. AAAA ::"
local-zone: "telemetry.battle.net." redirect
local-data: "telemetry.battle.net. A 0.0.0.0"
local-data: "telemetry.battle.net. AAAA ::"
local-zone: "tfbnw.net." redirect
local-data: "tfbnw.net. A 0.0.0.0"
local-data: "tfbnw.net. AAAA ::"
local-zone: "virus-1.com." redirect
local-data: "virus-1.com. A 0.0.0.0"
local-data: "virus-1.com. AAAA ::"
local-zone: "virus.com." redirect
local-data: "virus.com. A 0.0.0.0"
local-data: "virus.com. AAAA ::"
local-zone: "voluumtrk.com." redirect
local-data: "voluumtrk.com. A 0.0.0.0"
local-data: "voluumtrk.com. AAAA ::"
local-zone: "whatsapp.com." redirect
local-data: "whatsapp.com. A 0.0.0.0"
local-data: "whatsapp.com. AAAA ::"
local-zone: "yeesshh.com." redirect
local-data: "yeesshh.com. A 0.0.0.0"
local-data: "yeesshh.com. AAAA ::"
local-zone: "zeroredirect.com." redirect
local-data: "zeroredirect.com. A 0.0.0.0"
local-data: "zeroredirect.com. AAAA ::"
local-zone: "zeroredirect1.com." redirect
local-data: "zeroredirect1.com. A 0.0.0.0"
local-data: "zeroredirect1.com. AAAA ::"
local-zone: "zeroredirect10.com." redirect
local-data: "zeroredirect10.com. A 0.0.0.0"
local-data: "zeroredirect10.com. AAAA ::"
local-zone: "zeroredirect11.com." redirect
local-data: "zeroredirect11.com. A 0.0.0.0"
local-data: "zeroredirect11.com. AAAA ::"
local-zone: "zeroredirect12.com." redirect
local-data: "zeroredirect12.com. A 0.0.0.0"
local-data: "zeroredirect12.com. AAAA ::"
local-zone: "zeroredirect2.com." redirect
local-data: "zeroredirect2.com. A 0.0.0.0"
local-data: "zeroredirect2.com. AAAA ::"
local-zone: "zeroredirect3.com." redirect
local-data: "zeroredirect3.com. A 0.0.0.0"
local-data: "zeroredirect3.com. AAAA ::"
local-zone: "zeroredirect4.com." redirect
local-data: "zeroredirect4.com. A 0.0.0.0"
local-data: "zeroredirect4.com. AAAA ::"
local-zone: "zeroredirect5.com." redirect
local-data: "zeroredirect5.com. A 0.0.0.0"
local-data: "zeroredirect5.com. AAAA ::"
local-zone: "zeroredirect6.com." redirect
local-data: "zeroredirect6.com. A 0.0.0.0"
local-data: "zeroredirect6.com. AAAA ::"
local-zone: "zeroredirect7.com." redirect
local-data: "zeroredirect7.com. A 0.0.0.0"
local-data: "zeroredirect7.com. AAAA ::"
local-zone: "zeroredirect8.com." redirect
local-data: "zeroredirect8.com. A 0.0.0.0"
local-data: "zeroredirect8.com. AAAA ::"
local-zone: "zeroredirect9.com." redirect
local-data: "zeroredirect9.com. A 0.0.0.0"
local-data: "zeroredirect9.com. AAAA ::"
