server:
	verbosity: 1

	num-threads: 1

	interface: 127.0.0.1
	interface: ::1

	prefer-ip6: yes

	tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt

	access-control: 0.0.0.0/0 refuse
	access-control: 127.0.0.0/8 allow
	access-control: ::0/0 deny
	access-control: ::1 allow

	# log-queries: yes
	log-replies: yes
	# log-tag-queryreply: yes

	root-hints: /usr/share/dns/root.hints

	private-address: 0.0.0.0/8
	private-address: 10.0.0.0/8         # Private-Use
	private-address: 100.64.0.0/10      # Shared Address Space
	private-address: 127.0.0.0/8        # Loopback
	private-address: 169.254.0.0/16     # Link Local
	private-address: 172.16.0.0/12      # Private-Use
	private-address: 192.0.2.0/24       # Documentation (TEST-NET-1)
	private-address: 192.168.0.0/16     # Private-Use
	private-address: 198.18.0.0/15      # Benchmarking
	private-address: 198.51.100.0/24    # Documentation (TEST-NET-2)
	private-address: 203.0.113.0/24     # Documentation (TEST-NET-3)
	private-address: 240.0.0.0/4        # Reserved
	private-address: 255.255.255.255/32 # Limited Broadcast
	private-address: fd00::/8
	private-address: fe80::/10
	private-address: ::ffff:0:0/96      # IPv4-mapped IPv6 addresses

	deny-any: yes

	trust-anchor-file: /usr/share/dns/root.key

{% if unbound_null_zones | length %}
{%   for zone in unbound_null_zones | sort | unique %}
	domain-insecure: "{{ zone }}"
{%   endfor %}

{% endif %}
	val-log-level: 2

{% if unbound_null_zones | length %}
{%   for zone in unbound_null_zones | sort | unique %}
	local-zone: "{{ zone }}." always_null
{%   endfor %}

{% endif %}
	ede: yes

remote-control:
	control-enable: yes
	control-interface: /run/unbound.ctl

forward-zone:
	name: "."
{% for forwarder in unbound_forwarders %}
	forward-addr: "{{ forwarder }}"
{% endfor %}
	forward-tls-upstream: yes
