server:
	verbosity: {{ unbound_config_verbosity }}

	num-threads: {{ unbound_config_num_threads }}

	interface: 127.0.0.1
	interface: {{ lan_ipv4|ipaddr('address') }}
{% if vpn_server_ipv4 is defined %}
	interface: {{ vpn_server_ipv4|ipaddr('address') }}
{% endif %}
	interface: ::1
{% if lan_ipv6 is defined %}
	interface: {{ lan_ipv6|ipaddr('address') }}
{% endif %}
{% if vpn_server_ipv6 is defined %}
	interface: {{ vpn_server_ipv6|ipaddr('address') }}
{% endif %}

	msg-cache-size: 4m  # default
	msg-cache-slabs: {{ unbound_config_num_threads }}

	rrset-cache-size: 8m
	rrset-cache-slabs: {{ unbound_config_num_threads }}

	infra-cache-slabs: {{ unbound_config_num_threads }}

#	prefer-ip6: yes

	access-control: 127.0.0.0/8 allow
	access-control: {{ lan_ipv4|ipaddr('host/prefix')|ipaddr('subnet') }} allow
{% if vpn_server_ipv4 is defined %}
	access-control: {{ vpn_server_ipv4|ipaddr('network') }}/{{ vpn_server_ipv4|ipaddr('prefix') }} allow
{% endif %}
	access-control: ::1 allow
{% if lan_ipv6 is defined %}
	access-control: {{ lan_ipv6|ipaddr('host/prefix')|ipaddr('subnet') }} allow
{% endif %}
{% if vpn_server_ipv6 is defined %}
	access-control: {{ vpn_server_ipv6|ipaddr('network') }}/{{ vpn_server_ipv6|ipaddr('prefix') }} allow
{% endif %}

	pidfile: {{ unbound_pid_file }}

#	root-hints: /var/unbound/etc/named.cache

	hide-identity: yes
	hide-version: yes

	harden-below-nxdomain: yes

	qname-minimisation: yes

	private-address: 10.0.0.0/8
	private-address: 169.254.0.0/16
	private-address: 172.16.0.0/12
	private-address: 192.168.0.0/16
	private-address: ::ffff:0:0/96
	private-address: fd00::/8
	private-address: fe80::/10

	prefetch: yes
	prefetch-key: yes

	auto-trust-anchor-file: /var/unbound/db/root.key

#	key-cache-size: 32m
	key-cache-slabs: {{ unbound_config_num_threads }}

	include: /var/unbound/etc/filter-domains.conf
	include: /var/unbound/etc/filter-hosts.conf

# remote-control:
#	control-enable: yes
#	control-interface: /var/run/unbound.control

forward-zone:
        name: "."
{% for nameserver in nameservers %}
	forward-addr: {{ nameserver }}
{% endfor %}
