server:
	verbosity: {{ unbound_config_verbosity }}

	statistics-cumulative: yes
#	extended-statistics: yes
	num-threads: {{ unbound_config_num_threads }}

{% for interface in unbound_config_interface %}
	interface: {{ interface }}
{% endfor %}

{% if unbound_config_num_threads == 1 %}
	outgoing-range: 950
{% elif unbound_config_num_threads == 2 %}
	outgoing-range: 450
{% elif unbound_config_num_threads == 4 %}
	outgoing-range: 200
{% endif %}

	msg-cache-size: 32m
	msg-cache-slabs: {{ unbound_config_num_threads }}
{% if unbound_config_num_threads == 1 %}
	num-queries-per-thread: 475
{% elif unbound_config_num_threads == 2 %}
	num-queries-per-thread: 225
{% elif unbound_config_num_threads == 4 %}
	num-queries-per-thread: 100
{% endif %}

	rrset-cache-size: 64m
	rrset-cache-slabs: {{ unbound_config_num_threads }}

	infra-cache-slabs: {{ unbound_config_num_threads }}

	prefer-ip6: yes

{% if unbound_config_access_control is defined %}
{%   for access_control in unbound_config_access_control %}
	access-control: {{ access_control }}
{%   endfor %}

{% endif %}
	pidfile: {{ unbound_pid_file }}
#	root-hints: /var/unbound/etc/named.cache
	hide-identity: yes

	hide-version: yes

	hide-trustanchor: yes

	harden-below-nxdomain: yes

	use-caps-for-id: yes

	qname-minimisation: yes

	private-address: 10.0.0.0/8
	private-address: 169.254.0.0/16
	private-address: 172.16.0.0/12
	private-address: 192.168.0.0/16
	private-address: ::ffff:0:0/96
	private-address: fd00::/8
	private-address: fe80::/10

	private-domain: local

	prefetch: yes
	prefetch-key: yes

#	auto-trust-anchor-file: /var/unbound/db/root.key

	key-cache-slabs: {{ unbound_config_num_threads }}

	include: {{ unbound_confdir }}/redirect-zones.conf

remote-control:
	control-enable: yes
	control-interface: /var/run/unbound.sock
