server:
	verbosity: 1

	extended-statistics: yes

{% for interface in unbound_config_interfaces %}
	interface: {{ interface }}
{% endfor %}

{% if unbound_outgoing_port_avoid | length %}
{%   for port in unbound_outgoing_port_avoid %}
	outgoing-port-avoid: {{ port }}
{%   endfor %}

{% endif %}
	ip-freebind: yes

	prefer-ip6: yes

	edns-tcp-keepalive: yes

	msg-cache-size: 32m
	msg-cache-slabs: 2

	rrset-cache-size: 64m
	rrset-cache-slabs: 2

	infra-cache-slabs: 2

{% for access_control in unbound_config_access_controls %}
	access-control: {{ access_control }}
{% endfor %}

	log-queries: yes
	# log-replies: yes
	log-tag-queryreply: yes
	log-servfail: yes

	hide-identity: yes
	hide-version: yes

	private-address: 0.0.0.0/8
	private-address: 10.0.0.0/8         # Private-Use
	private-address: 100.64.0.0/10      # Shared Address Space
	private-address: 127.0.0.0/8        # Loopback
	private-address: 169.254.0.0/16     # Link Local
	private-address: 172.16.0.0/12      # Private-Use
	private-address: 192.0.2.0/24       # Documentation (TEST-NET-1)
	private-address: 192.168.0.0/16     # Private-Use
	private-address: 198.18.0.0/15      # Benchmarking
	private-address: 198.51.100.0/24    # Documentation (TEST-NET-2)
	private-address: 203.0.113.0/24     # Documentation (TEST-NET-3)
	private-address: 240.0.0.0/4        # Reserved
	private-address: 255.255.255.255/32 # Limited Broadcast
	private-address: fd00::/8
	private-address: fe80::/10
	private-address: ::ffff:0:0/96      # IPv4-mapped IPv6 addresses
	private-domain: "{{ domain_name }}"

	prefetch: yes
	prefetch-key: yes
	deny-any: yes

{% if unbound_config_module_config is defined %}
	module-config: "{{ unbound_config_module_config | join(' ') }}"

{% endif %}

{% if smartdns_domains is defined %}
{%   for domain in smartdns_domains %}
	domain-insecure: "{{ domain }}"
{%   endfor %}

{% endif %}
	val-log-level: 2

	serve-expired: yes
	serve-expired-ttl: 86400
	serve-expired-ttl-reset: yes
	serve-expired-reply-ttl: 30
	serve-expired-client-timeout: 1800

	key-cache-slabs: 2

	# https://support.mozilla.org/en-US/kb/canary-domain-use-application-dnsnet
	local-zone: "use-application-dns.net." static

{% if inventory_hostname == 'tombstone' %}
	# DNS-over-HTTPS
	local-zone: "doh.dns.apple.com." static

	local-zone: "{{ domain_name }}." static
	local-zone: "local." static

	{{ unbound_config_local_data | trim | indent('\t') }}

# The following line includes additional configuration files from the
# /etc/unbound/unbound.conf.d directory.
include-toplevel: "/etc/unbound/unbound.conf.d/*.conf"

{% endif %}
# remote-control:
# 	control-enable: yes
# 	control-interface: /var/run/unbound.sock
# 	control-use-cert: no

{% if smartdns_exclusions is defined and unbound_forwarders is defined %}
{%   for domain in smartdns_exclusions %}
forward-zone:
	name: "{{ domain }}."
{%     for address in unbound_forwarders %}
	forward-addr: {{ address }}
{%     endfor %}

{%   endfor %}
{% endif %}
{% if smartdns_domains is defined %}
{%   for domain in smartdns_domains %}
forward-zone:
	name: "{{ domain }}."
{%     for address in smartdns_servers %}
	forward-addr: {{ address }}
{%     endfor %}

{%   endfor %}
{% endif %}
{% if unbound_forwarders is defined %}
forward-zone:
	name: "."
{%   for forwarder in unbound_forwarders %}
	forward-addr: {{ forwarder }}
{%   endfor %}

{% endif %}
#auth-zone:
#	name: "."
#	primary: 199.9.14.201         # b.root-servers.net
#	primary: 2001:500:200::b      # b.root-servers.net
#	primary: 192.33.4.12          # c.root-servers.net
#	primary: 2001:500:2::c        # c.root-servers.net
#	primary: 199.7.91.13          # d.root-servers.net
#	primary: 2001:500:2d::d       # d.root-servers.net
#	primary: 192.5.5.241          # f.root-servers.net
#	primary: 2001:500:2f::f       # f.root-servers.net
#	primary: 192.112.36.4         # g.root-servers.net
#	primary: 2001:500:12::d0d     # g.root-servers.net
#	primary: 193.0.14.129         # k.root-servers.net
#	primary: 2001:7fd::1          # k.root-servers.net
#	primary: 192.0.32.132         # lax.xfr.dns.icann.org
#	primary: 2620:0:2d0:202::132  # lax.xfr.dns.icann.org
#	primary: 192.0.47.132         # iad.xfr.dns.icann.org
#	primary: 2620:0:2830:202::132 # iad.xfr.dns.icann.org
#	#url: "https://www.internic.net/domain/root.zone"
#	for-downstream: no
#	zonefile: "/var/lib/unbound/root.zone"
#	#zonemd-check: yes
#	#zonemd-reject-absence: no
