---
elasticsearch.hosts:
  - http://localhost:9200

logging.dest: /var/log/kibana/kibana.log
logging.json: true
logging.quiet: true
logging.rotate.enabled: true

newsfeed.enabled: false

# pid.file: /var/run/kibana.pid

server.basePath: /kibana
# server.host: "localhost"
# server.maxPayloadBytes: 1048576
# server.name: "your-hostname"
# server.port: 5601
# server.rewriteBasePath: false

status.allowAnonymous: true

telemetry.enabled: false
