[Unit]
Description=Deluge Bittorrent Client Web Interface
Documentation=man:deluge-web
After=deluged.service network-online.target
Wants=deluged.service

[Service]
ExecStart=/opt/deluge/{{ deluge_version }}/bin/deluge-web -d -c /var/lib/deluge/config
Group=deluge
ProtectSystem=strict
ReadWritePaths=/var/lib/deluge \
        /media/media/torrents
Restart=on-failure
Type=simple
UMask=027
User=deluge

[Install]
WantedBy=multi-user.target

; vim: ft=systemd.jinja2
