/etc/mail/secrets
/etc/ansible
/etc/rc.d/homebridge
/etc/ssl/{{ ansible_fqdn }}.chain.pem
/etc/ssl/{{ ansible_fqdn }}.fullchain.pem
/etc/ssl/{{ ansible_fqdn }}.pem
/etc/ssl/private/{{ ansible_fqdn }}.key
/var/dnsupdate
/var/homebridge
/var/unbound/db/rpz.blacklist
/var/unbound/db/rpz.blacklist.*
/var/www/cache

@include "/etc/changelist"
