---
filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/*.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  # Set to true to enable config reloading
  reload.enabled: false
  # Period on which files under path should be checked for changes
  # reload.period: 10s

output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["localhost:9200"]

path.data: /var/lib/filebeat
path.logs: /var/log/filebeat

processors:
  - add_cloud_metadata: ~
  - add_host_metadata: ~

setup.kibana:
  host: "localhost:5601"
  # space.id:

setup.template.settings:
  # index.codec: best_compression
  index.number_of_shards: 3
  # _source.enabled: false
...
