---
filebeat.config.modules:
  enabled: false

filebeat.inputs:
  - type: log
    paths:
      - /var/log/filebeat/filebeat
      - /var/log/heartbeat/heartbeat
    json.add_error_key: true
    json.keys_under_root: true

filebeat.modules:
  # - module: aws
  #   cloudtrail:
  #     enabled: false  # TODO
  #   cloudwatch:
  #     enabled: false
  #   ec2:
  #     enabled: false
  #   elb:
  #     enabled: false
  #   s3access:
  #     enabled: false
  #   vpcflow:
  #     enabled: false
  - module: elasticsearch
    audit:
      enabled: false
    deprecation:
      var.paths:
        - /var/log/elasticsearch/*_deprecation.json
    gc:
      enabled: false
    server:
      var.paths:
        - /var/log/elasticsearch/*_server.json
    slowlog:
      var.paths:
        - /var/log/elasticsearch/*_index_indexing_slowlog.json
        - /var/log/elasticsearch/*_index_search_slowlog.json
  - module: iptables
    log:
      var.syslog_host: "{{ lan_ipv4_address }}"
  - module: kibana
    log:
      var.paths:
        - /var/log/kibana/kibana.log
  - module: nginx
    access:
      var.paths:
        - /var/www/log/access.log
    error:
      var.paths:
        - /var/www/log/error.log
    ingress_controller:
      enabled: false
  # - module: squid
  #   log:
  #     var.input: file
  #     var.paths:
  #       -
  - module: system
    auth:
      var.paths:
        - /var/log/authlog
        - /var/log/secure
    syslog:
      var.paths:
        - /var/log/daemon
        - /var/log/messages

http.enabled: true
http.port: "{{ filebeat_http_port }}"

logging.ecs: true
logging.json: true
logging.metrics.enabled: false

output.elasticsearch:
  hosts:
    - localhost:9200

path.config: /etc/filebeat  # to load modules and dashboards
path.data: /var/db/filebeat
path.home: /etc/filebeat
path.logs: /var/log/filebeat

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded

setup.dashboards.always_kibana: true
setup.dashboards.enabled: true
setup.dashboards.retry.enabled: true

setup.ilm.enabled: false

setup.kibana:
  host: localhost:5601

setup.template.overwrite: true
setup.template.settings:
  # _source.enabled: false
  index.codec: best_compression
  index.number_of_shards: 1
setup.template.type: index
