#!/bin/sh

PATH="/usr/local/bin:${PATH}"

next_part "Updating fullbogon lists:"
TMPFILE=`mktemp` && {
  for v in 4; do
    DBFILE=/var/db/fullbogons-ipv${v}.txt
    ftp -4agMV -o $TMPFILE https://www.team-cymru.org/Services/Bogons/fullbogons-ipv${v}.txt
    test -s $TMPFILE && cmp -s $TMPFILE $DBFILE || {
      mv -f $TMPFILE $DBFILE
      pfctl -q -f $DBFILE -t fullbogons${v} -T replace
    }
  done
  rm -f $TMPFILE
}

next_part "Expiring bruteforce table:"
pfctl -q -t bruteforce -T expire 86400

{% if letsencrypt_domains is defined %}
next_part "Renewing certificates:"
for domain in {{ letsencrypt_domains | join(' ') }}; do
  acme-client -bm -f /etc/acme/privkey.pem ${domain} && {
    rcctl restart nginx || :
  }
done

{% endif %}
next_part "Restart OpenVPN client"
pkill -USR1 -f '^/usr/local/sbin/openvpn .+ --dev tun0' -q -U root
