rtlabel {{ lan_rtlabel }}

inet {{ lan_ipv4|ipaddr('address') }} {{ lan_ipv4|ipaddr('netmask') }} NONE
{% if lan_ipv6 is defined %}
inet6 {{ lan_ipv6|ipaddr('address') }} {{ lan_ipv6|ipaddr('prefix') }}
{% endif %}
up

!/sbin/route -n add -inet 169.254/16 -iface {{ lan_ipv4|ipaddr('address') }}
