vnetid {{ guest_vnetid }} parent {{ lan_if }}
# lladdr random

rdomain {{ guest_rdomain }}

description "Guest Wi-Fi"
inet {{ guest_ipv4|ipaddr('address') }} {{ guest_ipv4|ipaddr('netmask') }} NONE
-inet6
