inet {{ wan_ipv4 | ipaddr('address') }} 255.255.255.255 NONE mtu 1500 \
  pppoedev {{ pppoe_pppoedev }} authproto {{ pppoe_authproto }} \
  authkey '{{ pppoe_authkey }}' authname '{{ pppoe_authname }}' \
  up
dest {{ wan_ipv4_dest }}

!/sbin/route add -inet default -ifp \$if {{ wan_ipv4_dest }}
{% if wan_ipv6 is defined %}

inet6 {{ wan_ipv6 | ipaddr('address') }} {{ wan_ipv6 | ipaddr('prefix') }}

!/sbin/route add -inet6 default -ifp \$if {{ wan_ipv6 | ipaddr('address') }}
{% endif %}
