rtlabel {{ wan_rtlabel }}

inet {{ wan_ipv4|ipaddr('address') }} 255.255.255.255 NONE mtu {{ pppoe_mtu }} \
  pppoedev {{ pppoe_pppoedev }} authproto {{ pppoe_authproto }} \
  authkey '{{ pppoe_authkey }}' authname '{{ pppoe_authname }}' \
  up
dest 0.0.0.1

!/sbin/route -n add -inet default -ifp \$if 0.0.0.1
{% if vpn_client_if is defined %}
{%   if isp_networks is defined %}
{%     for network in isp_networks|ipv4 %}
!/sbin/route -n add -inet -net {{ network }} -ifp \$if 0.0.0.1
{%     endfor %}
{%   endif %}
{% endif %}

inet6 {{ wan_ipv6|ipaddr('address') }} {{ wan_ipv6|ipaddr('prefix') }}
inet6 autoconf

!/sbin/route -n add -inet6 default -ifp \$if fe80::%\$if
