# PATHS
MainDir=/var/lib/nzbget
DestDir={{ library_path }}/usenet/complete
InterDir={{ library_path }}/usenet/incomplete
NzbDir=/var/lib/nzbget/nzb
QueueDir=/var/lib/nzbget/queue
TempDir=/var/lib/nzbget/tmp
WebDir=/opt/nzbget/{{ nzbget_version }}/webui
ScriptDir=/opt/nzbget/scripts
LockFile=/var/lib/nzbget/nzbget.lock
LogFile=/var/nzbget/nzbget.log
ConfigTemplate=${WebDir}/nzbget.conf.template
RequiredDir=
CertStore=/etc/ssl/certs/ca-certificate.crt

# NEWS-SERVERS
{% for server in nzbget_news_servers %}
Server{{ loop.index }}.Active=yes
Server{{ loop.index }}.Name={{ server.name | default('') }}
Server{{ loop.index }}.Level={{ server.level | default(0) }}
Server{{ loop.index }}.Optional={{ server.optional | default('no') }}
Server{{ loop.index }}.Group={{ server.group | default(0) }}
Server{{ loop.index }}.Host={{ server.host }}
Server{{ loop.index }}.Port=563
Server{{ loop.index }}.Username={{ server.username }}
Server{{ loop.index }}.Password={{ server.password }}
Server{{ loop.index }}.JoinGroup=no
Server{{ loop.index }}.Encryption=yes
Server{{ loop.index }}.Cipher={{ server.cipher | default('') }}
Server{{ loop.index }}.Connections={{ server.connections | default(4) }}
Server{{ loop.index }}.Retention={{ server.retention | default(0) }}
Server{{ loop.index }}.IpVersion={{ server.ip_version | default('auto') }}
Server{{ loop.index }}.Notes=
{% endfor %}

# SECURITY
ControlIP=127.0.0.1
ControlPort={{ nzbget_control_port }}
ControlUsername={{ nzbget_control_username }}
ControlPassword={{ nzbget_control_password }}
RestrictedUsername={{ nzbget_restricted_username }}
RestrictedPassword={{ nzbget_restricted_password }}
AddUsername={{ nzbget_add_username }}
AddPassword={{ nzbget_add_password }}
FormAuth=no
SecureControl=no
SecurePort={{ nzbget_secure_port }}
SecureCert=
SecureKey=
AuthorizedIP=
CertCheck=no
UpdateCheck=none
DaemonUsername=root
UMask=007

# CATEGORIES
Category1.Name=lidarr
Category1.DestDir=${DestDir}/lidarr
Category1.Unpack=yes
Category1.Extensions=Clean
Category1.Aliases=
Category2.Name=radarr
Category2.DestDir=${DestDir}/radarr
Category2.Unpack=yes
Category2.Extensions=Clean
Category2.Aliases=
Category3.Name=readarr
Category3.DestDir=${DestDir}/readarr
Category3.Unpack=yes
Category3.Extensions=Clean
Category3.Aliases=
Category4.Name=sonarr
Category4.DestDir=${DestDir}/sonarr
Category4.Unpack=yes
Category4.Extensions=Clean
Category4.Aliases=

# INCOMING NZBS
AppendCategoryDir=yes
NzbDirInterval=5
NzbDirFileAge=60
DupeCheck=yes

# DOWNLOAD QUEUE
FlushQueue=yes
ContinuePartial=yes
PropagationDelay=0
ArticleCache=200
DirectWrite=yes
WriteBuffer=1024
FileNaming=auto
ReorderFiles=yes
PostStrategy=balanced
DiskSpace=1000
NzbCleanupDisk=yes
KeepHistory=30
FeedHistory=7
SkipWrite=no
RawArticle=no

# CONNECTION
ArticleRetries=3
ArticleInterval=10
ArticleTimeout=60
UrlRetries=3
UrlInterval=10
UrlTimeout=60
RemoteTimeout=90
DownloadRate=0
UrlConnections=4
UrlForce=yes
MonthlyQuota=0
QuotaStartDay=1
DailyQuota=0

# LOGGING
WriteLog=rotate
RotateLog=3
ErrorTarget=both
WarningTarget=both
InfoTarget=log
DetailTarget=none
DebugTarget=none
LogBuffer=1000
NzbLog=yes
CrashTrace=yes
CrashDump=no
TimeCorrection=0

# DISPLAY (TERMINAL)
OutputMode=loggable
CursesNzbName=yes
CursesGroup=no
CursesTime=no
UpdateInterval=200

# CHECK AND REPAIR
CrcCheck=yes
ParCheck=auto
ParRepair=yes
ParScan=limited
ParQuick=yes
ParBuffer=200
ParThreads={{ ansible_facts['processor_vcpus'] }}
ParIgnoreExt=.nfo, .nzb, .sfv
ParRename=yes
RarRename=yes
DirectRename=yes
HealthCheck=park
ParTimeLimit=0
ParPauseQueue=yes

# UNPACK
Unpack=yes
DirectUnpack=yes
UnpackPauseQueue=yes
UnpackCleanupDisk=yes
UnrarCmd=/opt/nzbget/{{ nzbget_version }}/unrar7
SevenZipCmd=/opt/nzbget/{{ nzbget_version }}/7za
ExtCleanupDisk=.par2, .sfv
UnpackIgnoreExt=.cbr
UnpackPassFile=

# EXTENSION SCRIPTS
Extensions=
ScriptOrder=
ScriptPauseQueue=no
ShellOverride=
EventInterval=0
