# PATHS
MainDir={{ media_path }}/usenet
DestDir=${MainDir}/complete
InterDir=${MainDir}/incomplete
NzbDir=${MainDir}/nzb
QueueDir=${MainDir}/queue
TempDir=${MainDir}/tmp
WebDir=/usr/share/nzbget/webui
ScriptDir=/var/lib/nzbget/scripts
LockFile=/var/lib/nzbget/nzbget.lock
LogFile=/var/log/nzbget/nzbget.log
ConfigTemplate=${WebDir}/nzbget.conf.template
RequiredDir=
CertStore=/etc/ssl/certs/ca-certificate.crt

# NEWS-SERVERS
{% for server in nzbget_news_servers %}
Server{{ loop.index }}.Active=yes
Server{{ loop.index }}.Name={{ server.name | default('') }}
Server{{ loop.index }}.Level={{ server.level | default(0) }}
Server{{ loop.index }}.Optional={{ server.optional | default('no') }}
Server{{ loop.index }}.Group={{ server.group | default(0) }}
Server{{ loop.index }}.Host={{ server.host }}
Server{{ loop.index }}.Port=563
Server{{ loop.index }}.Username={{ server.username }}
Server{{ loop.index }}.Password={{ server.password }}
Server{{ loop.index }}.JoinGroup=no
Server{{ loop.index }}.Encryption=yes
Server{{ loop.index }}.Cipher={{ server.cipher | default('') }}
Server{{ loop.index }}.Connections={{ server.connections | default(4) }}
Server{{ loop.index }}.Retention={{ server.retention | default(0) }}
Server{{ loop.index }}.IpVersion={{ server.ip_version | default('auto') }}
Server{{ loop.index }}.Notes=
{% endfor %}

# SECURITY
ControlIP=127.0.0.1
ControlPort={{ nzbget_control_port }}
ControlUsername={{ nzbget_control_username }}
ControlPassword={{ nzbget_control_password }}
RestrictedUsername={{ nzbget_restricted_username }}
RestrictedPassword={{ nzbget_restricted_password }}
AddUsername={{ nzbget_add_username }}
AddPassword={{ nzbget_add_password }}
FormAuth=no
SecureControl=no
SecurePort={{ nzbget_secure_port }}
SecureCert=
SecureKey=
AuthorizedIP=
CertCheck=no
UpdateCheck=none
DaemonUsername=root
UMask=7022

# CATEGORIES                                                             ###
Category1.Name=books
Category1.DestDir=${DestDir}/books
Category1.Unpack=yes
Category1.Extensions=Clean.py HashRenamer.py
Category1.Aliases=
Category2.Name=movies
Category2.DestDir=${DestDir}/movies
Category2.Unpack=yes
Category2.Extensions=Clean.py HashRenamer.py
Category2.Aliases=
Category3.Name=music
Category3.DestDir=${DestDir}/music
Category3.Unpack=yes
Category3.Extensions=Clean.py HashRenamer.py
Category3.Aliases=
Category4.Name=tv
Category4.DestDir=${DestDir}/tv
Category4.Unpack=yes
Category4.Extensions=Clean.py HashRenamer.py
Category4.Aliases=tv

# INCOMING NZBS
AppendCategoryDir=yes
NzbDirInterval=5
NzbDirFileAge=60
DupeCheck=yes

# DOWNLOAD QUEUE
FlushQueue=yes
ContinuePartial=yes
PropagationDelay=0
ArticleCache=100
DirectWrite=yes
WriteBuffer=1024
FileNaming=auto
ReorderFiles=yes
PostStrategy=balanced
DiskSpace=250
NzbCleanupDisk=yes
KeepHistory=30
FeedHistory=7
SkipWrite=no
RawArticle=no

# CONNECTION
ArticleRetries=3
ArticleInterval=10
ArticleTimeout=60
UrlRetries=3
UrlInterval=10
UrlTimeout=60
RemoteTimeout=90
DownloadRate=0
UrlConnections=4
UrlForce=yes
MonthlyQuota=0
QuotaStartDay=1
DailyQuota=0

# LOGGING
WriteLog=rotate
RotateLog=3
ErrorTarget=both
WarningTarget=both
InfoTarget=both
DetailTarget=none
DebugTarget=none
LogBuffer=1000
NzbLog=yes
CrashTrace=yes
CrashDump=no
TimeCorrection=0

# DISPLAY (TERMINAL)
OutputMode=loggable
CursesNzbName=yes
CursesGroup=no
CursesTime=no
UpdateInterval=200

# CHECK AND REPAIR
CrcCheck=yes
ParCheck=auto
ParRepair=yes
ParScan=extended
ParQuick=yes
ParBuffer=100
ParThreads=0
ParIgnoreExt=.sfv, .nzb, .nfo
ParRename=yes
RarRename=yes
DirectRename=yes
HealthCheck=park
ParTimeLimit=0
ParPauseQueue=yes

# UNPACK
Unpack=yes
DirectUnpack=yes
UnpackPauseQueue=yes
UnpackCleanupDisk=yes
UnrarCmd=nice unrar
SevenZipCmd=nice 7z
ExtCleanupDisk=.par2, .sfv
UnpackIgnoreExt=.cbr
UnpackPassFile=

# EXTENSION SCRIPTS
Extensions=
ScriptOrder=
ScriptPauseQueue=no
ShellOverride=
EventInterval=0
