[Unit]
After=local-fs.target

[Service]
; AmbientCapabilities=
; CapabilityBoundingSet=
Environment=LANG=en_GB.UTF-8
Environment=TZ={{ timezone }}
LimitCORE=0:0
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateIPC=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
; ProtectProc=
ProtectSystem=strict
; TODO: ReadWritePaths={{ media_path }}/usenet /var/lib/nzbget
ReadWritePaths={{ media_path }} /var/lib/nzbget
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
UMask=0007

; vim: ft=systemd.jinja2
