---
apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
metadata:
  name: k0s
  namespace: kube-system
spec:
  api:
    address: "{{ lan_ipv4_address }}"
    extraArgs:
      admission-control-config-file: /etc/k0s/admission.yaml
    onlyBindToAddress: true
    sans:
      - "{{ lan_ipv4_address }}"
      - "{{ lan_ipv6_address }}"
  controllerManager: {}
  extensions:
    helm:
      repositories:
        - name: openebs-internal
          url: https://openebs.github.io/charts
      charts:
        - chartname: openebs-internal/openebs
          name: openebs
          namespace: openebs
          order: 1
          values: |
            localprovisioner:
              hostpathClass:
                enabled: true
                isDefaultClass: false
            ndm:
              enabled: false
            ndmOperator:
              enabled: false
          version: 3.9.0
  installConfig:
    users:
      etcdUser: etcd
      kineUser: kube-apiserver
      konnectivityUser: konnectivity-server
      kubeAPIserverUser: kube-apiserver
      kubeSchedulerUser: kube-scheduler
  network:
    dualStack:
      IPv6podCIDR: fd00::/108
      IPv6serviceCIDR: fd01::/108
      enabled: true
    kubeProxy:
      # metricsBindAddress: 0.0.0.0:10249
      mode: iptables # explicit default
    kuberouter:
      hairpin: Disabled # Enabled
  scheduler: {}
  storage:
    type: kine
  telemetry:
    enabled: false
