# yamllint disable rule:line-length
---
agent-token: "{{ k3s_server_agent_token | ansible.builtin.trim }}"
bind-address: "{{ lan_ipv4_address }}"
cluster-cidr:
  - 10.42.0.0/16
  - fd42::/56
cluster-dns:
  - 10.43.0.10
  - fd43::10
cluster-init: true
disable: traefik
flannel-backend: wireguard-native
flannel-ipv6-masq: true
node-ip: "{{ lan_ipv4_address }},{{ lan_ipv6_address }}"
node-label:
  - svccontroller.k3s.cattle.io/enablelb=true
protect-kernel-defaults: true
secrets-encryption: true
service-cidr:
  - 10.43.0.0/16
  - fd43::/112
