# yamllint disable rule:line-length
---
{% if kubernetes_node_labels | length -%}
node-label:
{%   for node_label in kubernetes_node_labels | sort | unique -%}
  - "{{ node_label }}"
{%   endfor -%}
{% endif -%}
{% if kubernetes_node_taints | length -%}
node-taint:
{%   for node_taint in kubernetes_node_taints | sort | unique -%}
  - "{{ node_taint }}"
{%   endfor -%}
{% endif -%}
# kube-apiserver-arg:
#   - admission-control-config-file=/var/lib/rancher/k3s/server/psa.yaml
#   - audit-log-maxage=30
#   - audit-log-maxbackup=10
#   - audit-log-maxsize=100
#   - audit-log-path=/var/lib/rancher/k3s/server/logs/audit.log
#   - audit-policy-file=/var/lib/rancher/k3s/server/audit.yaml
#   - enable-admission-plugins=NodeRestriction,EventRateLimit
#   - service-account-extend-token-expiration=false
# kube-controller-manager-arg:
#   - terminated-pod-gc-threshold=100
# kubelet-arg:
#   - streaming-connection-idle-timeout=5m
#   - tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
protect-kernel-defaults: true
server: "{{ k3s_url }}"
token: "{{ k3s_token }}"
