---
- name: install packages
  ansible.builtin.apt:
    name:
      - docker-cli
      - docker.io
      - python3-docker
    install_recommends: false
    state: present

- name: create overrides directory
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d
    owner: root
    group: root
    mode: !!str 0755
    state: directory

- name: configure overrides
  ansible.builtin.template:
    src: overrides.conf.j2
    dest: /etc/systemd/system/docker.service.d/overrides.conf
    owner: root
    group: root
    mode: !!str 0444
  notify: restart docker

- name: enable and start service
  ansible.builtin.systemd_service:
    name: docker.service
    daemon_reload: true
    enabled: true
    state: started

- name: configure swarm
  community.docker.docker_swarm:
    advertise_addr: "{{ lan_ipv4_address }}"
    tls: true
