---
- ansible.builtin.file:
    path: "{{ library_path }}/{{ tdarr_node_item }}"
    owner: "{{ library_uid }}"
    group: "{{ library_gid }}"
    mode: !!str 0700
    state: directory
  loop:
    - .transcode_cache/movies
    - .transcode_cache/tv
    - media/movies
    - media/tv
  loop_control:
    loop_var: tdarr_node_item

- name: create tdarr_node volumes
  community.docker.docker_volume:
    name: tdarr-node-{{ tdarr_node_item }}
  loop:
    - configs
    # - server
  loop_control:
    loop_var: tdarr_node_item

- name: create tdarr_node container
  community.docker.docker_container:
    comparisons:
      "*": strict
    cap_drop:
      - ALL
    capabilities:
      - CAP_CHOWN
      - CAP_SETGID
      - CAP_SETUID
    # devices:
    #   - /dev/dri:/dev/dri
    env:
      PGID: "{{ library_gid }}"
      PUID: "{{ library_uid }}"
      TZ: "{{ timezone }}"
      ffmpegVersion: !!str 7
      inContainer: !!str true
      nodeName: "{{ ansible_facts['hostname'] }}"
      # pathTranslators: "{{ [{server: '\\\\TOMBSTONE\\Media', node: '/data/media'}] | tojson | safe}}"
      serverIP: "{{ hostvars.tombstone.ansible_facts['default_ipv4'].address }}"
      serverPort: !!str 8266
    # groups:
    #   - 44 # `video` -- FIXME
