---
- when: ansible_facts['system'] == 'Linux'
  block:
    - ansible.builtin.import_tasks: linux.yaml

- when: ansible_facts['os_family'] == 'Windows'
  block:
    - ansible.builtin.import_tasks: windows.yaml
