server {
	listen 80;
	listen [::]:80;
	server_name ~^cdn-images-\d+\.medium\.com$;

	location / {
		proxy_pass https://$host;
	}
}

server {
	listen 80;
	listen [::]:80;
	server_name ~^(?<author>.+)\.medium\.com$;

	location / {
		return 301 https://medium.com/@$author$request_uri;
	}
}

server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name _;

	location / {
		proxy_pass http://tasks.scribe:{{ scribe_port }};
	}
}

# vim: ft=nginx.jinja2
