---
http:
  middlewares:
    local-network-whitelist:
      ipWhitelist:
        sourceRange: "{{ lan_ipv4_subnet }}"
        # sourceRange: "{{ lan_ipv4_subnet }},{{ vpn_ipv4_subnet }}"

    security-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        customResponseHeaders:
          X-Powered-By: ""
        frameDeny: true
        permissionsPolicy: interest-cohort=()
        referrerPolicy: same-origin

tls:
  certificates:
    - certFile: /usr/local/etc/ssl/bibliogram.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/bibliogram.{{ domain_name }}.key
    - certFile: /usr/local/etc/ssl/grafana.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/grafana.{{ domain_name }}.key
    - certFile: /usr/local/etc/ssl/invidious.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/invidious.{{ domain_name }}.key
    - certFile: /usr/local/etc/ssl/nitter.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/nitter.{{ domain_name }}.key
    - certFile: /usr/local/etc/ssl/rimgo.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/rimgo.{{ domain_name }}.key
    - certFile: /usr/local/etc/ssl/scribe.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/scribe.{{ domain_name }}.key
    - certFile: /usr/local/etc/ssl/teddit.{{ domain_name }}.crt
      keyFile: /usr/local/etc/ssl/private/teddit.{{ domain_name }}.key
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true
