server {
	listen {{ ansible_default_ipv4.address }}:80;
	listen {{ ansible_default_ipv6.address | ansible.utils.ipwrap }}:80;
	server_name traefik.{{ domain_name }};

	allow {{ ansible_default_ipv4.network }}/{{ ansible_default_ipv4.prefix }};
	allow {{ ansible_default_ipv6.address }}/{{ ansible_default_ipv6.prefix }};
	deny all;

	location / {
		proxy_pass http://localhost:8080;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}

# vim: ft=nginx.jinja2
