---
- name: create namespace
  kubernetes.core.k8s:
    apply: true
    resource_definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: traefik
    server_side_apply:
      field_manager: ansible

- kubernetes.core.k8s:
    apply: true
    namespace: traefik
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        annotations: {}
        labels:
          app.kubernetes.io/managed-by: Ansible
        name: helm-values
      stringData:
        uptrace_dsn: "{{ uptrace_dsn }}"
      type: Opaque
    server_side_apply:
      field_manager: ansible
