---
- name: create config dir
  ansible.builtin.file:
    path: /etc/traefik
    owner: root
    group: root
    mode: !!str 0755
    state: directory

- name: configure
  ansible.builtin.template:
    src: traefik.yml.j2
    dest: /etc/traefik/traefik.yml
    owner: root
    group: root
    mode: !!str 0444
  register: traefik_config

- community.docker.docker_swarm_service:
    cap_add:
      - NET_BIND_SERVICE
    cap_drop:
      - ALL
    force_update: "{{ traefik_config is changed }}"
    healthcheck:
      test:
        - CMD
        - traefik
        - healthcheck
        - --ping
    image: traefik:v3.6.7
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.rule: Host(`traefik.{{ domain_name }}`)
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.entrypoints: web
      traefik.http.services.traefik.loadbalancer.server.port: 8080
    mounts:
      - readonly: true
        source: /etc/traefik/traefik.yml
        target: /etc/traefik/traefik.yml
        type: bind
      - source: /run/docker.sock
        target: /run/docker.sock
        type: bind
    name: traefik
    publish:
      - mode: host
        published_port: 80
        target_port: 80
      - mode: host
        published_port: 443
        target_port: 443
    read_only: true
    restart_config:
      condition: any
      delay: 5s
    tls: true

- name: publish DNS
  ansible.builtin.import_role:
    name: unbound
    tasks_from: fragment.yaml
  vars:
    unbound_content: |
      server:
        local-data: "traefik.{{ domain_name }}. A {{ lan_ipv4_address }}"
    unbound_dest: local-data-traefik.conf
