# Welcome to the chrony configuration file. See chrony.conf(5) for more
# information about usable directives.

# # Include configuration files found in /etc/chrony/conf.d.
# confdir /etc/chrony/conf.d

# Time Sources
server nts.netnod.se iburst nts
server time.cloudflare.com iburst nts
pool sg.pool.ntp.org iburst
dumpdir /var/lib/chrony
ntsdumpdir /var/lib/chrony

# System Clock
driftfile /var/lib/chrony/chrony.drift
leapsecmode slew
leapsectz right/UTC
makestep 0.1 3
maxupdateskew 100.0
maxslewrate 1000

# NTP server
smoothtime 400 0.001024 leaponly

# Real-time Clock
rtcsync

# Logging
logdir /var/log/chrony

# Miscellaneous
keyfile /etc/chrony/chrony.keys

# # Use NTP sources found in /etc/chrony/sources.d.
# sourcedir /etc/chrony/sources.d
