# See ntpd.conf(5) and /etc/examples/ntpd.conf
{% if ntpd_listen_on is defined %}

{%   for address in ntpd_listen_on %}
listen on {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_query_from is defined %}

{%   for address in ntpd_query_from %}
query from {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_server is defined %}

{%   for address in ntpd_server %}
server {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_servers is defined %}

{%   for address in ntpd_servers %}
servers {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_constraint is defined %}

{%   for url in ntpd_constraint %}
constraint from "{{ url }}"
{%   endfor %}
{% endif %}
{% if ntpd_constraints is defined %}

{%   for url in ntpd_constraints %}
constraints from "{{ url }}"
{%   endfor %}
{% endif %}
