# See ntpd.conf(5) and /etc/examples/ntpd.conf
{% if ntpd_config_listen_on is defined %}

{%   for address in ntpd_config_listen_on %}
listen on {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_config_server is defined %}

{%   for address in ntpd_config_server %}
server {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_config_servers is defined %}

{%   for address in ntpd_config_servers %}
servers {{ address }}
{%   endfor %}
{% endif %}
{% if ntpd_config_constraint is defined %}

{%   for url in ntpd_config_constraint %}
constraint from "{{ url }}"
{%   endfor %}
{% endif %}
{% if ntpd_config_constraints is defined %}

{%   for url in ntpd_config_constraints %}
constraints from "{{ url }}"
{%   endfor %}
{% endif %}
