channel {{ item.value.channel }}
fileprefix {{ item.value.fileprefix }}
output {{ item.value.output }}
type {{ item.value.type }}
whitespace {{ item.value.whitespace }}
search0 {{ item.value.search0 }}
