[Unit]
After=local-fs.target network.target

[Service]
; AmbientCapabilities=
; CapabilityBoundingSet=
Environment=LANG=en_GB.UTF-8
Environment=TZ={{ timezone }}
ExecStart=/opt/radarr/{{ radarr_version }}/Radarr -data=/var/lib/radarr -nobrowser
LimitCORE=0:0
LockPersonality=yes
; MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateIPC=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
; ProtectProc=
ProtectSystem=strict
; TODO: ReadWritePaths={{ media_path }}/backups/radarr {{ media_path }}/media/movies {{ media_path }}/torrents/complete/movies {{ media_path }}/usenet/complete/movies /var/lib/radarr
ReadWritePaths={{ media_path }} /var/lib/radarr
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
Type=simple
UMask=0007
User=radarr
WorkingDirectory=/var/lib/radarr

[Install]
WantedBy=multi-user.target

; vim: ft=systemd.jinja2
