[Interface]
Address = {{ wireguard_item.ipv4_address }}/32
DNS = {{ wireguard_ipv4_address }}
PrivateKey = {{ wireguard_item.private_key }}

[Peer]
AllowedIPs = {{ wireguard_ipv4_address }}/32
Endpoint = {{ hostvars.gateway.wan_ipv4_address }}:{{ wireguard_port }}
PreSharedKey = {{ wireguard_preshared_key }}
PublicKey = {{ wireguard_public_key }}
