[Interface]
Address = {{ wireguard_item.ipv4_address }}/24
DNS = {{ wireguard_ipv4_address }}
PrivateKey = {{ wireguard_item.private_key }}

[Peer]
AllowedIPs = 0.0.0.0/0
Endpoint = {{ hostvars.gateway.wan_ipv4_address }}:51820
PreSharedKey = {{ wireguard_preshared_key }}
PublicKey = {{ wireguard_public_key }}
