auto {{ wireguard_item.key }}

iface {{ wireguard_item.key }} inet static
	address {{ wireguard_item.value.address | ansible.utils.ipv4 | first }}
	pre-up ip link add {{ wireguard_item.key }} type wireguard
	pre-up wg setconf {{ wireguard_item.key }} /etc/wireguard/{{ wireguard_item.value.config }}.conf
	## route packages when the VPN interface is up
	#post-up sysctl --write net.ipv4.ip_forward=1
	## and stop routing when stopping the VPN interface
	#post-down sysctl --write net.ipv4.ip_forward=0
	post-down ip link del {{ wireguard_item.key }}
{% if (wireguard_item.value.address | ansible.utils.ipv6) | length %}

iface {{ wireguard_item.key }} inet6 static
	address {{ wireguard_item.value.address | ansible.utils.ipv6 | first }}
	## route packages when the VPN interface is up
	#post-up sysctl --write net.ipv6.conf.all.forwarding=1
	## and stop routing when stopping the VPN interface
	#post-down sysctl --write net.ipv6.conf.all.forwarding=0
{% endif %}
