[Interface]
#Address = {{ wireguard_ipv4_address }}/24
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key }}
{% for peer in wireguard_peers %}

[Peer]
{%   if ansible_hostname == 'tombstone' %}
AllowedIPs = {{ peer.ipv4_address }}/32
{%   else %}
AllowedIPs = {{ peer.ipv4_address }}/32,{{ hostvars.tombstone.lan_ipv4_subnet }}
{%   endif %}
{%   if 'endpoint' in peer %}
Endpoint = {{ peer.endpoint }}
{%   endif %}
PersistentKeepalive = 25
PreSharedKey = {{ wireguard_preshared_key }}
PublicKey = {{ peer.public_key }}
{% endfor %}
