[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
PrivateKey={{ wireguard_private_key }}
ListenPort=51820
{% for peer in wireguard_peers %}

[WireGuardPeer]
PublicKey={{ peer.public_key }}
PreSharedKey={{ wireguard_preshared_key }}
AllowedIPs={{ peer.ipv4_address }}/32
{% endfor %}
