server {
	listen {{ ansible_default_ipv4.address }}:80;
	listen {{ ansible_default_ipv6.address | ansible.utils.ipwrap }}:80;
	server_name emby.{{ domain_name }};

	location / {
		return 301 http://$host:8096;
	}
}

# vim: ft=nginx.jinja2
