#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

AcceptEnv LANG
AcceptEnv LANGUAGE
AcceptEnv LC_ADDRESS
AcceptEnv LC_ALL
AcceptEnv LC_COLLATE
AcceptEnv LC_CTYPE
AcceptEnv LC_IDENTIFICATION
AcceptEnv LC_MEASUREMENT
AcceptEnv LC_MESSAGES
AcceptEnv LC_MONETARY
AcceptEnv LC_NAME
AcceptEnv LC_NUMERIC
AcceptEnv LC_PAPER
AcceptEnv LC_TELEPHONE
AcceptEnv LC_TIME
AcceptEnv XMODIFIERS
AllowAgentForwarding no
AllowStreamLocalForwarding no
AllowTcpForwarding no
AllowUsers {{ sshd_config_allow_users | sort | join(' ') }}
AuthenticationMethods publickey
#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody
AuthorizedKeysFile .ssh/authorized_keys
#AuthorizedPrincipalsCommand none
#AuthorizedPrincipalsCommandUser nobody
#AuthorizedPrincipalsFile none
#Banner none
#ChrootDirectory none
#Ciphers {{ sshd_config_ciphers | join(',') }}
#ClientAliveCountMax 3
ClientAliveInterval 20
#Compression yes
DisableForwarding yes
#GatewayPorts no
HostKey /etc/ssh/ssh_host_ed25519_key
#HostKeyAlgorithms {{ sshd_config_host_key_algorithms | join(',') }}
#HostbasedAuthentication no
#IgnoreRhosts yes
#IgnoreUserKnownHosts no
KbdInteractiveAuthentication no
KexAlgorithms -diffie-hellman-group14-sha256,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521
LoginGraceTime 1m
#LogLevel INFO
MACs -hmac-sha1,hmac-sha1-etm@openssh.com,hmac-sha2-256,hmac-sha2-512,umac-64@openssh.com,umac-64-etm@openssh.com,umac-128@openssh.com
MaxAuthTries 3
#MaxSessions 10
#MaxStartups 10:30:100
PasswordAuthentication no
#PermitEmptyPasswords no
PermitRootLogin prohibit-password
#PermitTTY yes
#PermitTunnel no
#PermitUserEnvironment no
#PidFile /run/sshd.pid
#PrintLastLog yes
PrintMotd no
#PubkeyAcceptedAlgorithms {{ sshd_config_pubkey_accepted_algorithms | sort | join(',') }}
#PubkeyAuthentication yes
#RekeyLimit default none
#StrictModes yes
Subsystem sftp internal-sftp
#SyslogFacility AUTH
TCPKeepAlive no
#UseDNS no
#UsePAM no
#VersionAddendum none
#X11DisplayOffset 10
#X11Forwarding no
#X11UseLocalhost yes
