#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

AcceptEnv LANG
AcceptEnv LC_*
AllowAgentForwarding no
AllowStreamLocalForwarding no
AllowTcpForwarding no
AllowUsers {{ sshd_config_allow_users | sort | join(' ') }}
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys
#Banner none
#ChrootDirectory none
ClientAliveCountMax 3
ClientAliveInterval 20
#Compression yes
DebianBanner no
DisableForwarding yes
#GatewayPorts no
HostKey /etc/ssh/ssh_host_ed25519_key
HostKeyAlgorithms {{ sshd_config_host_key_algorithms | join(',') }}
#HostbasedAuthentication no
#IgnoreRhosts yes
#IgnoreUserKnownHosts no
KbdInteractiveAuthentication no
LoginGraceTime 1m
LogLevel VERBOSE
MaxAuthTries 3
#MaxSessions 10
#MaxStartups 10:30:100
PasswordAuthentication no
#PermitEmptyPasswords no
PermitRootLogin no
#PermitTTY yes
#PermitTunnel no
PermitUserEnvironment no
PermitUserRC no
#PidFile /run/sshd.pid
#PrintLastLog yes
PrintMotd no
PubkeyAcceptedAlgorithms {{ sshd_config_pubkey_accepted_algorithms | join(',') }}
#PubkeyAuthentication yes
#RekeyLimit default none
#StrictModes yes
Subsystem sftp internal-sftp -f AUTHPRIV -l INFO
#SyslogFacility AUTH
TCPKeepAlive no
#UseDNS no
UsePAM no
VersionAddendum none
#X11Forwarding no

Match Address !{{ hostvars.gateway.ansible_default_ipv4.address }},{{ lan_ipv4_subnet }}
	PermitRootLogin prohibit-password

Match Address {{ lan_ipv6_link_subnet }}
	PermitRootLogin prohibit-password

# vim: ft=sshdconfig.jinja2
