[Unit]
After=network.target {{ media_mount_unit_name }}
Description=SABnzbd Daemon
Requires={{ media_mount_unit_name }}

[Service]
ExecStart=/opt/sabnzbd/{{ sabnzbd_version }}/venv/bin/python3 /opt/sabnzbd/{{ sabnzbd_version }}/SABnzbd.py --browser=0 --config-file={{ sabnzbd_home }}/config.ini --disable-file-log --server=127.0.0.1:{{ sabnzbd_port }}
Group=sabnzbd
KillMode=process
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=tmpfs
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths={{ media_path }}
RemoveIPC=yes
Restart=on-failure
RestrictRealtime=yes
StateDirectory=sabnzbd
StateDirectoryMode=0750
SupplementaryGroups={{ media_group }}
TimeoutStopSec=20
Type=simple
UMask=002
User=sabnzbd
WorkingDirectory={{ sabnzbd_home }}

[Install]
WantedBy=multi-user.target

# vim: ft=systemd.jinja2
