commandtv cp -f '<filename>' '/Volumes/iTunes Media HD/Automatically Add to iTunes.localized'
excludechannel BBC Alba,CBBC,CBeebies,S4C
output {{ lookup('env', 'HOME') }}/Downloads/iPlayer Downloads
refreshexcludegroups regional,local
subdir
thumbsquare 1
