{
  "bridge": {
    "name": "Homebridge",
    "username": "{{ homebridge_config_bridge_username }}",
    "pin": "{{ homebridge_config_bridge_pin }}"
  },
  "accessories": [
    {
      "accessory": "UniFi Occupancy Sensor",
      "name": "Occupancy Sensor",
      "unifi": {
        "controller": "{{ homebridge_config_accessories_unifi_controller }}",
        "username": "{{ homebridge_config_accessories_unifi_username }}",
        "password": "{{ homebridge_config_accessories_unifi_password }}",
        "site": "default"
      },
      "watch": [
        "{{ homebridge_config_accessories_watch|join('","') }}"
      ],
      "watchGuests": true,
      "mode": "any"
    }
  ],
  "platforms":[
    {
      "platform": "BraviaPlatform",
      "tvs": [
        {
          "name": "TV",
          "ip": "{{ homebridge_config_platforms_bravia_ip }}",
          "sources": [
            "extInput:hdmi",
            "extInput:component",
            "extInput:cec",
            "extInput:widi"
          ],
          "applications": false,
          "soundoutput": "speaker",
          "cookiepath": "/homebridge/sonycookie"
        }
      ]
    }
  ]
}
