#!/sbin/openrc-run

name="Homebridge"
description="HomeKit support for the impatient."

supervisor=supervise-daemon
command="/var/lib/homebridge/node_modules/.bin/homebridge"
command_args="-Q -T -U /var/lib/homebridge"
command_user="homebridge:homebridge"
output_log="/var/log/homebridge.log"
error_log="/var/log/homebridge.log"

depend() {
  need net
}

start_pre() {
  [ -n "${output_log}" ] && checkpath -f "${output_log}" -m 644 -o "${command_user}"
  [ -n "${error_log}" ] && checkpath -f "${error_log}" -m 644 -o "${command_user}"
}
