[Unit]
After=network-online.target
Description=HomeKit Server
Documentation=https://homebridge.io

[Service]
CapabilityBoundingSet=
DeviceAllow=
ExecStart=/usr/bin/npm exec -- homebridge -Q -T -U /var/lib/homebridge
Group=homebridge
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
#ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
#ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/homebridge/accessories /var/lib/homebridge/persist
RemoveIPC=yes
Restart=on-failure
RestartSec=20
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=yes
RestrictSUIDSGID=yes
SecureBits=
SystemCallArchitectures=native
Type=simple
UMask=0077
User=homebridge
WorkingDirectory=/var/lib/homebridge

[Install]
WantedBy=multi-user.target
