[Unit]
Description=Unbound exporter for Prometheus
Requires=unbound.service

[Service]
CapabilityBoundingSet=
ExecStart=/usr/local/bin/prometheus-unbound-exporter -unbound.host unix:///run/unbound.ctl -web.listen-address localhost:{{ prometheus_unbound_exporter_port }}
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/run/unbound.ctl
RemoveIPC=yes
Restart=on-failure
RestartSec=20
RestrictRealtime=yes
RestrictSUIDSGID=yes
SecureBits=
SupplementaryGroups=unbound
SystemCallArchitectures=native
Type=simple
User=prometheus

[Install]
WantedBy=multi-user.target
