[Unit]
Description=Unbound exporter for Prometheus

[Service]
CapabilityBoundingSet=
ExecStart=/usr/local/bin/prometheus-unbound-exporter -web.listen-address localhost:{{ prometheus_unbound_exporter_port }}
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RemoveIPC=yes
Restart=on-failure
RestartSec=20
RestrictRealtime=yes
RestrictSUIDSGID=yes
SecureBits=
SystemCallArchitectures=native
Type=simple
User=root

[Install]
WantedBy=multi-user.target
