{
  "bind": ":12003",
  "base_dir": "/usr/local/share/facette",
  "providers_dir": "/etc/facette/providers",
  "data_dir": "/var/facette/data",
  "pid_file": "/var/facette/facette.pid",
  "hide_build_details": true
}
