---
listen: localhost:12003
# listen: unix:/var/run/facette.sock
# socket_mode: 644
# socket_user: facette
# socket_group: facette

graceful_timeout: 30

root_path: /facette

log_path:
log_level: info

backend:
  driver: sqlite
  path: /var/facette/data.db

frontend:
  enabled: true
  assets_dir: /usr/local/share/facette/assets

default_time_range: -1h

hide_build_details: true

read_only: false
