$ORIGIN 32.87.187.81.in-addr.arpa.
$TTL 300 ; default time to live

@	IN	SOA	tombstone.{{ global_domain }}. hostmaster.{{ global_domain }}. (
			2016030300	; serial
			7200		; refresh
			300		; retry
			1209600		; expire
			1800 )		; minimum

		NS	tombstone.{{ global_domain }}.
		NS	secondary-dns.co.uk.

		PTR	tombstone.{{ global_domain }}.
