$ORIGIN cannoli.london.
$TTL 3600

@		IN	SOA	tombstone.{{ global_domain }} hostmaster (
				2017020501	; serial number
				7200		; refresh = 2h
				300		; update retry = 5m
				1209600		; expiry = 2w
				1800 )		; nxdomain ttl = 30m

			NS	c.ns.buddyns.com.
			NS	secondary-dns.co.uk.
			NS	d.ns.buddyns.com.
			NS	f.ns.buddyns.com.
			NS	g.ns.buddyns.com.

			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.
			TXT	"v=spf1 include:spf.messagingengine.com ?all"

			CAA	0 issue "letsencrypt.org"
			CAA	0 issuewild ";"

			A	81.187.87.32
			AAAA	2001:8b0:d05:c72c::51bb:5720

mesmtp._domainkey	TXT	"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDN+3CBXpvW8j9VDa0+6VNxCixZQ3mR5cUG5JQljMSk+qMGBwTb+EglO6szqKUsWMhY5Wo1Fon4I2yrebyep8j4QV8eo9+fCTbItLIe8V3Tj+VaOQKOsApqRc+E/irDaAr1wu/o2RiEnfC9uCJh48tjdc3cyFLvck3Yx5CgjzDcMwIDAQAB"
_adsp._domainkey	TXT	"dkim=unknown"

*			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.
