$ORIGIN leavethegun.com.
$TTL 3600

@		IN	SOA	tombstone.{{ global_domain }}. hostmaster.{{ global_domain }}. (
				2017032700	;serial
				10800		;refresh
				1800		;retry
				604800		;expire
				86400 )		;minimum

			NS	c.ns.buddyns.com.
			NS	d.ns.buddyns.com.
			NS	g.ns.buddyns.com.
			NS	secondary-dns.co.uk.

			MX	10 aspmx.l.google.com.
			MX	20 alt1.aspmx.l.google.com.
			MX	20 alt2.aspmx.l.google.com.
			MX	30 aspmx2.googlemail.com.
			MX	30 aspmx3.googlemail.com.
			TXT	"v=spf1 include:_spf.google.com ~all"

			CAA	0 issue "letsencrypt.org"
			CAA	0 issuewild ";"

			A	81.187.87.32

			TXT	"google-site-verification=7BKGFQOXN8Qe77d8SB7XU9PN53hOAcmNNrn1f9tSves"

google._domainkey	TXT	"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCShFPs7T98hxS0j0lK9wkdLZVwVbqCKAQxsPnrX7BrbFLPr+UyGAubCUvp9UxtvEjdwZASr/R7H77IWuwRK/+nLOMZ8O8+j94+hwzGcwtqXr2iXtQcrZd3wTSB0Ex3/e1oYTK5y43d5VB0+z9pCmUH+r0TD5bU+rB60tzDcLotgQIDAQAB"

londoncannolimap	CNAME	www
m			CNAME	londoncannolimap
mail			CNAME	ghs.google.com.
www			A	81.187.87.32
