$ORIGIN osborn.ws.
$TTL 3600

@		IN	SOA	tombstone.{{ global_domain }}. hostmaster.{{ global_domain }}. (
				2017020900	; serial number
				7200		; refresh = 2h
				300		; update retry = 5m
				1209600		; expiry = 2w
				1800 )		; nxdomain ttl = 30m

			NS	c.ns.buddyns.com.
			NS	d.ns.buddyns.com.
			NS	g.ns.buddyns.com.
			NS	secondary-dns.co.uk.

			MX	1 aspmx.l.google.com.
			MX	5 alt1.aspmx.l.google.com.
			MX	5 alt2.aspmx.l.google.com.
			MX	10 alt3.aspmx.l.google.com.
			MX	10 alt4.aspmx.l.google.com.

			TXT	"v=spf1 include:_spf.google.com ~all"
			TXT	"keybase-site-verification=Ja5bgvX88XlN7aKAcL28I5VAXfNNdy90VAyEvamgkQE"
google._domainkey	TXT	"v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtUP/vIbWUwcSdl9NHS878BrrvqFMmXkg5+wjq2BRak5vEy8a0OCdWuOwbXJ9n4qLr1WCKoejzISEMUtRtBcb/RFpMgTXFyvtlYXC4fWiV89ATeQWR3vhPLIVfZMXJmurlzvUYg+aLhWW56P5aU+qrc8dkC0uh91xdk8d7ZBNJkhXw2UqAUTPk" "PJtLOGCvfDxfaovvwKl8QAwYtoRA8PNRI88MamrZapYQR5jCIkizZbcSxhFAG0PUFmC+36Bj3kkgKns6r2eaqG3oofP9xgq1dPYSZxf0pcbC5GQzNTVTMiVG8ZA9DHEX3CtQfNz9R3Ct1741wARgvUGbXYFxznXKQIDAQAB"

family			CNAME	ghs.googlehosted.com.
lordbill47		CNAME	ghs.googlehosted.com.
test			CNAME	ghs.googlehosted.com.
ww1			CNAME	ghs.googlehosted.com.
www			CNAME	ghs.googlehosted.com.
