$ORIGIN {{ global_domain }}.
$TTL 300

@		IN	SOA	tombstone hostmaster (
				2017020900	; serial number
				7200		; refresh = 2h
				300		; update retry = 5m
				1209600		; expiry = 2w
				1800 )		; nxdomain ttl = 30m

			NS	c.ns.buddyns.com.
			NS	secondary-dns.co.uk.
			NS	d.ns.buddyns.com.
			NS	f.ns.buddyns.com.
			NS	g.ns.buddyns.com.

			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.
			TXT	"v=spf1 include:spf.messagingengine.com ?all"

			CAA	0 issue "letsencrypt.org"
			CAA	0 issuewild ";"

			TXT	"google-site-verification=7sk8qJzYVrVYBq6gk135CfGRaLAa2fH5hWhEVEBNgqI"
			TXT	"keybase-site-verification=DUsdjmmiojklIHJHtov-XCzpmRm_iEfM8OxQIb-CINw"

			TXT	"protonmail-verification=64d919e28849f07ef74e8c24881ad547805bab3e"

mesmtp._domainkey	TXT	"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCZUA/PvgavDXPo2qURa3GlsxZRqAKLmcDlDlFJL6hx00xj2vUdtWWvlHvofWWvK85xVKrKzdyo18riYrW5OU6GyoaNGDxrz2g5902cJoNT9f9FOHkK9TvOxb3AYX0FyLoOkLwW9cZ1uw6k00RvWwiwCFbOpJdzSNCbji/H5UlGcQIDAQAB"
_adsp._domainkey	TXT	"dkim=unknown"

_caldav._tcp		SRV	0 0 0 .
_caldavs._tcp		SRV	0 1 443 caldav.fastmail.com.
_carddav._tcp		SRV	0 0 0 .
_carddavs._tcp		SRV	0 1 443 carddav.fastmail.com.
_imap._tcpo		SRV	0 0 0 .
_imaps._tcp		SRV	0 1 993 imap.fastmail.com.
_pop3._tcp		SRV	0 0 0 .
_pop3s._tcp		SRV	10 1 995 pop.fastmail.com.
_submission._tcp	SRV	0 1 587 smtp.fastmail.com.

*			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.

tombstone		A	81.187.87.32
			AAAA	2001:8b0:d05:c72c::51bb:5720
			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.
			SSHFP	2 1 fdf4d34522160446c6b68333d49701f25e67bd52
			SSHFP	2 2 16bdef12035c14becb6b593f9ebb2476eaaf27e1751aeff628a1e8dc34505870
			SSHFP	4 1 a501974e25bc3a40e572e7e5d40a0f806088850e
			SSHFP	4 2 d7bb28a3b3b236d815e884e19e4457be82c5e1d8d41b893f9545eb97c29de4b4
