$ORIGIN {{ global_domain }}.
$TTL 3600

@		IN	SOA	tombstone hostmaster (
				2018021800	; serial number
				7200		; refresh = 2h
				300		; update retry = 5m
				1209600		; expiry = 2w
				1800 )		; nxdomain ttl = 30m

			NS	c.ns.buddyns.com.
			NS	d.ns.buddyns.com.
			NS	h.ns.buddyns.com.
			NS	j.ns.buddyns.com.

			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.
			TXT	"v=spf1 include:spf.messagingengine.com ?all"

			CAA	0 issue "letsencrypt.org"
			CAA	0 issuewild ";"

			TXT	"google-site-verification=7sk8qJzYVrVYBq6gk135CfGRaLAa2fH5hWhEVEBNgqI"
			TXT	"keybase-site-verification=DUsdjmmiojklIHJHtov-XCzpmRm_iEfM8OxQIb-CINw"
			TXT	"protonmail-verification=64d919e28849f07ef74e8c24881ad547805bab3e"

mesmtp._domainkey	CNAME	mesmtp.osborn.io.dkim.fmhosted.com.
fm1._domainkey		CNAME	fm1.osborn.io.dkim.fmhosted.com.
fm2._domainkey		CNAME	fm2.osborn.io.dkim.fmhosted.com.
fm3._domainkey		CNAME	fm3.osborn.io.dkim.fmhosted.com.

_adsp._domainkey	TXT	"dkim=unknown"

_caldav._tcp		SRV	0 0 0 .
_caldavs._tcp		SRV	0 1 443 caldav.fastmail.com.
_carddav._tcp		SRV	0 0 0 .
_carddavs._tcp		SRV	0 1 443 carddav.fastmail.com.
_imap._tcpo		SRV	0 0 0 .
_imaps._tcp		SRV	0 1 993 imap.fastmail.com.
_pop3._tcp		SRV	0 0 0 .
_pop3s._tcp		SRV	10 1 995 pop.fastmail.com.
_submission._tcp	SRV	0 1 587 smtp.fastmail.com.

nick			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.

tombstone		A	{{ hostvars['tombstone']['wan_ipv4']|ipaddr('address') }}
			AAAA	{{ hostvars['tombstone']['wan_ipv6']|ipaddr('address') }}
			MX	10 in1-smtp.messagingengine.com.
			MX	20 in2-smtp.messagingengine.com.
			SSHFP	1 1 62b09e90aecf810f7a34dcfd17e4a2d876f16715
			SSHFP	1 2 93962db3322f1cdadb5fd48d1af6bb65b39b5945a97a717566b1b0890b5ced76
			SSHFP	4 1 e5e84eeade4c7fac01297ded016eb1c12325b9b9
			SSHFP	4 2 8dd0dd0d09fcd1600f8faf8f7fa8cf2b6d554c045468b7c46d22621be442cf21
