#!/bin/ksh

PATH="/usr/local/sbin:/usr/local/bin:${PATH}"
{% if pf_bogons_v4_table is defined or pf_bogons_v6_table is defined %}

next_part 'Updating bogon lists:'
{%   if pf_bogons_v4_table is defined %}
TMPFILE=`mktemp` && {
  DBFILE=/var/db/{{ pf_bogons_v4_file }}
  ftp -agMV -o ${TMPFILE} https://www.team-cymru.org/Services/Bogons/{{ pf_bogons_v4_file }}
  test -s ${TMPFILE} && cmp -s ${TMPFILE} ${DBFILE} || {
    mv -f ${TMPFILE} ${DBFILE}
    pfctl -q -f ${DBFILE} -t {{ pf_bogons_v4_table }} -T replace
  }
  rm -f ${TMPFILE}
}
{%   endif %}
{%   if pf_bogons_v6_table is defined %}
TMPFILE=`mktemp` && {
  DBFILE=/var/db/{{ pf_bogons_v6_file }}
  ftp -agMV -o ${TMPFILE} https://www.team-cymru.org/Services/Bogons/{{ pf_bogons_v6_file }}
  test -s ${TMPFILE} && cmp -s ${TMPFILE} ${DBFILE} || {
    mv -f ${TMPFILE} ${DBFILE}
    pfctl -q -f ${DBFILE} -t {{ pf_bogons_v6_table }} -T replace
  }
  rm -f ${TMPFILE}
}
{%   endif %}
{% endif %}
{% if pf_bruteforce_table is defined %}

next_part 'Expiring bruteforce table:'
pfctl -q -t {{ pf_bruteforce_table }} -T expire 86400
{% endif %}
